<h1 class="{{>_textStyle default="serif"}} text-sm-{{>_mobileTextAlign}} h1" style="{{>_textColor}} {{>_textAlign}} {{>_margin}} {{>_textSize default="38px"}} {{>_lineHeight default="44px"}} {{>_textWeight default="700"}}">
    {{>_urlStart class="h1" textSize=textSize lineHeight=lineHeight}}
        {{{escapeCharacter text}}}
    {{>_urlEnd}}
</h1>