<h2 class="{{>_textStyle default="serif"}} text-sm-{{>_mobileTextAlign}}" style="{{>_textColor}} {{>_textAlign}} {{>_margin}} {{>_textSize default="40px"}} {{>_lineHeight default="36px"}} {{>_textWeight default="400"}}">
    {{>_urlStart class="h2" textStyle=textStyle textSize=textSize lineHeight=lineHeight}}
        {{{escapeCharacter text}}}
    {{>_urlEnd}}
</h2>