<h3 class="{{>_textStyle default="sans-serif"}} text-sm-{{>_mobileTextAlign}}" style="{{>_textColor}} {{>_textAlign}} {{>_margin}} {{>_textSize default="13px"}} {{>_lineHeight default="20px"}} {{>_textWeight default="400"}} text-transform:uppercase; letter-spacing:3px;">
    {{>_urlStart class="h3" textSize=textSize lineHeight=lineHeight}}
        {{{escapeCharacter text}}}{{>_addChevron}}
    {{>_urlEnd}}
</h3>