<h4 class="{{>_textStyle default="sans-serif"}} text-sm-{{>_mobileTextAlign}}" style="{{>_textColor}} {{>_textAlign}} {{>_margin}} {{>_textSize default="14px"}} {{>_lineHeight default="20px"}} {{>_textWeight default="700"}}">
    {{>_urlStart class="h4" textSize=textSize lineHeight=lineHeight}}
        {{{escapeCharacter text}}}{{>_addChevron}}
    {{>_urlEnd}}
</h4>