{{#if text}}
<p class="{{>_textStyle default="sans-serif"}}" style="{{>_textSize default="20px"}} {{>_lineHeight default="200%"}} {{>_textAlign}} {{>_margin}} {{>_textWeight default="300"}} {{>_textColor}}">{{{escapeCharacter text}}}</p>
{{else}}
<p class="{{>_textStyle default="sans-serif"}}" style="{{>_textSize default="20px"}} {{>_lineHeight default="200%"}} {{>_textAlign}} {{>_margin}} {{>_textWeight default="300"}} {{>_textColor}}">{{{escapeCharacter @partial-block}}}</p>
{{/if}}