{{#if text}}
    <p class="{{>_textStyle default="sans-serif"}} text-sm-{{>_mobileTextAlign}}" style="{{>_textColor}} {{>_textAlign}} {{>_textWeight default="300"}} {{>_textSize default="16px"}} {{>_lineHeight default="140%"}} {{>_margin}} {{#if textPadding}}padding: {{textPadding}};{{/if}}">{{{escapeCharacter text}}}</p>
{{else}}
    <p  class="{{>_textStyle default="sans-serif"}} text-sm-{{>_mobileTextAlign}}" style="{{>_textColor}} {{>_textAlign}} {{>_textWeight default="300"}} {{>_textSize default="16px"}} {{>_lineHeight default="140%"}} {{>_margin}} {{#if textPadding}}padding: {{textPadding}};{{/if}}">{{{@partial-block}}}</p >
{{/if}}