<span class="{{>_textStyle default="sans-serif"}}" style="{{>_textColor}} {{>_textSize default="16px"}} {{>_textAlign}} {{>_textWeight default="400"}} {{>_textUnderline}}">{{>_urlStart textColor=_textColor}}{{{escapeCharacter text}}}{{>_urlEnd}}</span> {{{ textColor}}}