{{!-- Start of Email Wrapper --}}
{{#> blank }}

    {{> block-ts-nav}}

    {{#> column-wrapper url="https://www.thomas-sanderson.co.uk/covid-19/" fullWidth="true" bgColor="#131F27" }}
        {{#> column padding="15px 0px" modifier="margin-inner-lr-0"}}
            {{#> block-text textAlign="center"}}
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                        <td style="text-align: center;">
                            <a class="sans-serif" href="{{{tracking.prefix}}}https://www.thomas-sanderson.co.uk/covid-19/{{{tracking.suffix}}}{{{tracking.nameurn}}}" style="color: #ffffff; line-height: 1; font-size: 16px; text-decoration: none; font-weight: 500;">We’re open for business and offering in-home design consultations. Find out more.</a>
                        </td>
                    </tr>
                </table>
            {{/block-text}}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.thomas-sanderson.co.uk/" fullWidth="true" bgColor="#525D66"}}
        {{#> column padding="0 0 60px"}}
            {{> block-image
                margin="0px 0px 60px"
                altText="ALT TEXT"
                src="http://www.placehold.it/680x430"
                width="680"
            }}
            
            {{#> block-text textAlign="center"}}

                {{>h1
                    textColor="#F9F6F2"
                    margin="0px 0px 10px"
                    textSize="36px"
                    lineHeight="48px"
                    textWeight="600"
                    text="H1 Gill Sans Semi-Bold"
                }}

                {{>p 
                    margin="0px"
                    text="Wednesday nights at 9pm."
                    textColor="#F9F6F2"
                    textSize="18px"
                    lineHeight="28px"
                }}

            {{/block-text}}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.thomas-sanderson.co.uk/" fullWidth="true" bgColor="#CACDCF"}}
        {{#> column padding="40px 0 50px"}}
            {{#> block-text textAlign="center"}}
                {{>h2
                    textColor="#131F27"
                    margin="0px 0px 15px"
                    textSize="36px"
                    lineHeight="48px"
                    textWeight="600"
                    text="Commanding Design"
                }}

                {{>p 
                    margin="0px 0px 20px"
                    text="Grand designs call for expert knowledge, quality materials and innovative solutions and these qualities are at the heart of Thomas Sanderson. Passionate about bespoke design, superior craftmanship and quality products, our expertise has delivered custom-made solutions for unique windows for over 25 years. Tonight’s episode features a Saxon folly, let us show you our solutions to the challenges this property brought."
                    textColor="#131F27"
                    textSize="16px"
                    lineHeight="28px"
                }}
                
                {{>button
                    margin="0px" 
                    text="Discover more" 
                    textColor="#ffffff"
                    textAlign="center"
                    buttonColor="#131F27"
                    textWeight="600"
                }}
            {{/block-text}}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.thomas-sanderson.co.uk/" fullWidth="true" bgColor="#F9F6F2"}}
        {{#> column padding="20px 0 40px"}}

            {{> block-image
                margin="0px 0px 30px"
                altText="ALT TEXT"
                src="http://www.placehold.it/680x430"
                width="680"
            }}

            {{#> block-text textAlign="center"}}
            
                {{>h2
                    textColor="#131F27"
                    margin="0px 0px 15px"
                    textSize="36px"
                    lineHeight="48px"
                    textWeight="600"
                    text="Period Looks With Shutters"
                }}

                {{>p 
                    margin="0px 0px 15px"
                    text="One challenge was the folly being a listed building, but it can be tricky to keep a period style even if your home is not listed. Shutters are a great way to convey an elegant and traditional feel and as we offer both wooden and vinyl, they can be used through your entire home."
                    textColor="#131F27"
                    textSize="16px"
                    lineHeight="28px"
                }}
                
                {{>button-outline
                    margin="0px" 
                    text="Discover more" 
                    textColor="#131F27"
                    textAlign="center"
                    buttonColor="#F9F6F2"
                    borderWidth="1px"
                    borderColor="#131F27"
                    textWeight="600"
                }}
            {{/block-text}}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.thomas-sanderson.co.uk/" fullWidth="true" bgColor="#F9F6F2"}}
        {{#> column padding="0px 0 40px"}}

            {{> block-image
                margin="0px 0px 30px"
                altText="ALT TEXT"
                src="http://www.placehold.it/680x430"
                width="680"
            }}

            {{#> block-text textAlign="center"}}
            
                {{>h2
                    textColor="#131F27"
                    margin="0px 0px 15px"
                    textSize="36px"
                    lineHeight="48px"
                    textWeight="600"
                    text="Choose your style"
                }}

                {{>p 
                    margin="0px 0px 15px"
                    text="If, like the folly, you have deep windowsills, turn it into seating area, with café shutters, which offers the best of both worlds with light and privacy.  We craft shutters for every size, shape and setting, and have a range of styles, from classic full length, to tier on tier, where the bottom and top operate independently."
                    textColor="#131F27"
                    textSize="16px"
                    lineHeight="28px"
                }}
                
                {{>button-outline
                    margin="0px" 
                    text="Discover more" 
                    textColor="#131F27"
                    textAlign="center"
                    buttonColor="#F9F6F2"
                    borderWidth="1px"
                    borderColor="#131F27"
                    textWeight="600"
                }}
            {{/block-text}}
        {{/column}}
    {{/column-wrapper}}
    
    {{> block-ts-request}}

    {{> block-ts-popular-products}}
    
    {{> block-ts-social}}

    {{> block-ts-footer}}

{{/blank}}
{{!-- End of Email Wrapper --}}