
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab');

body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #464646;
}

.documentation {
  overflow-y: auto;
}

button {
  background: none;
  color: inherit;
  border: 1px solid #8b8b8b;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 5px 8px;
  cursor: pointer;
  outline: inherit;
  transition: 200ms all;
}

button:hover {
  background: #2375d8;
  border-color: #2375d8;
  color: #ffffff;
}

iframe {
  border: 1px solid #eaeaea;
  margin: 0px auto;
  border-radius: 0;
  width: 100%;
  height: 100vh;
  transition: 500ms all ease-in-out;
}

.wrapper {
  display:flex;
}

.content {
  position: relative;
  float: right;
  width: 70vw;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.content--document {
  text-align: left;
  padding: 0 30px;
}

.sidebar {
  position: relative;
  float: left;
  width: 30vw;
  padding: 30px;
  background-color: #f4f4f4;
  min-height: 100%;
  font-size: 14px;
  box-sizing: border-box;
  overflow-y: scroll
}

.sidebar .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  width: 100%;
  margin-bottom: 50px;
}

.sidebar .logo img {
  display: inline;
  max-width: 20px;
  margin-right: 10px;
}

.sidebar div {
  margin-bottom: 50px;
}

.sidebar a {
  color: #2e2c2c;
  font-weight: 600;
  text-decoration: none;
}

.documents ul,
.documents li,
.documents a {
  display: block;
}

.documents ul ul {
  padding-bottom: 10px;
}

li {
  cursor: pointer;
  text-decoration: none;
  color: #8b8b8b;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  background-size: contain;
  margin: 14px auto;
  transition: 200ms color;
}

a:hover{
  color: #1d1d1d;
  text-decoration: underline;
}

ul {
  margin: 20px auto;
  padding: 0;
}

pre,
code {
  font-family: monospace, monospace;
  text-shadow: 0 1px #fff;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  -moz-tab-size: 2; -o-tab-size: 2; tab-size: 2;
  -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none;
  background-color: #f4f4f4;
}

pre {
  overflow: auto;
}

pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}

.docs-image {
  margin-top: 30px;
  max-width: 600px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.docs-image img {
  display: block;
  max-width: 100%;
  width: 100%;
}
