<!-- Spacer : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td class="spacer py-sm-{{checkMobileSpacer mobileHeight}}" style="line-height: {{#if height}}{{height}}{{else}}40{{/if}}px; height: {{#if height}}{{height}}{{else}}40{{/if}}px;">‌</td>
    </tr>
</table>
<!-- Spacer : END -->