{{!-- Start of Email Wrapper --}}
{{#> blank }}

    {{> block-navlarge}}

    {{#> column-wrapper url="https://www.google.com" fullWidth="true" }}
        {{#> column}}
            {{#> block-text url="https://www.google.com"}}
                {{> block-image margin="0px 0px" url="https://www.google.com" altText="Placeholder Image" src="http://www.placehold.it/680x300" fluid="true"}}
                {{>p margin="30px 0px 0px" text="Don’t miss our biggest ever Black Friday Event. Get up to 50% off selected made-to-measure blinds, curtains and shutters, plus and EXTRA 15% off ALL curtains and blinds. You can also get an EXTTRA 10% off ALL shutters! Book your free in home appointment today with your local advisor. "}}
                {{>button margin="30px 0px 0px" text="REQUEST AN APPOINTMENT ONLINE" textColor="#ffffff"}}
            {{/block-text}}
        {{/column}}
    {{/column-wrapper}}

    {{> block-sponsor}}
    
    {{> block-request}}
    
    {{> block-social}}

    {{#> block-footer
        bgColor="#f4f4f3"
    }}
    {{/block-footer}}

{{/blank}}
{{!-- End of Email Wrapper --}}