<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Email Builder</title>
    <link rel="stylesheet" href="/assets/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#ec0142">
    <meta name="msapplication-TileColor" content="#ec0142">
    <meta name="theme-color" content="#ec0142">

</head>

<body class="documentation">
    <div class="wrapper">

        <!-- Sidebar -->
        <div id="sidebar" class="sidebar">
            <div class="logo">
                <img src="/assets/icon.svg">
                <span>Email Builder</span>
            </div>
            <div class="documents">
                <ul>
                    <li>
                        <a href="/">Build</a>
                    </li>

                    <li>
                        <a href="/docs/brands/index.html">Brands</a>
                        <ul>
                            <li>
                                <a href="/docs/brands/hillarys.html">Hillarys</a>
                            </li>
                            <li>
                                <a href="/docs/brands/thomas-sanderson.html">Thomas Sanderson</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/docs/components/index.html">Components</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Content -->
        <div id="content" class="content content--document">
            <h1>Hillarys</h1>

            <section>
<h2>Blocks</h2>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/interactive-header.jpg"/>
<h3>block-header-interactive</h3>
<p>This block is an interactive header that switches to a burger navigation on mobile.</p>
<pre>
<code>
{{> block-header-interactive}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/requestAnAppointment.jpg"/>
<h3>block-request</h3>
<p>This block is an request</p>
<pre>
<code>
{{> block-request}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/social.jpg"/>
<h3>block-social</h3>
<p>This block is an social media bar</p>
<pre>
<code>
{{> block-social}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/footer.jpg"/>
<h3>block-footer</h3>
<p>This block is the generic footer</p>
<pre>
<code>
{{#> block-footer
    bgColor="#f4f4f3"
}}
{{/block-footer}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/hashtag.jpg"/>
<h3>block-hashtag</h3>
<p>This block is a Instagram hashtag</p>
<pre>
<code>
{{#> block-hashtag
    paragraphColor="#686058"
}}
{{/block-hashtag}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/navEmpty.jpg"/>
<h3>block-navempty</h3>
<p>This block is an empty nav</p>
<pre>
<code>
{{> block-navempty}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/navLarge.jpg"/>
<h3>block-navlarge</h3>
<p>This block is an large nav</p>
<pre>
<code>
{{#> block-navlarge
    textColor="#686058"
    textAlign="center"
    textSize="16px"
    lineHeight="27px"
}}
{{/block-navlarge}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/navSmall.jpg"/>
<h3>block-navsmall</h3>
<p>This block is an small nav</p>
<pre>
<code>
{{#> block-navsmall
    textColor="#686058"
    textAlign="center"
    textSize="16px"
    lineHeight="27px"
}}
{{/block-navsmall}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/sponsor.jpg"/>
<h3>block-sponsor</h3>
<p>This block is an Homes On 4 bar</p>
<pre>
<code>
{{> block-sponsor}}
</code>
</pre>

            </section>
        </div>
    </div>

    <script src="/assets/split.js"></script>
    <script src="/assets/scroll.js"></script>
    <script src="/assets/index.js"></script>
</body>

</html>