<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Email Builder</title>
    <link rel="stylesheet" href="/assets/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#ec0142">
    <meta name="msapplication-TileColor" content="#ec0142">
    <meta name="theme-color" content="#ec0142">

</head>

<body class="documentation">
    <div class="wrapper">

        <!-- Sidebar -->
        <div id="sidebar" class="sidebar">
            <div class="logo">
                <img src="/assets/icon.svg">
                <span>Email Builder</span>
            </div>
            <div class="documents">
                <ul>
                    <li>
                        <a href="/">Build</a>
                    </li>

                    <li>
                        <a href="/docs/brands/index.html">Brands</a>
                        <ul>
                            <li>
                                <a href="/docs/brands/hillarys.html">Hillarys</a>
                            </li>
                            <li>
                                <a href="/docs/brands/thomas-sanderson.html">Thomas Sanderson</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/docs/components/index.html">Components</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Content -->
        <div id="content" class="content content--document">
            <h1>Hillarys</h1>

            <section>
<h2>Blocks</h2>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/block-ts-footer.jpg"/>
<h3>block-ts-footer</h3>
<p>This block is the footer for Thomas Sanderson.</p>
<pre>
<code>
{{> block-ts-footer}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/block-ts-nav.jpg"/>
<h3>block-ts-nav</h3>
<p>This block is the header for Thomas Sanderson.</p>
<pre>
<code>
{{> block-ts-nav}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/block-ts-request.jpg"/>
<h3>block-ts-request</h3>
<p>This block is the request an appointment block for Thomas Sanderson.</p>
<pre>
<code>
{{> block-ts-request}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/block-ts-social.jpg"/>
<h3>block-ts-social</h3>
<p>This block is the social block for Thomas Sanderson.</p>
<pre>
<code>
{{> block-ts-social}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/block-ts-popular-products.jpg"/>
<h3>block-ts-popular-products</h3>
<p>This block is the popular products block for Thomas Sanderson.</p>
<pre>
<code>
{{> block-ts-popular-products}}
</code>
</pre>

            </section>
        </div>
    </div>

    <script src="/assets/split.js"></script>
    <script src="/assets/scroll.js"></script>
    <script src="/assets/index.js"></script>
</body>

</html>