<head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab');
        body,
        html {
            font-family: 'Roboto', sans-serif;
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
            font-size: 13px;
            color: #464646;
            display: flex;
            align-items: center;
            text-align: center;
        }
        body span{
            width: 100%;
        }
    </style>
</head>

<body>
    <span>Click on a menu item to the left to get started</span>
</body>