<li class="email-link" data-link="all-components">all-components</li><li class="email-link" data-link="interactive">interactive</li><li class="email-link" data-link="new-components">new-components</li><li class="email-link" data-link="ts-test">ts-test</li>