<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Email Builder</title>
    <link rel="stylesheet" href="/assets/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#ec0142">
    <meta name="msapplication-TileColor" content="#ec0142">
    <meta name="theme-color" content="#ec0142">

</head>

<body class="documentation">
    <div class="wrapper">

        <!-- Sidebar -->
        <div id="sidebar" class="sidebar">
            <div class="logo">
                <img src="/assets/icon.svg">
                <span>Email Builder</span>
            </div>
            <div class="documents">
                <ul>
                    <li>
                        <a href="/">Build</a>
                    </li>

                    <li>
                        <a href="/docs/brands/index.html">Brands</a>
                    </li>

                    <li>
                        <a href="/docs/components/index.html">Components</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Content -->
        <div id="content" class="content content--document">
            <h1>Components</h1>

            <section>
<h2>Blocks</h2>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/sample-grid.png"/>
<h3>block-sample-grid</h3>
<p>This component is a four column grid of images for samples</p>
<pre>
<code>
{{#> block-sample-grid
    imageSrc1="http://www.placehold.it/600x600"
    imageAlt1="#"
    url1="https://www.hillarys.co.uk/"
    imageSrc2="http://www.placehold.it/600x600"
    imageAlt2="#"
    url2="https://www.hillarys.co.uk/"
    imageSrc3="http://www.placehold.it/600x600"
    imageAlt3="#"
    url3="https://www.hillarys.co.uk/"
    imageSrc4="http://www.placehold.it/600x600"
    imageAlt4="#"
    url4="https://www.hillarys.co.uk/"
}}
{{/block-sample-grid}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/ribbon-image.png"/>
<h3>block-ribbon-image</h3>
<p>This component is a full width ribbon image</p>
<pre>
<code>
{{#> block-ribbon-image
    bgColor="#c3e1ea"
    image="http://placehold.it/680x395"
    imageAlt="Image Alt"
    url="https://www.hillarys.co.uk/"
}}
{{/block-ribbon-image}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/ribbon.png"/>
<h3>block-ribbon</h3>
<p>This component is a full width ribbon</p>
<pre>
<code>
{{#> block-ribbon
    bgColor="#c3e1ea"
    imageLeft="true"
    image="http://placehold.it/340x380"
    imageAlt="Image Alt"
    title="Lorem ipsum dolor"
    url="https://www.google.com"
    buttonText="Button Text"
    textCopy="Don’t miss our biggest ever Black Friday Event. Get up to 50% off selected made-to-measure blinds‚ curtains and shutters‚ plus and EXTRA 15% off ALL curtains and blinds. "
}}
{{/block-ribbon}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/instagramHashtag.png"/>
<h3>block-social-hashtag</h3>
<p>This component is a social hashtag block</p>
<pre>
<code>
{{#> block-social-hashtag
    whiteIcon="true"
    bgColor="#343A41"
    hashtag="#StayHappyatHome"
    text="Now, more than ever, it’s time to love your home. We love seeing all the joy, colour and support that’s being shared by our customers. Share your lovely homes using <strong>#StayHappyatHome</strong> and keep spreading the positivity."
    textColor="#ffffff"
}}
{{/block-social-hashtag}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/quote.png"/>
<h3>block-quote</h3>
<p>This component is a quote block</p>
<pre>
<code>
{{#> column-wrapper url="https://www.hillarys.co.uk/" fullWidth="true" bgColor="#010101"}}
    {{#> column padding="30px 0px"}}
        {{#> block-quote
            quoteText="This spot on the landing has become my breathing space from the rest of the house."
            quoteAuthor="ERICA DAVIS‚ STYLIST AND FASHION JOURNALIST"
            textColor="#ffffff"
        }}
        {{/block-quote}}
    {{/column}}
{{/column-wrapper}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/interactive-accordion.jpg"/>
<h3>interactive-accordion</h3>
<p>This component is an interactive component that reveals content when tapped.</p>
<pre>
<code>
{{> interactive-accordion
    imageSrc="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_01.jpg"
    imageSrcMobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_02.jpg"
    imageAlt="#"
    title1="Example Title 1"
    innerTitle1="Accordion Open"
    innerDescription1="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
    innerImageSrc1="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
    innerImageAlt1="#"
    title2="Example Title 2"
    innerTitle2="Accordion Open"
    innerDescription2="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
    innerImageSrc2="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
    innerImageAlt2="#"
    title3="Example Title 3"
    innerTitle3="Accordion Open"
    innerDescription3="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
    innerImageSrc3="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
    innerImageAlt3="#"
    title4="Example Title 4"
    innerTitle4="Accordion Open"
    innerDescription4="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
    innerImageSrc4="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
    innerImageAlt4="#"
}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/interactive-tap-reveal.jpg"/>
<h3>interactive-tap-reveal</h3>
<p>This component is an interactive component that reveals an image when tapped.</p>
<pre>
<code>
{{> interactive-tap-reveal
    url="https://www.hillarys.co.uk/"
    imageSrc1="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Tap-To-Reveal_01.jpg"
    imageSrc1Mobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Tap-To-Reveal_03.jpg"
    altText1="Alt Text 1"
    imageSrc2="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Tap-To-Reveal_02.jpg"
    imageSrc2Mobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Tap-To-Reveal_04.jpg"
    altText2="Alt Text 2"
}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/interactive-carousel.jpg"/>
<h3>interactive-carousel</h3>
<p>This component is a interactive carousel with 3 slides.</p>
<pre>
<code>
{{> interactive-carousel
    imageSrc1="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_01.jpg"
    imageSrc1Mobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_04.jpg"
    url1="https://www.hillarys.co.uk/"
    imageSrc2="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_02.jpg"
    imageSrc2Mobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_05.jpg"
    url2="https://www.hillarys.co.uk/"
    imageSrc3="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_03.jpg"
    imageSrc3Mobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_06.jpg"
    url3="https://www.hillarys.co.uk/"
    imageSrcFallback="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_10.gif"
    imageSrcFallbackMobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_11.gif"
}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/interactive-carousel.jpg"/>
<h3>interactive-carousel</h3>
<p>This component is a interactive carousel with 3 slides.</p>
<pre>
<code>
{{> interactive-carousel-4
    imageSrc1="https://www.hillarys.co.uk/static/emails/HB20-00290/2.jpg"
    imageSrc1Mobile="https://www.hillarys.co.uk/static/emails/HB20-00290/2-mobile.jpg"
    url1="https://www.hillarys.co.uk/curtains/fabrics/Wild-Cobalt/?product=Curtains"
    imageSrc2="https://www.hillarys.co.uk/static/emails/HB20-00290/3.jpg"
    imageSrc2Mobile="https://www.hillarys.co.uk/static/emails/HB20-00290/3-mobile.jpg"
    url2="https://www.hillarys.co.uk/curtains/fabrics/Serra-Ochre/?product=Curtains"
    imageSrc3="https://www.hillarys.co.uk/static/emails/HB20-00290/4.jpg"
    imageSrc3Mobile="https://www.hillarys.co.uk/static/emails/HB20-00290/4-mobile.jpg"
    url3="https://www.hillarys.co.uk/curtains/fabrics/Wild-Sienna/?product=Curtains"
    imageSrc4="https://www.hillarys.co.uk/static/emails/HB20-00290/5.jpg"
    imageSrc4Mobile="https://www.hillarys.co.uk/static/emails/HB20-00290/5-mobile.jpg"
    url4="https://www.hillarys.co.uk/curtains/fabrics/Vedra-Amarilla/?product=Curtains"
    imageSrcFallback="https://www.hillarys.co.uk/static/emails/HB20-00290/2-fallback.jpg"
    imageSrcFallbackMobile="https://www.hillarys.co.uk/static/emails/HB20-00290/2-fallback-mobile.jpg"
}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/interactive-carousel.jpg"/>
<h3>interactive-carousel</h3>
<p>This component is a interactive carousel with 3 slides.</p>
<pre>
<code>
{{> interactive-carousel-5
    imageSrc1="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/6.jpg"
    imageSrc1Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/6.jpg"
    imageSrc2="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/7.jpg"
    imageSrc2Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/7.jpg"
    imageSrc3="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/8.jpg"
    imageSrc3Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/8.jpg"
    imageSrc4="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/9.jpg"
    imageSrc4Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/9.jpg"
    imageSrc5="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/10.jpg"
    imageSrc5Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/10.jpg"
    imageSrcFallback="6.gif"
    imageSrcFallbackMobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00264/3/1.jpg"
}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/fullWidthImageWithCta.jpg"/>
<h3>block-image-cta</h3>
<p>This component is an image with a full width button below.</p>
<pre>
<code>
{{#> block-image-cta
    altText="Don’t miss our biggest ever Black Friday Event."
    src="http://www.placehold.it/600x300"
    text="This is button text"
    url="https://www.hillarys.co.uk/"
    width="680"
    textColor="#ffffff"
    buttonColor="#ec0142"
}}
{{/block-image-cta }}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/threeColumnBlock.jpg"/>
<h3>block-3-images</h3>
<p>This component is three images with different url's</p>
<pre>
<code>
{{#> block-3-images
    imageSrc1="http://www.placehold.it/600x600"
    altText1="Alt Text"
    url1="https://www.hillarys.co.uk/"
    imageSrc2="http://www.placehold.it/600x600"
    altText2="Alt Text"
    url2="https://www.hillarys.co.uk/"
    imageSrc3="http://www.placehold.it/600x600"
    altText3="Alt Text"
    url3="https://www.hillarys.co.uk/"
}}
{{/block-3-images}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/block-image.jpg"/>
<h3>block-image</h3>
<p>This component is an image with a link.</p>
<pre>
<code>
{{#> block-image
    altText="Don’t miss our biggest ever Black Friday Event."
    src="http://www.placehold.it/600x300"
    url="https://www.google.com"
    width="680"
}}
{{/block-image }}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/block-image-responsive.jpg"/>
<h3>block-image-responsive</h3>
<p>This component is an image with a link.</p>
<pre>
<code>
{{#> block-image-responsive
    altText="Don’t miss our biggest ever Black Friday Event."
    src="http://www.placehold.it/600x300"
    srcMobile="http://www.placehold.it/300x600"
    url="https://www.google.com"
    width="680"
}}
{{/block-image-responsive }}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/block-text-image.jpg"/>
<h3>block-text-image</h3>
<p>This component is an image with a title, text content and a button.</p>
<pre>
<code>
{{#> block-text-image
    altText="Don’t miss our biggest ever Black Friday Event."
    src="http://www.placehold.it/600x300"
    url="https://www.google.com"
    swapPosition="true"
    title="Title Text"
    text="This is some text"
    buttonText="Button Text"
}}
{{/block-text-image }}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/block-split-image-text.png"/>
<h3>block-split-image-text</h3>
<p>This component is an image with a title, text content and a button. Remove imageLeft to have the image and text the other way around.</p>
<pre>
<code>
{{#> block-split-image-text
    imageLeft="true"
    url="https://www.hillarys.co.uk"
    image="http://www.placehold.it/680x680"
    srcMobile="http://www.placehold.it/680x300"
    imageAlt="Placeholder Image"
    title="Title text"
    titleTextColor="#000000"
    bodyTextColor="#000000"
    textCopy="Don’t miss our biggest ever Black Friday Event. Get up to 50% off selected made-to-measure blinds‚ curtains and shutters‚ plus and EXTRA 15% off ALL curtains and blinds."
    buttonText="Button Text"
    buttonTextColor="#000000"
    buttonBorderColor="#000000"
    buttonBGColor="#ffffff"
}}
{{/block-split-image-text}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/2-stackable-images.jpg"/>
<h3>block-two-stackable-images</h3>
<p>Two images that sit side by side, but stack on mobile.</p>
<pre>
<code>
{{> block-two-stackable-images
    imageSrc1="http://www.placehold.it/600x600"
    altText1="Alt Text"
    url1="https://www.hillarys.co.uk/"
    imageSrc2="http://www.placehold.it/600x600"
    altText2="Alt Text"
    url2="https://www.hillarys.co.uk/"
}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/3-image-gallery.jpg"/>
<h3>3 Image Gallery</h3>
<p>Three images within a gallery block sat next to one another</p>
<pre>
<code>
{{> block-three-image-gallery
    fullTitle="MORE FROM THE COLLECTION"
    imageSrc1="http://www.placehold.it/500x600"
    altText1="Alt Text"
    url1="https://www.hillarys.co.uk/"
    title1="Title One"
    imageSrc2="http://www.placehold.it/500x600"
    altText2="Alt Text"
    url2="https://www.hillarys.co.uk/"
    title2="Title Two"
    imageSrc3="http://www.placehold.it/500x600"
    altText3="Alt Text"
    url3="https://www.hillarys.co.uk/"
    title3="Title Three"
}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/4-image-gallery.jpg"/>
<h3>block-four-image-gallery</h3>
<p>Four large gallery images sat in a 2x2 grid</p>
<pre>
<code>
{{> block-four-image-gallery
    fullTitle="MORE FROM THE COLLECTION"
    imageSrc1="http://www.placehold.it/500x600"
    altText1="Alt Text"
    url1="https://www.hillarys.co.uk/"
    title1="Title One"
    imageSrc2="http://www.placehold.it/500x600"
    altText2="Alt Text"
    url2="https://www.hillarys.co.uk/"
    title2="Title Two"
    imageSrc3="http://www.placehold.it/500x600"
    altText3="Alt Text"
    url3="https://www.hillarys.co.uk/"
    title3="Title Three"
    imageSrc4="http://www.placehold.it/500x600"
    altText4="Alt Text"
    url4="https://www.hillarys.co.uk/"
    title4="Title Four"
}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/video.jpg"/>
<h3>block-video</h3>
<p>A video with a fallback image.</p>
<pre>
<code>
{{> block-video
    url="https://www.google.com"
    videoURL="https://www.hillarys.co.uk/static/media/ts-cold-feet-2.mp4"
    posterImage="https://www.hillarys.co.uk/static/media/ts-poster.jpg"
    altText="Alt Text"
}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/campaign-header.jpg"/>
<h3>block-campaign-header</h3>
<p>A simple header to start a campaign email with.</p>
<pre>
<code>
{{> block-campaign-header
    subTitle="LOVE OUR"
    title="Spring Sale"
}}
</code>
</pre>

<h3>block-text</h3>
<p>Any text content can be placed within this component.</p>
<pre>
<code>
{{#> block-text}}
{{/block-text }}
</code>
</pre>
            </section>

            <section>
                <h2>Buttons</h2>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/button.jpg"/>
<h3>button</h3>
<p>This element is a button</p>
<pre>
<code>
{{>button 
    url="https://www.google.com"
    margin="0px 0px 0px 0px" 
    text="Button Text" 
    textColor="#ffffff"
    textAlign="center"
    buttonColor="#ec0142"
    textWeight="400"
}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/button-outline.png"/>
<h3>button-outline</h3>
<p>This element is a outlined button</p>
<pre>
<code>
{{>button-outline
    url="https://www.hillarys.co.uk/"
    margin="0px" 
    text="Button Text" 
    textColor="#000000"
    textAlign="center"
    borderColor="#000000"
    borderWidth="1px"
    buttonColor="#ffffff"
    textWeight="700"
}}
</code>
</pre>

<img class="docs-image" src="https://www.hillarys.co.uk/static/emails/email-builder/screenshots/button-fw.jpg"/>
<h3>button-fw</h3>
<p>This element is a full with button</p>
<pre>
<code>
{{>button-fw 
    url="https://www.google.com"
    margin="0px 0px 0px 0px"
    text="Button Text"
    textColor="#ffffff"
    buttonColor="#ec0142"
    textWeight="400"
    textSize="14px"
    lineHeight="18px"
}}
</code>
</pre>
            </section>

            <section>
                <h2>Fonts</h2>

<h3>h1</h3>
<p>This element is a heading 1 tag</p>
<pre>
<code>
{{>h1 
    textStyle="serif"
    mobileTextAlign="center"
    textColor="#464646"
    textAlign="left"
    margin="0px 0px 0px 0px"
    textSize="46px"
    lineHeight="50px"
    textWeight="700"
    text="This is heading one text"
    url="https://www.google.com"
}}
</code>
</pre>

<h3>h2</h3>
<p>This element is a heading 2 tag</p>
<pre>
<code>
{{>h2 
    textStyle="serif"
    mobileTextAlign="center"
    textColor="#464646"
    textAlign="left"
    margin="0px 0px 0px 0px"
    textSize="36px"
    lineHeight="40px"
    textWeight="400"
    text="This is heading one text"
    url="https://www.google.com"
}}
</code>
</pre>

<h3>h3</h3>
<p>This element is a heading 3 tag</p>
<pre>
<code>
{{>h3 
    textStyle="sans-serif"
    mobileTextAlign="center"
    textColor="#464646"
    textAlign="left"
    margin="0px 0px 0px 0px"
    textSize="36px"
    lineHeight="40px"
    textWeight="400"
    text="This is heading one text"
    url="https://www.google.com"
}}
</code>
</pre>

<h3>h4</h3>
<p>This element is a heading 4 tag</p>
<pre>
<code>
{{>h4 
    textStyle="sans-serif"
    mobileTextAlign="center"
    textColor="#464646"
    textAlign="left"
    margin="0px 0px 0px 0px"
    textSize="24px"
    lineHeight="30px"
    textWeight="400"
    text="This is heading one text"
    url="https://www.google.com"
}}
</code>
</pre>

<h3>p-large</h3>
<p>This element is a large p tag</p>
<pre>
<code>
{{>p-large
    textStyle="sans-serif"
    textColor="#464646"
    textAlign="left"
    margin="0px 0px 0px 0px"
    textSize="20px"
    lineHeight="200%"
    textWeight="300"
    text="This is heading one text"
}}
</code>
</pre>

<h3>p</h3>
<p>This element is a p tag</p>
<pre>
<code>
{{>p
    textStyle="sans-serif"
    mobileTextAlign="center"
    textColor="#464646"
    textAlign="left"
    margin="0px 0px 0px 0px"
    textSize="16px"
    lineHeight="200%"
    textWeight="300"
    text="This is heading one text"
}}
</code>
</pre>

<h3>span</h3>
<p>This element is a span tag</p>
<pre>
<code>
{{>span
    textStyle="sans-serif"
    textColor="#464646"
    textAlign="left"
    textSize="16px"
    textWeight="300"
    text="This is heading one text"
    textUnderline="true"
    url="https://www.google.com"
}}
</code>
</pre>
            </section>

            <section>
                <h2>Grid</h2>
                
<h3>column-wrapper</h3>
<p>This component is a column wrapper</p>
<pre>
<code>
    {{#>column-wrapper 
        columns="1"
        url="https://www.google.com"
        fullWidth="true"
        bgColor="#333333"
        align="top"
        valign="top"
        spacing="0px 0px 0px 0px"
    }}
    {{/column-wrapper}}
</code>
</pre>

<h3>column</h3>
<p>This component is a column</p>
<pre>
<code>
    {{#>column
        padding="0px 0px 0px 0px"
        valign="middle"
    }}
    {{/column}}
</code>
</pre>

            </section>
        </div>
    </div>

    <script src="/assets/split.js"></script>
    <script src="/assets/scroll.js"></script>
    <script src="/assets/index.js"></script>
</body>

</html>