<!-- *** -->
<!-- START : Product links -->
<!-- *** -->
<table bgcolor="#F9F6F2" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center">
            <div style="max-width: 680px; margin: auto;" class="email-container">
                <!--[if mso]>
                <table cellspacing="0" cellpadding="0" border="0" width="680" align="center">
                <tr>
                <td>
                <![endif]-->
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td align="left" style="padding:50px 0">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tr>
                                    <td align="center" style="text-align: center; padding: 0px 30px 25px 30px;">
                                        <h3 style="margin: 0; font-size: 26px; line-height: 26px;  color: #525D66; font-family: 'gill-sans-nova', sans-serif; line-height: 36px; font-weight: 600;">Some of our&nbsp;popular products</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                            <tr>
                                                <td align="center">
                                                    <table bgcolor="#F9F7F3" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                                                        <tr>
                                                            <td valign="top" align="center">
                                                                <div style="max-width: 500px; margin: auto;" class="email-container">
                                                                    <!--[if mso]>
                                                                    <table cellspacing="0" cellpadding="0" border="0" width="500" align="center">
                                                                    <tr><td>
                                                                    <![endif]-->
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:500px;">
                                                                        <tr>
                                                                            <td align="center" valign="top" style="font-size:0;">
                                                                                <!--[if mso]>
                                                                                <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                                                                                <tr><td align="center" valign="top" width="250">
                                                                                <![endif]-->
                                                                                <div style="display:inline-block; vertical-align:top; max-width:250px; width: 100%;">
                                                                                    <table cellpadding="0" cellspacing="0" border="0" width="250" style="max-width:250px;">
                                                                                        <tr>
                                                                                            <td align="center" style="padding:5px 10px">
                                                                                                <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                                                                                                    <tr>
                                                                                                        <td align="center" bgcolor="#525D66" width="230">
                                                                                                            <a href="{{{tracking.prefix}}}https://www.thomas-sanderson.co.uk/window-shutters/vinyl-upvc/{{{tracking.suffix}}}" style="padding: 18px 12px; mso-padding-alt: 18px 12px; font-family: 'gill-sans-nova', sans-serif; min-width:100px; display: block; text-decoration: none; font-size: 13px; color: #ffffff; background: #525D66; border: 1px solid #525D66; mso-line-height-rule: exactly; line-height:18px; letter-spacing: 1px; font-weight:600;" class="button-link" target="_blank">Vinyl Shutters</a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td align="center" style="padding:5px 10px">
                                                                                                <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                                                                                                    <tr>
                                                                                                        <td align="center" bgcolor="#525D66" width="230">
                                                                                                            <a href="{{{tracking.prefix}}}https://www.thomas-sanderson.co.uk/curtains/{{{tracking.suffix}}}" style="padding: 18px 12px; mso-padding-alt: 18px 12px; font-family: 'gill-sans-nova', sans-serif; min-width:100px; display: block; text-decoration: none; font-size: 13px; color: #ffffff; background: #525D66; border: 1px solid #525D66; mso-line-height-rule: exactly; line-height:18px; letter-spacing: 1px; font-weight:600;" class="button-link" target="_blank">Curtains</a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                                <!--[if mso]>
                                                                                <td align="center" valign="top" width="250">
                                                                                <![endif]-->
                                                                                <div style="display:inline-block; vertical-align:top; max-width:250px; width: 100%;">
                                                                                    <table cellpadding="0" cellspacing="0" border="0" width="250" style="max-width:250px;">
                                                                                        <tr>
                                                                                            <td align="center" style="padding:5px 10px">
                                                                                                <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                                                                                                    <tr>
                                                                                                        <td align="center" bgcolor="#525D66" width="320">
                                                                                                            <a href="{{{tracking.prefix}}}https://www.thomas-sanderson.co.uk/window-blinds/duette/{{{tracking.suffix}}}" style="padding: 14px 12px 18px; mso-padding-alt: 14px 12px 18px; font-family: 'gill-sans-nova', sans-serif; min-width:100px; display: block; text-decoration: none; font-size: 13px; color: #ffffff; background: #525D66; border: 1px solid #525D66; mso-line-height-rule: exactly; line-height:18px; letter-spacing: 1px; font-weight:600;" class="button-link" target="_blank">Duette<sup style="font-weight: 600;">&reg;</sup> Blinds</a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td align="center" style="padding:5px 10px">
                                                                                                <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                                                                                                    <tr>
                                                                                                        <td align="center" bgcolor="#525D66" width="320">
                                                                                                            <a href="{{{tracking.prefix}}}https://www.thomas-sanderson.co.uk/window-blinds/silhouette/{{{tracking.suffix}}}" style="padding: 18px 12px; mso-padding-alt: 18px 12px; font-family: 'gill-sans-nova', sans-serif; min-width:100px; display: block; text-decoration: none; font-size: 13px; color: #ffffff; background: #525D66; border: 1px solid #525D66; mso-line-height-rule: exactly; line-height:18px; letter-spacing: 1px; font-weight:600;" class="button-link" target="_blank">Silhouette<sup style="font-weight: 600;">&reg;</sup> Blinds</a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                                <!--[if mso]>
                                                                                </td></tr></table>
                                                                                <![endif]-->
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <!--[if mso]>
                                                                    </td></tr></table>
                                                                    <![endif]-->
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </div>
        </td>
    </tr>
</table>
<!-- *** -->
<!-- END : Product links -->
<!-- *** -->  