<!-- *** -->
<!-- START : LOGO -->
<!-- *** -->
<table class="ts-logo" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <td align="center" style="padding:30px 20px 20px;">
            <a href="{{{tracking.prefix}}}https://www.thomas-sanderson.co.uk{{{tracking.suffix}}}" target="_blank" style="font-size: 18px; line-height: 22px; color:#4D4A47; font-family: 'filson-pro', sans-serif;">
                <img class="sm-mob-fluid" src="ts-logo.png" alt="Thomas Sanderson" width="300" style="border:none; backface-visibility: hidden; max-width: 100%;">
            </a>
        </td>
    </tr>
</table>
<!-- *** -->
<!-- END : LOGO -->
<!-- *** -->

<!-- START : NAV LIGHT -->
<!-- *** -->
<table class="ts-nav" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <td align="center" style="padding:10px 10px 30px; font-family: 'filson-pro', sans-serif; font-size:12px; line-height: 25px; color:#4D4A47; text-transform: uppercase;">
            <a href="{{{tracking.prefix}}}https://www.thomas-sanderson.co.uk/window-shutters/{{{tracking.suffix}}}" target="_blank" style="text-decoration: none; color:#4D4A47; letter-spacing: 1px;">SHUTTERS</a> &nbsp;&nbsp;&nbsp; 
            <a href="{{{tracking.prefix}}}https://www.thomas-sanderson.co.uk/window-blinds/{{{tracking.suffix}}}" target="_blank" style="text-decoration: none; color:#4D4A47; letter-spacing: 1px;">BLINDS</a> &nbsp;&nbsp;&nbsp; 
            <a href="{{{tracking.prefix}}}https://www.thomas-sanderson.co.uk/conservatory-blinds/{{{tracking.suffix}}}" target="_blank" style="text-decoration: none; color:#4D4A47; letter-spacing: 1px;">CONSERVATORY&nbsp;BLINDS</a> &nbsp;&nbsp;&nbsp; 
            <a href="{{{tracking.prefix}}}https://www.thomas-sanderson.co.uk/curtains/{{{tracking.suffix}}}" target="_blank" style="text-decoration: none; color:#4D4A47; letter-spacing: 1px;">CURTAINS</a> &nbsp;&nbsp;&nbsp; 
            <a href="{{{tracking.prefix}}}https://www.thomas-sanderson.co.uk/awnings/{{{tracking.suffix}}}" target="_blank" style="text-decoration: none; color:#4D4A47; letter-spacing: 1px;">AWNINGS</a>
        </td>
    </tr>
</table>
<!-- *** -->
<!-- END : NAV LIGHT -->
<!-- *** -->
