<!-- ***** -->
<!-- START : Follow TS -->
<!-- ***** -->                                                                                                                      
<table bgcolor="#F9F6F2" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tbody>
        <tr>
            <td valign="top" align="center">
                <div style="max-width: 680px; margin: auto;" class="email-container">
                    <!--[if mso]>
                    <table cellspacing="0" cellpadding="0" border="0" width="340" align="center">
                    <tr>
                    <td>
                    <![endif]-->
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody>                                                            
                            <tr>
                                <td align="center" height="1" style="font-size:1px; line-height: 1px; background-color:#E5E5E5;">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding: 20px 0 20px; text-align: center;">

                                    <a href="{{{tracking.prefix}}}https://www.facebook.com/ThomasSandersonBlindsShutters{{{tracking.suffix}}}" target="_blank" style="text-decoration:none;">
                                        <img src="social-facebook.png" width="45" height="45" border="0" alt="facebook" style="height: auto; font-size: 15px; line-height: 140%; color: #4D4A47; display:inline; padding:0 7px; mso-padding-alt: 0 7px;">
                                    </a>

                                    <a href="{{{tracking.prefix}}}https://twitter.com/tsblinds{{{tracking.suffix}}}" target="_blank" style="text-decoration:none;">
                                        <img src="social-twitter.png" width="45" height="45" border="0" alt="twitter" style="height: auto; font-size: 15px; line-height: 140%; color: #4D4A47; display:inline; padding:0 7px; mso-padding-alt: 0 7px;">
                                    </a>

                                    <a href="{{{tracking.prefix}}}https://www.instagram.com/thomassandersonltd{{{tracking.suffix}}}" target="_blank" style="text-decoration:none;">
                                        <img src="social-instagram.png" width="45" height="45" border="0" alt="instagram" style="height: auto; font-size: 15px; line-height: 140%; color: #4D4A47; display:inline; padding:0 7px; mso-padding-alt: 0 7px;">
                                    </a>

                                    <a href="{{{tracking.prefix}}}https://www.pinterest.co.uk/tsblinds{{{tracking.suffix}}}" target="_blank" style="text-decoration:none;">
                                        <img src="social-pinterest.png" width="45" height="45" border="0" alt="pinterest" style="height: auto; font-size: 15px; line-height: 140%; color: #4D4A47; display:inline; padding:0 7px; mso-padding-alt: 0 7px;">
                                    </a>

                                    <a href="{{{tracking.prefix}}}https://www.youtube.com/user/Thomassandersonuk{{{tracking.suffix}}}" target="_blank" style="text-decoration:none;">
                                        <img src="social-youtube.png" width="45" height="45" border="0" alt="youtube" style="height: auto; font-size: 15px; line-height: 140%; color: #4D4A47; display:inline; padding:0 7px; mso-padding-alt: 0 7px;">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" height="1" style="font-size:1px; line-height: 1px; background-color:#E5E5E5;">
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--[if mso]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                </div>
            </td>
        </tr>
    </tbody>
</table> 
<!-- ***** -->
<!-- END : Follow TS -->
<!-- ***** -->
