<!-- *** -->
<!-- START : body - call out section -->
<!-- *** -->
<table role="presentation" bgcolor="#525D66" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <td valign="top" align="center" style="padding:40px 0;">
            <div style="max-width: 680px; margin: auto;" class="email-container">
                <!--[if mso]>
                <table cellspacing="0" cellpadding="0" border="0" width="680" align="center">
                <tr>
                <td>
                <![endif]-->
                <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px; font-family: sans-serif; color: #4D4A47; font-size: 12px; line-height: 140%;">
                    <tr>
                        <td style="padding:0px 30px 0px;">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%" >            
                                <tr>
                                    <td align="center" style="color:#ffffff; padding-bottom: 20px;">
                                        <h2 style="margin:0; font-family: 'gill-sans-nova', sans-serif; font-size: 30px; line-height:36px; font-weight: 600; max-width:450px; text-transform: uppercase;">
                                            <a href="{{{tracking.prefix}}}https://www.thomas-sanderson.co.uk/design-appointment/{{{tracking.suffix}}}" target="_blank" style="text-decoration:none; color: #ffffff; font-family: 'gill-sans-nova', sans-serif; font-weight: bold;">Discover the beauty of&nbsp;bespoke</a>
                                        </h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <!-- Button : BEGIN -->
                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                                            <tr>
                                                <td style="padding: 0 0 15px;">
                                                    <!-- Button : BEGIN -->
                                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                                                        <tr>
                                                            <td style="width: 320px; background: #fff8f3; text-align: center; border:1px solid #49759C;" class="button-keyline-td">
                                                                <a href="{{{tracking.prefix}}}https://www.thomas-sanderson.co.uk/design-appointment{{{tracking.suffix}}}" target="_blank" style="background: #fff8f3; border: 14px solid #fff8f3; line-height: 130%; text-align: center; text-decoration: none; display: block; font-size:13px; text-transform:uppercase; letter-spacing: 1px; color:#393F47;" class="button-keyline-a">
                                                                    <span style="font-weight: 600; font-family: 'gill-sans-nova', sans-serif;" class="button-keyline-a">BOOK YOUR DESIGN&nbsp;CONSULTATION</span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- Button : END -->
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- Button : END -->
                                    </td>
                                </tr>
                                    <tr>
                                    <td align="center">
                                        <!-- Button : BEGIN -->
                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                                            <tr>
                                                <td style="padding: 0 0 15px;">
                                                    <!-- Button : BEGIN -->
                                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                                                        <tr>
                                                            <td style="width: 320px; background: #525D66; text-align: center; border:1px solid #ffffff;" class="button-secondary-td">
                                                                <a href="tel:{{ project.phoneNumber }}" target="_blank" style="background: #525D66; border: 14px solid #525D66; line-height: 130%; text-align: center; text-decoration: none; display: block; font-size:13px; font-family: 'gill-sans-nova', sans-serif; text-transform:uppercase; letter-spacing: 1px; color:#ffffff; font-weight: 600;" class="button-secondary-a">
                                                                    Call us on <span style="font-weight:600; font-family: 'gill-sans-nova', sans-serif;" class="button-secondary-a">{{ project.phoneNumber }}</span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!-- Button : END -->
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- Button : END -->
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </div>
        </td>
    </tr>
</table>
<!-- *** -->
<!-- END : body - call out section -->
<!-- *** -->