<!-- ***** -->
<!-- START : Terms -->
<!-- ***** -->
<table bgcolor="#F9F6F2" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="center">
            <div style="max-width: 500px; margin: auto;" class="email-container">
                <!--[if mso]>
                <table cellspacing="0" cellpadding="0" border="0" width="500" align="center">
                <tr>
                <td>
                <![endif]-->
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td align="center" style="padding: 40px 30px;">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tr>
                                    <td align="center" style="padding-bottom: 15px;">
                                        <img src="ts-logo-small.png" width="250" alt="Thomas Sanderson" style="font-family: 'gill-sans-nova', sans-serif; color:#A3A3A9; font-size:16px;">
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td align="center" style="color:#525D66; font-size: 12px; line-height: 20px; padding-bottom: 25px;">
                                        <a href="{viewlink}" target="_blank" style="color:#525D66; text-decoration: underline; font-family: 'gill-sans-nova', sans-serif;">View email online</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{preferences}" target="_blank" style="color:#525D66; text-decoration: underline; font-family: 'gill-sans-nova', sans-serif;">Unsubscribe</a>
                                    </td>
                                </tr>
                                {{#if project.termsConditions}}
                                <tr>
                                    <td align="center" style="color:#525D66; font-size: 13px; line-height: 20px; padding-bottom: 25px;">
                                        {{>h3 margin="30px 0px 5px" textSize="12px" textColor="#525D66" textWeight="700" text="TERMS & CONDITIONS"}}
                                        <p class="terms" style="margin: 0; font-family: 'gill-sans-nova', sans-serif; font-size: 13px; line-height: 20px; color: #525D66;">{{project.termsConditions}}</p>
                                    </td>
                                </tr>
                                {{/if}}
                                <tr>
                                    <td align="center" style="color:#525D66; font-size: 13px; line-height: 20px;">
                                        <p class="terms" style="margin: 0; font-family: 'gill-sans-nova', sans-serif; font-size: 13px; line-height: 20px; color: #525D66;">Hunter Douglas UK Retail Limited is a company registered in England &amp; Wales, trading as Thomas Sanderson. Registration number: 1196432.  Registered office: Unit 2 Churchill Park, Private Road No. 2, Colwick, Nottingham, NG4 2JR</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </div>
        </td>
    </tr>
</table>
<!-- ***** -->
<!-- END : Terms -->
<!-- ***** -->  