{{!-- Start of Email Wrapper --}}
{{#> blank }}

    {{> block-header-interactive}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/"}}
        {{#> column padding="30px 0 30px"}}
            {{> interactive-carousel-5-buttons
                imageSrc1="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/6.jpg"
                imageSrc1Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/6.jpg"
                image1ButtonText="View Roman Blinds"
                url1="https://www.hillarys.co.uk/"
                imageSrc2="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/7.jpg"
                imageSrc2Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/7.jpg"
                image2ButtonText="View Roller Blinds"
                url2="https://www.hillarys.co.uk/"
                imageSrc3="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/8.jpg"
                imageSrc3Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/8.jpg"
                image3ButtonText="View Curtains"
                url3="https://www.hillarys.co.uk/"
                imageSrc4="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/9.jpg"
                imageSrc4Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/9.jpg"
                image4ButtonText="View Shutter"
                url4="https://www.hillarys.co.uk/"
                imageSrc5="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/10.jpg"
                imageSrc5Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/10.jpg"
                image5ButtonText="View Verticals"
                url5="https://www.hillarys.co.uk/"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper}}
        {{#> column padding="0 0 30px"}}
            {{> interactive-hotspots
                imageSrc="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hotspots_01.jpg"
                imageSrcMobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hotspots_02.jpg"
                imageAlt="#"
                hotspot1Image="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hotspots_07.jpg"
                hotspot1Alt="#"
                hotspot1Title="Clarence Denim"
                hotspot1Text="Like the look of this? Then arrange an appointment to see it in your home."
                hotspot2Image="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hotspots_06.jpg"
                hotspot2Alt="#"
                hotspot2Title="Cadillac Noir"
                hotspot2Text="Like the look of this? Then arrange an appointment to see it in your home."
            }}
        {{/column}}
    {{/column-wrapper}}
    
    {{#> column-wrapper fullWidth="true" bgColor="#081514"}}
        {{#> column padding="30px 0 30px"}}
            {{> interactive-tap-reveal
                url="https://www.hillarys.co.uk/"
                imageSrc1="1.jpg"
                imageSrc1Mobile="mobile1.jpg"
                altText1="Alt Text 1"
                imageSrc2="1a.jpg"
                imageSrc2Mobile="mobile1a.jpg"
                altText2="Alt Text 2"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/"}}
        {{#> column padding="30px 0 30px"}}
            {{> interactive-accordion-v2
                imageSrc=""
                imageSrcMobile=""
                imageAlt="#"
                title1="Hillarys x Livingetc"
                innerTitle1="Accordion Open"
                innerDescription1="A collection of vibrant and free-spirited curtains, Roman blinds and cushion covers designed in collaboration with Livingetc. Transform your living spaces with expressive, bold pattern combinations, striking hues and naturally textured plains."
                innerImageSrc1="2.jpg"
                innerImageAlt1="#"
                buttonURL1="https://www.hillarys.co.uk/"
                buttonText1="EXPLORE THE COLLECTION"
                title2="House Beautiful Pleated collection"
                innerTitle2="Accordion Open"
                innerDescription2="A contemporary collection of gorgeous Pleated fabrics, designed in collaboration with House Beautiful. Versatile, flexible and made for modern homes, the range provides real-life inspiration and fresh solutions for modern living."
                innerImageSrc2="3.jpg"
                innerImageAlt2="#"
                buttonURL2="https://www.hillarys.co.uk/"
                buttonText2="EXPLORE THE COLLECTION"
                title3="Hillarys Mercury Collection"
                innerTitle3="Accordion Open"
                innerDescription3="Take your interior into the stratosphere with our range of luxury curtains and Roman blinds, inspired by starry nights and distant moonscapes."
                innerImageSrc3="4.jpg"
                innerImageAlt3="#"
                buttonURL3="https://www.hillarys.co.uk/"
                buttonText3="EXPLORE THE COLLECTION"
                title4="Abigail Ahern collection"
                innerTitle4="Accordion Open"
                innerDescription4="Darkly glamourous curtains and Roman blinds from Britain’s top tastemaker. Decadent textures and printed velvets, faux-leathers, tailored tweeds and crisp linen-looks feature in this stunning range."
                innerImageSrc4="5.jpg"
                innerImageAlt4="#"
                buttonURL4="https://www.hillarys.co.uk/"
                buttonText4="EXPLORE THE COLLECTION"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper fullWidth="true" bgColor="#ffffff" }}
        {{#> column padding="30px 0 0"}}
            {{> block-video
                url="https://www.google.com"
                videoURL="https://www.hillarys.co.uk/static/media/ts-cold-feet-2.mp4"
                posterImage="https://www.hillarys.co.uk/static/media/ts-poster.jpg"
                altText="Alt Text"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper fullWidth="true" bgColor="#EC0142" }}
        {{#> column padding="20px 0"}}
            {{> block-countdown
                url="https://www.hillarys.co.uk/"
                title="HURRY! SALE ENDS IN:"
                countdownFontSize="60"
                countdownTime="20220805"
                countdownBG="EC0142"
                countdownTextColor="ffffff"
                countdownFont="ProximaNovaBold"
            }}
        {{/column}}
    {{/column-wrapper}}

    <!-- Block Column Wrapper : BEGIN -->
    <!-- Wrapper : BEGIN -->
    <table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation" style="max-width: 100%;" align="center" class="full-width" bgcolor="#081514">
      <tr>
        <td style="padding: 30px 0px" align="center" valign="">
          <table cellpadding="0" cellspacing="0" border="0" width="680" role="presentation" class="fluid" align="center">
            <tr>
              <td align="center" valign="middle" height="100%" width="100%">
                <table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation" style="max-width:680px;" align="center">
                  <tr>
                    <td style="font-size:0; padding: 0px;" align="center" valign="middle">
                      <!-- Column : BEGIN -->
                      <!--[if mso]>
                                          <td align="left" valign="top" width="170">
                                          <![endif]-->
                      <div style="display:inline-block; width:100%; max-width:170px; vertical-align:top; overflow:hidden;" class="stack-column margin-inner-lr-0 mobile-2-col">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation">
                          <tr>
                            <td style="padding: 3px 3px 3px;">
                              <table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation" style="font-size: 0px; line-height: 0px;">
                                <tr>
                                  <td>
                                    <!-- Block Image : BEGIN -->
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation" class="block-image">
                                      <tr>
                                        <td style="font-size:0; line-height:0; padding:;" align="center" class="mbswatchpadding-right">
                                          <!-- Image : BEGIN -->
                                          <a href="https://www.hillarys.co.uk/products/neisha-teal-roller-blind/?source=216&utm_source=customersale&utm_medium=email&utm_campaign=BlackFri4&nameurn={(exp_key_db_Person)}" target="_blank" style="color: #909090; font-size: 16px; text-align: center; mso-line-height: exactly; line-height: 0px; text-decoration:none;">
                                            <img class="fluid center-on-narrow g-img mbswatchpadding-right" src="https://litmus-builder.s3.amazonaws.com/85e706e2-c7cf-487a-9244-b5597e71bd46" width="164" alt="Neisha Teal fabric swatch" style="display: block;">
                                          </a> <!-- Image : END -->
                                        </td>
                                      </tr>
                                    </table> <!-- Block Image : END -->
                                    <p class="sans-serif text-sm-center" style="color: #ffffff; text-align: center; font-weight: 300; font-size: 13px; mso-line-height: exactly; line-height: 16px; margin: 5px 0 0;">Neisha Teal
                                      <br>House&nbsp;Beautiful </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!--[if mso]>
                                          </td>
                                          <![endif]-->
                      <!-- Column : END -->
                      <!-- Column : BEGIN -->
                      <!--[if mso]>
                                          <td align="left" valign="top" width="170">
                                          <![endif]-->
                      <div style="display:inline-block; width:100%; max-width:170px; vertical-align:top; overflow:hidden;" class="stack-column margin-inner-lr-0 mobile-2-col">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation">
                          <tr>
                            <td style="padding: 3px 3px 3px;" class="mbswatchpadding-left">
                              <table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation" style="font-size: 0px; line-height: 0px;">
                                <tr>
                                  <td>
                                    <!-- Block Image : BEGIN -->
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation" class="block-image">
                                      <tr>
                                        <td style="font-size:0; line-height:0; padding:;" align="center">
                                          <!-- Image : BEGIN -->
                                          <a href="https://www.hillarys.co.uk/products/mitre-ash-roller-blind/?source=216&utm_source=customersale&utm_medium=email&utm_campaign=BlackFri4&nameurn={(exp_key_db_Person)}" target="_blank" style="color: #909090; font-size: 16px; text-align: center; mso-line-height: exactly; line-height: 0px; text-decoration:none;">
                                            <img class="fluid center-on-narrow g-img" src="https://litmus-builder.s3.amazonaws.com/6956f421-2cfa-4766-ac25-c289054ec4e2" width="164" alt=" fabric swatch" style="display: block;">
                                          </a> <!-- Image : END -->
                                        </td>
                                      </tr>
                                    </table> <!-- Block Image : END -->
                                    <p class="sans-serif text-sm-center" style="color: #ffffff; text-align: center; font-weight: 300; font-size: 13px; mso-line-height: exactly; line-height: 16px; margin: 5px 0 0;">Mitre Ash
                                      <br>House&nbsp;Beautiful </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!--[if mso]>
                                          </td>
                                          <![endif]-->
                      <!-- Column : END -->
                      <!-- Column : BEGIN -->
                      <!--[if mso]>
                                          <td align="left" valign="top" width="170">
                                          <![endif]-->
                      <div style="display:inline-block; width:100%; max-width:170px; vertical-align:top; overflow:hidden;" class="stack-column margin-inner-lr-0 mobile-2-col">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation">
                          <tr>
                            <td style="padding: 3px 3px 3px;" class="mbswatchpadding-right">
                              <table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation" style="font-size: 0px; line-height: 0px;">
                                <tr>
                                  <td>
                                    <!-- Block Image : BEGIN -->
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation" class="block-image">
                                      <tr>
                                        <td style="font-size:0; line-height:0;" align="center">
                                          <!-- Image : BEGIN -->
                                          <a href="https://www.hillarys.co.uk/products/kovu-mirage-roman-blind/?source=216&utm_source=customersale&utm_medium=email&utm_campaign=BlackFri4&nameurn={(exp_key_db_Person)}" target="_blank" style="color: #909090; font-size: 16px; text-align: center; mso-line-height: exactly; line-height: 0px; text-decoration:none;">
                                            <img class="fluid center-on-narrow g-img" src="https://litmus-builder.s3.amazonaws.com/a14d348f-bde5-477c-aa98-3f833f0c7454" width="164" alt="Kovu Mirage fabric swatch" style="display: block;">
                                          </a> <!-- Image : END -->
                                        </td>
                                      </tr>
                                    </table> <!-- Block Image : END -->
                                    <p class="sans-serif text-sm-center" style="color: #ffffff; text-align: center; font-weight: 300; font-size: 13px; mso-line-height: exactly; line-height: 16px; margin: 5px 0 0;">Kovu Mirage
                                      <br>Hillarys x&nbsp;Livingetc </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!--[if mso]>
                                          </td>
                                          <![endif]-->
                      <!-- Column : END -->
                      <!-- Column : BEGIN -->
                      <!--[if mso]>
                                          <td align="left" valign="top" width="170">
                                          <![endif]-->
                      <div style="display:inline-block; width:100%; max-width:170px; vertical-align:top; overflow:hidden;" class="stack-column margin-inner-lr-0 mobile-2-col">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation">
                          <tr>
                            <td style="padding: 3px 3px 3px;" class="mbswatchpadding-left">
                              <table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation" style="font-size: 0px; line-height: 0px;">
                                <tr>
                                  <td>
                                    <!-- Block Image : BEGIN -->
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation" class="block-image">
                                      <tr>
                                        <td style="font-size:0; line-height:0; padding:;" align="center">
                                          <!-- Image : BEGIN -->
                                          <a href="https://www.hillarys.co.uk/products/serra-ochre-roman-blind/?source=216&utm_source=customersale&utm_medium=email&utm_campaign=BlackFri4&nameurn={(exp_key_db_Person)}" target="_blank" style="color: #909090; font-size: 16px; text-align: center; mso-line-height: exactly; line-height: 0px; text-decoration:none;">
                                            <img class="fluid center-on-narrow g-img" src="https://litmus-builder.s3.amazonaws.com/2b1b6970-f52f-4bcc-a84e-5b84a58b7fda" width="164" alt="Serra Ochre fabric swatch" style="display: block;">
                                          </a> <!-- Image : END -->
                                        </td>
                                      </tr>
                                    </table> <!-- Block Image : END -->
                                    <p class="sans-serif text-sm-center" style="color: #ffffff; text-align: center; font-weight: 300; font-size: 13px; mso-line-height: exactly; line-height: 16px; margin: 5px 0 0;">Serra Ochre
                                      <br>Hillarys x&nbsp;Livingetc </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <!--[if mso]>
                                          </td>
                                          <![endif]-->
                      <!-- Column : END -->
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table> <!-- Wrapper : END -->
    <!-- Block Column Wrapper : END -->



    <!-- Block Column Wrapper : BEGIN -->
		<!-- Wrapper : BEGIN -->
		<table class="full-width" role="presentation" bgcolor="#F4F4F3" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 100%;">
			<tr>
				<td valign="" align="center" style="padding:  0px">
					<table class="fluid" role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
						<tr>
							<td align="center" height="100%" valign="middle" width="100%">
								<table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:680px;">
									<tr>
										<td align="center" valign="middle" style="font-size:0; padding: 0px;">
											<!-- Column : BEGIN -->
											<!--[if mso]>
                                          <td align="left" valign="top" width="680">
                                          <![endif]-->
											<div style="display:inline-block; width:100%; max-width:680px; vertical-align:top; overflow:hidden;" class="stack-column margin-inner-lr-0">
												<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
													<tr>
														<td style="padding: 40px 0px 40px;">
															<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 0px; line-height: 0px;">
																<tr>
																	<td>
																		<!-- Block Text : BEGIN -->
																		<table class="block-text fluid" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
																			<tr>
																				<td align="center" style="padding: 0; height:auto; text-align: center;">
																					<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
																						<tr>
																							<td>
																								<h2 class="serif  text-sm-center " style="color: #000000; text-align: center; margin: 0; font-size: 28px; mso-line-height: exactly; line-height: 38px; font-weight: 700;">
                                                                                                                      <a class="h2 serif " href="https://www.hillarys.co.uk?source=408&utm_source=customernews&utm_medium=email&utm_campaign=BayWin&nameurn={(exp_key_db_Person)}" target="_blank" style="color: #000000; font-size: 28px; text-align: center; mso-line-height: exactly; line-height: 38px; text-decoration:none;">
                                                                                                                          Vote for your&nbsp;favourite 
                                                                                                                      </a>
                                                                                                                  </h2> 
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</table>
																		<!-- Block Text : END -->
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</div>
											<!--[if mso]>
                                          </td>
                                          <![endif]-->
											<!-- Column : END -->
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<!-- Wrapper : END -->
		<!-- Block Column Wrapper : END -->
        <!-- Block Column Wrapper : BEGIN -->
		<!-- Wrapper : BEGIN -->
		<table class="full-width" role="presentation" bgcolor="#F4F4F3" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 100%;">
			<tr>
				<td valign="" align="center" style="padding:  0px">
					<table class="fluid" role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
						<tr>
							<td align="center" height="100%" valign="middle" width="100%">
								<table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:680px;">
									<tr>
										<td align="center" valign="middle" style="font-size:0; padding: 0px;">
											<!-- Column : BEGIN -->
											<!--[if mso]>
                                          <td align="left" valign="top" width="340">
                                          <![endif]-->
											<div style="display:inline-block; width:100%; max-width:340px; vertical-align:top; overflow:hidden;" class="stack-column margin-inner-lr-0">
												<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
													<tr>
														<td style="padding: 0px 20px 30px;">
															<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 0px; line-height: 0px;">
																<tr>
																	<td>
																		<!-- Answer 1 Image -->
																		<a href="https://em.realtime.email/service/rte?kind=livepoll_clickthrough&id=1465859238&answer=1&esp_uid={(exp_key_db_Person)}&dim1=%%title%%|%%start_date%%|%%end_date%%|%%timezone%%|%%location%%|%%url%%|%%summary%%">
																			<img src="https://em.realtime.email/service/rte?kind=livepoll&id=1465859238&answer=1&esp_uid={(exp_key_db_Person)}&dim1=%%title%%|%%start_date%%|%%end_date%%|%%timezone%%|%%location%%|%%url%%|%%summary%%" border="0" width="300" class="fluid" alt="Venetians" />
																		</a>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</div>
											<!--[if mso]>
                                          </td>
                                          <![endif]-->
											<!-- Column : END -->
											<!-- Column : BEGIN -->
											<!--[if mso]>
                                          <td align="left" valign="top" width="340">
                                          <![endif]-->
											<div style="display:inline-block; width:100%; max-width:340px; vertical-align:top; overflow:hidden;" class="stack-column margin-inner-lr-0">
												<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
													<tr>
														<td style="padding: 0px 20px 30px;">
															<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 0px; line-height: 0px;">
																<tr>
																	<td>
																		<!-- Answer 2 Image -->
																		<a href="https://em.realtime.email/service/rte?kind=livepoll_clickthrough&id=1465859238&answer=2&esp_uid={(exp_key_db_Person)}&dim1=%%title%%|%%start_date%%|%%end_date%%|%%timezone%%|%%location%%|%%url%%|%%summary%%">
																			<img src="https://em.realtime.email/service/rte?kind=livepoll&id=1465859238&answer=2&esp_uid={(exp_key_db_Person)}&dim1=%%title%%|%%start_date%%|%%end_date%%|%%timezone%%|%%location%%|%%url%%|%%summary%%" border="0" width="300" class="fluid" alt="Rollers" />
																		</a>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</div>
											<!--[if mso]>
                                          </td>
                                          <![endif]-->
											<!-- Column : END -->
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<!-- Wrapper : END -->
		<!-- Block Column Wrapper : END -->
        <!-- Block Column Wrapper : BEGIN -->
		<!-- Wrapper : BEGIN -->
		<table class="full-width" role="presentation" bgcolor="#F4F4F3" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 100%;">
			<tr>
				<td valign="" align="center" style="padding:  0px">
					<table class="fluid" role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
						<tr>
							<td align="center" height="100%" valign="middle" width="100%">
								<table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:680px;">
									<tr>
										<td align="center" valign="middle" style="font-size:0; padding: 0px;">
											<!-- Column : BEGIN -->
											<!--[if mso]>
                                          <td align="left" valign="top" width="340">
                                          <![endif]-->
											<div style="display:inline-block; width:100%; max-width:340px; vertical-align:top; overflow:hidden;" class="stack-column margin-inner-lr-0">
												<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
													<tr>
														<td style="padding: 0px 20px 30px;">
															<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 0px; line-height: 0px;">
																<tr>
																	<td>
																		<!-- Answer 3 Image -->
																		<a href="https://em.realtime.email/service/rte?kind=livepoll_clickthrough&id=1465859238&answer=3&esp_uid={(exp_key_db_Person)}&dim1=%%title%%|%%start_date%%|%%end_date%%|%%timezone%%|%%location%%|%%url%%|%%summary%%">
																			<img src="https://em.realtime.email/service/rte?kind=livepoll&id=1465859238&answer=3&esp_uid={(exp_key_db_Person)}&dim1=%%title%%|%%start_date%%|%%end_date%%|%%timezone%%|%%location%%|%%url%%|%%summary%%" border="0" width="300" class="fluid" alt="Verticals" />
																		</a>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</div>
											<!--[if mso]>
                                          </td>
                                          <![endif]-->
											<!-- Column : END -->
											<!-- Column : BEGIN -->
											<!--[if mso]>
                                          <td align="left" valign="top" width="340">
                                          <![endif]-->
											<div style="display:inline-block; width:100%; max-width:340px; vertical-align:top; overflow:hidden;" class="stack-column margin-inner-lr-0">
												<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
													<tr>
														<td style="padding: 0px 20px 50px;">
															<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 0px; line-height: 0px;">
																<tr>
																	<td>
																		<!-- Answer 4 Image -->
																		<a href="https://em.realtime.email/service/rte?kind=livepoll_clickthrough&id=1465859238&answer=4&esp_uid={(exp_key_db_Person)}&dim1=%%title%%|%%start_date%%|%%end_date%%|%%timezone%%|%%location%%|%%url%%|%%summary%%">
																			<img src="https://em.realtime.email/service/rte?kind=livepoll&id=1465859238&answer=4&esp_uid={(exp_key_db_Person)}&dim1=%%title%%|%%start_date%%|%%end_date%%|%%timezone%%|%%location%%|%%url%%|%%summary%%" border="0" width="300" class="fluid" alt="Curtains" />
																		</a>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</div>
											<!--[if mso]>
                                          </td>
                                          <![endif]-->
											<!-- Column : END -->
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<!-- Wrapper : END -->
		<!-- Block Column Wrapper : END -->

{{/blank}}
{{!-- End of Email Wrapper --}}