{{!-- Start of Email Wrapper --}}
{{#> blank }}

    {{> block-navlarge}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/covid-19/" fullWidth="true" bgColor="#131F27" }}
        {{#> column padding="15px 0px" modifier="margin-inner-lr-0"}}
            {{#> block-text textAlign="center"}}
               <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                        <td style="text-align: center;">
                             <a class="sans-serif" href="{{{tracking.prefix}}}https://www.hillarys.co.uk/covid-19/{{{tracking.suffix}}}{{{tracking.nameurn}}}" style="color: #ffffff; line-height: 1; font-size: 16px; text-decoration: none; font-weight: 500;">COVID-19: We are open and making appointments. Find out more</a>
                        </td>
                    </tr>
                </table>
            {{/block-text}}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.google.com" fullWidth="true" bgColor="#ffffff" }}
        {{#> column padding="0 0 30px"}}
            {{#> block-image-cta
                altText="Don’t miss our biggest ever Black Friday Event."
                src="http://www.placehold.it/680x340"
                text="CALL TO ACTION"
                textColor="#ffffff"
                buttonColor="#ec0142"
                width="680"
            }}
            {{/block-image-cta }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper fullWidth="true" url="https://www.google.com" bgColor="#ffffff" }}
        {{#> column-wrapper fullWidth="false" columns="2"}}
            {{#> column padding="0px 10px 30px 0px"}}
                {{#> block-image-cta
                    altText="Don’t miss our biggest ever Black Friday Event."
                    src="http://www.placehold.it/680x340"
                    text="ROLLERS"
                    textColor="#ffffff"
                    buttonColor="#ec0142"
                    width="330"
                }}
                {{/block-image-cta }}
            {{/column}}

            {{#> column padding="0px 0px 30px 10px"}}
                {{#> block-image-cta
                    altText="Don’t miss our biggest ever Black Friday Event."
                    src="http://www.placehold.it/680x340"
                    text="VENETIANS"
                    textColor="#ffffff"
                    buttonColor="#ec0142"
                    width="330"
                }}
                {{/block-image-cta }}
            {{/column}}
        {{/column-wrapper}}

        {{#> column-wrapper fullWidth="false" columns="2"}}
            {{#> column padding="0px 10px 30px 0px"}}
                {{#> block-image-cta
                    altText="Don’t miss our biggest ever Black Friday Event."
                    src="http://www.placehold.it/680x340"
                    text="CURTAINS"
                    textColor="#ffffff"
                    buttonColor="#ec0142"
                    width="330"
                }}
                {{/block-image-cta }}
            {{/column}}

            {{#> column padding="0px 0px 30px 10px"}}
                {{#> block-image-cta
                    altText="Don’t miss our biggest ever Black Friday Event."
                    src="http://www.placehold.it/680x340"
                    text="SHUTTERS"
                    textColor="#ffffff"
                    buttonColor="#ec0142"
                    width="330"
                }}
                {{/block-image-cta }}
            {{/column}}
        {{/column-wrapper}}
        
        {{#> column-wrapper url="https://www.google.com" fullWidth="true" }}
            {{#> column padding="0px 0px 30px"}}
                {{#> block-split-image-text
                    url="https://www.google.com"
                    image="http://www.placehold.it/680x680"
                    imageAlt="Placeholder Image"
                    title="Title text"
                    titleTextColor="#000000"
                    bodyTextColor="#000000"
                    textCopy="Don’t miss our biggest ever Black Friday Event. Get up to 50% off selected made-to-measure blinds‚ curtains and shutters‚ plus and EXTRA 15% off ALL curtains and blinds."
                    buttonText="Button Text"
                    buttonTextColor="#000000"
                    buttonBorderColor="#000000"
                    buttonBGColor="#ffffff"
                }}
                {{/block-split-image-text}}
            {{/column}}
        {{/column-wrapper}}

        {{#> column-wrapper url="https://www.google.com" fullWidth="true" }}
            {{#> column padding="0px 0px 30px"}}
                {{#> block-split-image-text
                    imageLeft="true"
                    url="https://www.hillarys.co.uk"
                    image="http://www.placehold.it/680x680"
                    srcMobile="http://www.placehold.it/680x300"
                    imageAlt="Placeholder Image"
                    title="Title text"
                    titleTextColor="#000000"
                    textCopy="Don’t miss our biggest ever Black Friday Event. Get up to 50% off selected made-to-measure blinds‚ curtains and shutters‚ plus and EXTRA 15% off ALL curtains and blinds."
                    buttonText="Button Text"
                    buttonBGColor="#000000"
                    buttonTextColor="#ffffff"
                }}
                {{/block-split-image-text}}
            {{/column}}
        {{/column-wrapper}}

        {{#> column-wrapper fullWidth="false" columns="3"}}
            {{#> column padding="0px 14px 30px 0px"}}
                {{#> block-image-cta
                    altText="Don’t miss our biggest ever Black Friday Event."
                    src="http://www.placehold.it/680x680"
                    text="CURTAINS"
                    textColor="#ffffff"
                    buttonColor="#ec0142"
                    width="213"
                }}
                {{/block-image-cta }}
            {{/column}}

            {{#> column padding="0px 6px 30px 6px"}}
                {{#> block-image-cta
                    altText="Don’t miss our biggest ever Black Friday Event."
                    src="http://www.placehold.it/680x680"
                    text="SHUTTERS"
                    textColor="#ffffff"
                    buttonColor="#ec0142"
                    width="213"
                }}
                {{/block-image-cta }}
            {{/column}}

            {{#> column padding="0px 0px 30px 14px"}}
                {{#> block-image-cta
                    altText="Don’t miss our biggest ever Black Friday Event."
                    src="http://www.placehold.it/680x680"
                    text="ROLLERS"
                    textColor="#ffffff"
                    buttonColor="#ec0142"
                    width="213"
                }}
                {{/block-image-cta }}
            {{/column}}
        {{/column-wrapper}}
    {{/column-wrapper}}

    {{#> block-social-hashtag
        whiteIcon="true"
        bgColor="#343A41"
        hashtag="#StayHappyatHome"
        text="Now, more than ever, it’s time to love your home. We love seeing all the joy, colour and support that’s being shared by our customers. Share your lovely homes using <strong>#StayHappyatHome</strong> and keep spreading the positivity."
        textColor="#ffffff"
    }}
    {{/block-social-hashtag}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/" fullWidth="true" bgColor="#ffffff"}}
        {{#> column padding="30px 0px"}}
            {{>button-outline
                url="https://www.hillarys.co.uk/"
                margin="0px" 
                text="Button Text" 
                textColor="#000000"
                textAlign="center"
                borderColor="#000000"
                borderWidth="1px"
                buttonColor="#ffffff"
                textWeight="700"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/" fullWidth="true" bgColor="#010101"}}
        {{#> column padding="30px 0px 30px"}}
            {{#> block-quote
                quoteText="This spot on the landing has become my breathing space from the rest of the house."
                quoteAuthor="ERICA DAVIS‚ STYLIST AND FASHION JOURNALIST"
                textColor="#ffffff"
            }}
            {{/block-quote}}
        {{/column}}
    {{/column-wrapper}}

    {{>spacer}}

    {{#> block-sample-grid
        imageSrc1="http://www.placehold.it/600x600"
        imageAlt1="#"
        url1="https://www.hillarys.co.uk/"
        imageSrc2="http://www.placehold.it/600x600"
        imageAlt2="#"
        url2="https://www.hillarys.co.uk/"
        imageSrc3="http://www.placehold.it/600x600"
        imageAlt3="#"
        url3="https://www.hillarys.co.uk/"
        imageSrc4="http://www.placehold.it/600x600"
        imageAlt4="#"
        url4="https://www.hillarys.co.uk/"
    }}
    {{/block-sample-grid}}

    {{>spacer}}

    {{#> block-ribbon-image
        bgColor="#c3e1ea"
        image="http://placehold.it/680x395"
        imageAlt="Image Alt"
        url="https://www.hillarys.co.uk/"
    }}
    {{/block-ribbon-image}}

    {{>spacer}}

    {{#> block-ribbon
        bgColor="#c3e1ea"
        image="http://placehold.it/340x380"
        imageAlt="Image Alt"
        title="Lorem ipsum dolor"
        url="https://www.hillarys.co.uk/"
        buttonText="Button Text"
        textCopy="Don’t miss our biggest ever Black Friday Event. Get up to 50% off selected made-to-measure blinds‚ curtains and shutters‚ plus and EXTRA 15% off ALL curtains and blinds. "
    }}
    {{/block-ribbon}}

    {{>spacer}}

    {{#> block-ribbon
        bgColor="#c3e1ea"
        imageLeft="true"
        image="http://placehold.it/340x380"
        imageAlt="Image Alt"
        title="Lorem ipsum dolor"
        url="https://www.hillarys.co.uk/"
        buttonText="Button Text"
        textCopy="Don’t miss our biggest ever Black Friday Event. Get up to 50% off selected made-to-measure blinds‚ curtains and shutters‚ plus and EXTRA 15% off ALL curtains and blinds. "
    }}
    {{/block-ribbon}}

    {{>spacer}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/" fullWidth="true" bgColor="#EC0142" }}
        {{#> column}}
            {{>button-fw
                url="https://www.hillarys.co.uk/"
                margin="0"
                text="Don’t miss our biggest ever Black Friday Event."
                textColor="#ffffff"
                buttonColor="#ec0142"
                textWeight="700"
                textSize="30px"
                lineHeight="40px"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/" fullWidth="true" }}
        {{#> column padding="30px 0 0"}}
            {{>button-outline
                url="https://www.hillarys.co.uk/"
                margin="0px" 
                text="Button Text" 
                textColor="#000000"
                textAlign="center"
                borderColor="#000000"
                borderWidth="1px"
                buttonColor="#ffffff"
                textWeight="700"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.google.com" fullWidth="true" bgColor="#ffffff" }}
        {{#> column padding="30px 0"}}
            {{#> block-image
                altText="Don’t miss our biggest ever Black Friday Event."
                src="http://www.placehold.it/680x300"
                url="https://www.google.com"
                width="680"
            }}
            {{/block-image }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.google.com" fullWidth="true" bgColor="#ffffff" }}
        {{#> column padding="0"}}
            {{#> block-3-images
                imageSrc1="http://www.placehold.it/600x600"
                altText1="Alt Text"
                url1="https://www.hillarys.co.uk/" 
                imageSrc2="http://www.placehold.it/600x600"
                altText2="Alt Text"
                url2="https://www.hillarys.co.uk/" 
                imageSrc3="http://www.placehold.it/600x600"
                altText3="Alt Text"
                url3="https://www.hillarys.co.uk/"
            }}
            {{/block-3-images}}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.google.com" fullWidth="true" bgColor="#ffffff" }}
        {{#> column padding="0 0 30px"}}
            {{#> block-text-image
                altText="Don’t miss our biggest ever Black Friday Event."
                src="http://www.placehold.it/680x300"
                url="https://www.google.com"
                swapPosition="true"
                title="Title Text"
                text="Don’t miss our biggest ever Black Friday Event."
                buttonText="Button Text"
            }}
            {{/block-text-image }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.google.com" fullWidth="true" bgColor="#ffffff" }}
        {{#> column padding="0 0 30px"}}
            {{#> block-text}}
                {{> block-image width="680" margin="0px" url="https://www.google.com" altText="Placeholder Image" src="http://www.placehold.it/680x300"}}
                {{>p margin="30px 0px 0px" textPadding="0 20px" text="Don’t miss our biggest ever Black Friday Event. Get up to 50% off selected made-to-measure blinds, curtains and shutters, plus and EXTRA 15% off ALL curtains and blinds. You can also get an EXTTRA 10% off ALL shutters! Book your free in home appointment today with your local advisor. "}}
                {{>button margin="30px 0px 0px" text="REQUEST AN APPOINTMENT ONLINE" textColor="#ffffff" textAlign="center"}}
            {{/block-text }}
        {{/column}}
    {{/column-wrapper}}
    
    {{#> column-wrapper bgColor="#000000" fullWidth="true" margin="25px 0px" url="https://www.google.com" }}
        {{#> column-wrapper fullWidth="false" columns="3"}}
            {{#> column padding="0px 10px 0px 0px"}}
                {{> block-image url="https://www.google.com" altText="Placeholder Image" src="http://www.placehold.it/600x600" width="216"}}
            {{/column}}

            {{#> column padding="0px 5px 0px 5px"}}
                {{> block-image url="https://www.google.com" altText="Placeholder Image" src="http://www.placehold.it/600x600" width="216"}}
            {{/column}}

            {{#> column padding="0px 0px 0px 10px"}}
                {{> block-image url="https://www.gogle.com" altText="Placeholder Image" src="http://www.placehold.it/600x600" width="216"}}
            {{/column}}
        {{/column-wrapper}}
    {{/column-wrapper}}

    {{#> column-wrapper bgColor="#ffffff" fullWidth="true" margin="25px 0px" url="https://www.google.com" }}
        {{#> column-wrapper fullWidth="false" columns="2"}}
            {{#> column padding="0px 10px 0px 0px"}}
                {{> block-image url="https://www.google.com" altText="Placeholder Image" src="http://www.placehold.it/600x600" width="324"}}
            {{/column}}

            {{#> column padding="0px 0px 0px 10px"}}
                {{> block-image url="https://www.gogle.com" altText="Placeholder Image" src="http://www.placehold.it/600x600" width="324"}}
            {{/column}}
        {{/column-wrapper}}
    {{/column-wrapper}}

    {{> block-hashtag
        bgColor="#f4f4f3"
        url="https://www.instagram.com/explore/tags/myhillaryshome"
        buttonTextColor="#ffffff"
        buttonColor="#EC0142"
    }}

    {{> block-navempty}}

    {{> block-navlarge}}

    {{> block-navsmall}}

    {{> divider color="#D2D2D2"}}

    {{> block-sponsor}}
    
    {{> block-request}}
    
    {{> block-social}}

    {{#> block-footer
        bgColor="#f4f4f3"
    }}
    {{/block-footer}}

{{/blank}}
{{!-- End of Email Wrapper --}}