<!-- START : MSO Friendly Font Defaults -->
<!--[if mso]>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif !important;
        }
        h1, .h1, h2, .h2, h3, .h3 {
            font-family: Arial, Helvetica, sans-serif !important;
            font-weight: 700 !important;
        }
        .quote{
            font-family: Arial, Helvetica, sans-serif !important;
            font-weight: 700 !important;
        }
        h4{
            font-family: Arial, Helvetica, sans-serif !important;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        p {
            font-family: Arial, Helvetica, sans-serif !important;
        }

        .sans-serif {
            font-family: 'gill-sans-nova', sans-serif;
        }

        .serif {
            font-family: 'gill-sans-nova', sans-serif;
        }
    </style>
<![endif]-->

<!--[if !mso]><!-->
<!-- START : Progressive Enhancement Fonts -->
<!-- <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700" rel="stylesheet"> -->
<link rel="stylesheet" href="https://use.typekit.net/nyn4lom.css">

<style>
    * {
        font-family: 'gill-sans-nova', sans-serif;
        font-weight: 400;
    }

    .sans-serif {
        font-family: 'gill-sans-nova', sans-serif;
    }

    .serif {
        font-family: 'gill-sans-nova', sans-serif;
    }

    h1, .h1,
    h2, .h2 {
        font-family: 'gill-sans-nova', sans-serif;
        font-weight: 600;
    }

    h3, .h3 {
        font-family: 'gill-sans-nova', sans-serif;
        font-weight: 400;
    }
    
    h4, .h4 {
        font-family: 'gill-sans-nova', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
</style>
<!--<![endif]-->
<!-- END : Web Fonts & Defaults -->

<style>
    h1, .h1 {
        font-size: 38px;
    }

    h2, .h2 {
        font-size: 28px;
    }
    
    h3, .h3 {
        font-size: 13px;
    }
    
    h4, .h4 {
        font-size: 14px;
    }
</style>

<!-- START : CSS Reset -->
<style>
    html,
    body {
        margin: 0 auto !important;
        padding: 0 !important;
        height: 100% !important;
        width: 100% !important;
        background-color: {{advanced.backgroundColor}} !important;
    }

    a {
        color: #2e2c2c;
        text-decoration: none;
    }

    * {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    div[style*="margin: 16px 0"] {
        margin: 0 !important;
    }

    table,
    td {
        mso-table-lspace: 0pt !important;
        mso-table-rspace: 0pt !important;
    }

    table {
        border-spacing: 0 !important;
        table-layout: fixed !important;
        margin: 0 auto !important;
    }

    table table table {
        table-layout: auto;
    }

    img {
        -ms-interpolation-mode: bicubic;
        max-width: 100%;;
    }

    *[x-apple-data-detectors],
    /* iOS */

    .x-gmail-data-detectors,
    /* Gmail */

    .x-gmail-data-detectors *,
    .aBn {
        border-bottom: 0 !important;
        cursor: default !important;
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
    }

    .a6S {
        display: none !important;
        opacity: 0.01 !important;
    }

    img.g-img+div {
        display: none !important;
    }

    .button-link {
        text-decoration: none !important;
    }

    .mobile-show {
        display: none !important;
    }

    /* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
    @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
        u~div .email-container {
            min-width: 320px !important;
        }
    }

    /* iPhone 6, 6S, 7, 8, and X */
    @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
        u~div .email-container {
            min-width: 375px !important;
        }
    }

    /* iPhone 6+, 7+, and 8+ */
    @media only screen and (min-device-width: 414px) {
        u~div .email-container {
            min-width: 414px !important;
        }
    }

    /*Fixes overflow issues on Yahoo*/
    @media screen yahoo {
        * {
            overflow: visible !important
        }

        .y-overflow-hidden {
            overflow: hidden !important
        }
    }
</style>

<!-- Outlook 2016 Height Fix -->
<!--[if gt mso 15]>
    <style type="text/css" media="all">
    table, tr, td {border-collapse: collapse;}
    tr { font-size:0px; line-height:0px; border-collapse: collapse; }
<![endif]-->

<!-- END : CSS Reset -->

<!-- START : Progressive Enhancements -->
<style>
    /* Red button hover effects */
    .button-red-td,
    .button-red-a {
        transition: all 100ms ease-in;
    }

    .button-red-td:hover,
    .button-red-a:hover {
        background: #b90134 !important;
        border-color: #b90134 !important;
        color: #ffffff;
    }

    /* Media Queries */

    /* For text centering - mobile first for android clients */
    @media screen and (min-width: 659px) {
        .des-tal {
            text-align: left !important;
        }

        .des-tar {
            text-align: right !important;
        }
    }

    /* For stretching tables - desktop first */
    @media screen and (max-width: 659px) {

        .full-width,
        .sponsor-image {
            padding-left: 20px;
            padding-right: 20px;
        }

        .full-width .full-width {
            padding-left: 0;
            padding-right: 0;
        }

        .block-text {
            width: 100% !important;
        }

        /* Stacks on mobile */
        .stack-column,
        .stack-column-center {
            display: block !important;
            width: 100% !important;
            max-width: 100% !important;
            direction: ltr !important;
        }

        /* Removes side padding on mobile */
        .stack-column td {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        /* Aligns text to center on mobile */
        .stack-column-center {
            text-align: center !important;
        }

        .center-on-narrow {
            text-align: center !important;
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
            float: none !important;
        }

        .mb-full {
            width: 100% !important;
            max-width: 100% !important;
        }
        .drop {
            width:100% !important;
            display:block !important;
        }

        .social-links {
            max-width: 280px;
            margin: 0 auto;;
        }

        .social-links .center-on-narrow {
            display: inline-block !important;
        }

        table.center-on-narrow {
            display: inline-block !important;
        }

        /* Mobile font size */
        .email-container p {
            font-size: 16px !important;
        }

        /* Mobile UGC heading size */
        .email-container h5 {
            font-size: 23px !important;
        }

        /* Hide on mobile on most mobile clients */
        .mobile-hide {
            display: none !important;
        }

        .padding-hide {
            padding: 0px !important;
        }

        .mobile {
            display:block !important;
            max-height:none !important;
            overflow:visible !important;
        }

        .mobile-show {
            height: auto !important;
            width: auto !important;
            display: table-cell !important;
            line-height: auto !important;
        }

        img.mobile-show {
            height: auto !important;
            width: 100% !important;
            display: inline !important;
        }

        /* fix for 2 column blocks on iPhone SE */
        .p_0_5 {
            padding: 0 5px !important;
        }

        /*required to remove padding on countdown timer header*/
        .p_0 {
            padding: 0 !important;
        }

        /*For ribbon blocks, set your background colour, repeat and rename class for multiple blocks with different background colours*/
        .ribbon-bg {
            background-image: none !important;
            padding-top: 40px;
        }

        .ribbon-bg-full {
            padding-bottom: 40px;
        }

        /* Stretches on mobile */
        .fluid {
            width: 100% !important;
            max-width: 100% !important;
            height: auto !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }

        .hide {
            display:none !important;
            max-height:0 !important;
            overflow:hidden !important;
        }

        .small-padding-mobile {
            padding: 20px 0 40px !important;
        }

        .padlr20,
        .stack-column .padlr20 {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        .padb20 {
			padding-bottom:20px !important;
        }

        p.terms {
            font-size:12px !important;
        }

        .ts-logo img {
            max-width: 80%;
        }

        h1,
        .h1,
        .h1 a {
            font-size: 30px !important;
            line-height: 40px !important;
        }

        h2,
        .h2,
        .h2 a {
            font-size: 24px !important;
            line-height: 34px !important;
        }

        h1 br,
        h2 br {
            display: none;
        }

        .margin-inner-lr-0 p,
        .mlr0 {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .mobile-2-col {
            width: 50% !important;
            display: inline-block !important;
        }

        .quotemarks {
            font-size: 50px !important;
            line-height: 45px !important; /* Toms fix */
        }
    }

    @media screen and (max-width: 440px) {
        .sm-mob-hide {
            display:none !important;
        }
        .sm-mob-fluid {
            width: 100% !important;
            height: auto !important;
        }
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        /* Add any CSS3 animations here */
    }
</style>
<!-- Progressive Enhancements : END -->