<!-- Block Button : BEGIN -->

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td style="padding: {{margin}}; font-family: sans-serif;">
            <table border="0" align="{{textAlign}}" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                <tr>
                    <td align="{{textAlign}}">
                        <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                            <tr>
                                <td align="{{textAlign}}" bgcolor="{{>_buttonColor}}"
                                    style="min-width:100px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; font-family: sans-serif;">
                                    <a href="{{>_url}}" class="button-link" target="_blank" style="{{>_textColor}} {{>_textWeight default="700"}} padding: 12px 22px; text-align:center; mso-padding-alt: 12px 22px; min-width:100px; display: block; text-decoration: none; font-size: 13px; background: {{>_buttonColor}}; border: 1px solid {{>_buttonColor}}; mso-line-height-rule: exactly; line-height:18px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; text-transform: uppercase; letter-spacing: 1px;">
                                    {{{escapeCharacter text}}}
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- Block Button : END -->
