<!-- Block Button Full Width : BEGIN -->

<table class="fluid" {{#if width}}width="{{width}}"{{else}}width="100%"{{/if}} border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td style="padding: {{margin}}; font-family: sans-serif;">
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center">
                        <table border="0" align="center" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" bgcolor="{{>_buttonColor}}"
                                    style="min-width:100px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; font-family: sans-serif;">
                                    <a href="{{>_url}}" class="button-link" target="_blank" style="{{>_textColor}} {{>_textWeight default="400"}} padding: 14px 18px; mso-padding-alt: 14px 18px; min-width:100px; display: block; text-decoration: none; {{>_textSize default="14px"}} background: {{>_buttonColor}}; border: 1px solid {{>_buttonColor}}; {{> _lineHeight default="18px"}} -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; text-transform: uppercase; letter-spacing: 1px;">
                                    {{{escapeCharacter text}}}
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- Block Button Full Width : END -->
