{{!-- Description --}}
{{#> container description=description bgColor="#f4f4f3"}}
    {{#> row}}
        {{#> column gutter="0" size="1"}}{{/column}}
        {{#> column innerPadding="80px 0px 20px" innerMobilePadding="px-sm-20 py-sm-30" gutter="0" size="10"}}
            {{>h4 textSize="22px" textMargin="0px 0px 10px" text=title}}
            {{>p textMargin="0px 0px 10px" textSize="16px" lineHeight="26px" text=description }}
        {{/column}}
        {{#> column gutter="0" size="1"}}{{/column}}
    {{/row}}
{{/container}}