<!-- Block Text : BEGIN -->

<table class="block-text fluid" role="presentation" cellspacing="0" cellpadding="0" border="0" width="{{#if width}}{{width}}{{else}}100%{{/if}}">
    <tr>
        <td align="center" style="padding: 0; height:{{>_height}}; {{>_textAlign}}">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td>
                        {{> @partial-block }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- Block Text : END -->
