<!-- Block Banner : BEGIN -->

<!--[if mso]>
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
<tr>
<td>
<![endif]-->
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td align="center" bgcolor="{{>_bgColor}}">
                <table border="0" align="center" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="center" bgcolor="{{>_bgColor}}" style="min-width:100px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; font-family: sans-serif;">
                            <span style="line-height: 1.2; mso-line-height-rule:exactly;">
                                <a href="{{>_url}}" class="button-link" target="_blank" style="padding: {{>_padding}}; mso-padding-alt: {{>_padding}}; display: block; background: {{>_bgColor}}; border: 1px solid {{>_bgColor}}; mso-line-height-rule: exactly; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; font-family: sans-serif; {{>_textColor}} {{>_textAlign}} {{>_margin}} {{>_textSize default="16px"}} line-height: 1.2; mso-line-height-rule:exactly; {{>_textWeight default="400"}}">
                                    {{{escapeCharacter text}}}
                                </a>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
<!--[if mso]>
</td>
</tr>
</table>
<![endif]-->

<!-- Block Banner : End -->