<!-- Block Image CTA : BEGIN -->

<!--[if mso]>
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center">
<tr>
<td>
<![endif]-->
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px; font-size: 0px; line-height: 0%;">
        <tr>
            <td bgcolor="{{>_bgColor}}">
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                        <td align="center" style="font-size:0; line-height:0;">
                            {{>image textSize="16px" lineHeight="30px" textColor="#909090" altText=altText src=src width=width fluid=true }}
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="font-size:0; line-height:0;">
                            {{>button-fw margin="0px 0px 0px" text=text textColor=textColor buttonColor=buttonColor }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
<!--[if mso]>
</td>
</tr>
</table>
<![endif]-->

<!-- Block Image CTA : END -->
