<!-- Block Quote : BEGIN -->

{{#> block-text textAlign="center"}}
    <h2 class="serif text-sm-center quotemarks" style="{{> _textColor }} text-align: center; margin: 0; font-size: 70px; mso-line-height: exactly; line-height: 70px; font-weight: 700;">“</h2>
    <h2 class="serif text-sm-center quotetext" style="{{> _textColor }} text-align: center; margin: 0 auto 30px; font-size: 34px; mso-line-height: exactly; line-height: 42px; font-weight: 700; max-width: 550px">{{quoteText}}</h2>
    {{>p margin="0" text=quoteAuthor textAlign="center" textColor=textColor lineHeight="20px" textSize="14px" margin="0"}}
{{/block-text}}

<!-- Block Quote : END -->
