<!-- ***** -->
<!-- START : Countdown timer -->
<!-- ***** -->

{{#> column-wrapper fullWidth="false" bgColor="#EC0142" columns="2" }}
    {{#> column}}
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="padding-hide">
            <tr>
                <td align="center" height="40" valign="middle" class="p_0" style="font-family: sans-serif; font-size: 21px; line-height: 140%; color: #ffffff; text-transform:uppercase; padding:20px 0;">{{ title }}</td>
            </tr>
        </table>
    {{/column}}
    {{#> column}}
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td align="center">
                    <a href="{{url}}" target="_blank"> 
                        <img src="http://countdown.hblonline.co.uk/clock/gif.php?fontSize={{countdownFontSize}}&time={{countdownTime}}&bgColor={{countdownBG}}&textColor={{countdownTextColor}}&textFont={{countdownFont}}" width="280" height="47" border="0" alt="" style="display: block; border:none; color: #000000; font-family: Helvetica, arial, sans-serif; font-size: 20px; line-height: 60px;"> 
                    </a>
                </td>
            </tr>
            <tr>
                <td align="center" style="font-family: sans-serif; font-size: 20px; line-height: 140%; color: #ffffff;">
                    <img src="countdown.png" width="280" height="33" alt="" style="display:block; width:280px; max-width: 280px;"> 
                </td>
            </tr>
        </table>
    {{/column}}
{{/column-wrapper}}
<!-- ***** -->
<!-- END : Countdown timer -->
<!-- ***** -->