<!-- Block Image : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center">
            <table class="block-image fluid" role="presentation" cellspacing="0" cellpadding="0" border="0" width="{{{width}}}">
                <tr>
                    <td align="center" style="font-size:0; line-height:0; padding: {{margin}};" >
                        {{>image textSize="16px" lineHeight="30px" textColor="#909090" altText=altText src=src width=width }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- Block Image : END -->