<!-- *** -->
<!-- START : Text Block with Image LTR -->
<!-- *** -->

<div style="max-width: 680px; margin: auto;">
    <!--[if mso]>
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
    <tr>
    <td>
    <![endif]-->
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;">

        <!-- Thumbnail Left, Text Right : BEGIN -->
        <tr>
            <td {{#if imageLeft}}dir="ltr"{{else}}dir="rtl"{{/if}} align="center" height="100%" valign="top" width="100%" style="padding: 0px;">
                <!--[if mso]>
                <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="680" style="width: 680px;">
                <tr>
                <td align="center" valign="top" width="680" style="width: 680px;">
                <![endif]-->
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:680px;">
                    <tr>
                        <td align="center" valign="top" style="font-size:0; padding: 0px;">
                            <!--[if mso]>
                            <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="680" style="width: 680px;">
                            <tr>
                            <td align="left" valign="top" width="340px" style="width: 340px;">
                            <![endif]-->
                            <div style="display:inline-block; max-width: 340px; vertical-align:top; width:100%;" class="stack-column padb20 fluid">
                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <tr>
                                        {{#if srcMobile}}
                                        <td class="mobile-show" align="left" style="padding: 0; display: none; height: 0; font-size: 0; line-height: 0; mso-hide: all;">
                                            <!-- Image : BEGIN -->
                                            {{>_urlStart fontSize="0px" lineHeight="0px"}}
                                            <img src="{{srcMobile}}" {{#if altText}}alt="{{altText}}"{{/if}} {{#if width}}width="{{width}}"{{else}}width="100%"{{/if}} class="mobile-show center-on-narrow g-img {{#if fluid}}fluid {{/if}}" style="{{>_textColor}} {{>_textSize default="16px"}} {{>_lineHeight default="24px"}} {{>_textWeight default="400"}} display: none; border: none; width: 0; height: 0;">
                                            {{>_urlEnd}}
                                            <!-- Image : END -->
                                        </td>
                                        {{/if}}
                                        <td{{#if srcMobile}} class="mobile-hide"{{/if}} {{#if imageLeft}}dir="ltr"{{else}}dir="rtl"{{/if}} style="padding: 0px;">
                                            {{> block-image margin="0px" altText=imageAlt src=image fluid="true" width="340"}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--[if mso]>
                            </td>
                            <td align="left" valign="top" width="340px" style="width: 340px;">
                            <![endif]-->
                            <div style="display:inline-block; max-width:340px; vertical-align:top;" class="stack-column fluid">
                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td class="p_0" {{#if imageLeft}}dir="ltr"{{else}}dir="rtl"{{/if}} {{#if imageLeft}}style="padding: 0 0 30px 30px;"{{else}}style="padding: 0 30px 30px 0;"{{/if}}>
                                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td dir="ltr" style="text-align: left; font-family: sans-serif; line-height: 140%; color: #555555;" class="center-on-narrow stack-column-center">
                                                            {{#> block-text textAlign="left"}}
                                                                {{>h2 text=title margin="20px 0 20px" textSize="28px" textColor=titleTextColor textWeight="700" }}
                                                                
                                                                {{>p text=textCopy textSize="17px" lineHeight="30px" textColor=bodyTextColor margin="0 0 20px"}}
                                                                
                                                                {{#if buttonText}}
                                                                    {{#if buttonBorderColor}}
                                                                    {{>button-outline
                                                                        url=url
                                                                        margin="0px" 
                                                                        text=buttonText
                                                                        textColor=buttonTextColor
                                                                        textAlign="left"
                                                                        borderColor=buttonBorderColor
                                                                        borderWidth="1px"
                                                                        buttonColor=buttonBGColor
                                                                        textWeight="700"
                                                                    }}
                                                                    {{else}}
                                                                    {{>button-outline
                                                                        url=url
                                                                        margin="0px" 
                                                                        text=buttonText
                                                                        textColor=buttonTextColor
                                                                        textAlign="left"
                                                                        borderColor=buttonBGColor
                                                                        borderWidth="1px"
                                                                        buttonColor=buttonBGColor
                                                                        textWeight="700"
                                                                    }}
                                                                    {{/if}}
                                                                {{/if}}
                                                            {{/block-text}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                </table>
                            </div>
                            <!--[if mso]>
                            </td>
                            </tr>
                            </table>
                            <![endif]-->
                        </td>
                    </tr>
                </table>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </td>
        </tr>
        <!-- Thumbnail Left, Text Right : END -->

    </table>
    <!--[if mso]>
    </td>
    </tr>
    </table>
    <![endif]-->
</div>

<!-- *** -->
<!-- END : Text Block with Image -->
<!-- *** -->