<!-- *** -->
<!-- START : Text Block with Image & Ribbon LTR -->
<!-- *** -->

<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <td class="ribbon-bg full-width" background="ribbon-block-png.png" bgcolor="{{>_bgColor}}" valign="top" align="center" style="background-size: 100% 100%;">
            <!--[if gte mso 9]>
            <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="100%" style="background-color:{{>_bgColor}}">
            <tr><td>
            <![endif]-->
            <div style="max-width: 680px; margin: auto; overflow:hidden;" class="email-container">
                <!--[if mso]>
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
                <tr>
                <td>
                <![endif]-->
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;">
                    <tr>
                        <td {{#if imageLeft}}dir="ltr"{{else}}dir="rtl"{{/if}} align="center" height="100%" valign="top" width="100%" style="padding: 0px;">
                            <!--[if mso]>
                            <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="680" style="width: 680px;">
                            <tr>
                            <td align="center" valign="top" width="680" style="width: 680px;">
                            <![endif]-->
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
                                style="max-width:680px;">
                                <tr>
                                    <td align="center" valign="top" style="font-size:0; padding: 0px;">
                                        <!--[if mso]>
                                        <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="680" style="width: 680px;">
                                        <tr>
                                        <td align="left" valign="top" width="340" style="width: 320px;">
                                        <![endif]-->
                                        <div style="display:inline-block; max-width: 340px; vertical-align:top; width:100%;"
                                            class="stack-column">
                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                <tr>
                                                    <td dir="ltr" style="padding: 0px;">
                                                        {{> block-image margin="0px" altText=imageAlt src=image fluid="true" width="340"}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--[if mso]>
                                        </td>
                                        <td align="left" valign="top" width="340" style="width: 320px;">
                                        <![endif]-->
                                        <div style="display:inline-block; max-width:340px; vertical-align:top;" class="stack-column">
                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                <tr>
                                                    <td class="small-padding-mobile" align="left" style="padding: 60px 30px;">
                                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                            <tr>
                                                                <td dir="ltr" class="center-on-narrow" style="text-align: left;;">
                                                                    {{>h2 text=title margin="0px 0px 15px" textAlign="left" textColor="#343a41" textSize="26px" lineHeight="36px" textWeight="700" }}
                                                                    {{>p text=textCopy margin="0 0 15px" textAlign="left"}}
                                                                    
                                                                    {{#if buttonText}}
                                                                    {{>button 
                                                                        text=buttonText
                                                                        textColor="#ffffff"
                                                                        textAlign="left"
                                                                        buttonColor="#393F47"
                                                                    }}
                                                                    {{/if}}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--[if mso]>
                                        </td>
                                        </tr>
                                        </table>
                                        <![endif]-->
                                    </td>
                                </tr>
                            </table>
                            <!--[if mso]>
                            </td>
                            </tr>
                            </table>
                            <![endif]-->
                        </td>
                    </tr>
                </table>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </div>
            <!--[if mso]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </td>
    </tr>
</table>

<!-- *** -->
<!-- END : Text Block with Image & Ribbon LTR -->
<!-- *** -->