<!-- *** -->
<!-- START : Image Blocks Stackable -->
<!-- *** -->

<div style="max-width: 680px; margin: auto; overflow:hidden;" class="email-container">
    <!--[if mso]>
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
    <tr>
    <td>
    <![endif]-->
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px; font-family: sans-serif; color: #888888; font-size: 0px; line-height: 0%;">
        <!-- 2 Even Columns : BEGIN -->
        <tr>
            <td align="center" height="100%" valign="top" width="100%">
                <!--[if mso]>
                <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="680">
                <tr>
                <td align="center" valign="top" width="680">
                <![endif]-->
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:680px;">
                    <tr>
                        <td align="center" valign="top" style="font-size:0; padding: 0px;">
                            <!--[if mso]>
                            <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="680">
                            <tr>
                            <td align="left" valign="top" width="340">
                            <![endif]-->
                            <div style="display:inline-block; width:100%; min-width:200px; max-width:340px; vertical-align:top; overflow:hidden;" class="stack-column">
                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <tr>
                                        <td style="padding: 0px">
                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;">
                                                <tr>
                                                    <td>
                                                        {{#if url1}}
                                                            {{>image textSize="16px" width="340" lineHeight="30px" textColor="#909090" altText=altText1 src=imageSrc1 url=url1 fluid=true }}
                                                        {{else}}
                                                            {{>image textSize="16px" width="340" lineHeight="30px" textColor="#909090" altText=altText1 src=imageSrc1 url=url fluid=true }}
                                                        {{/if}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--[if mso]>
                            </td>
                            <td align="left" valign="top" width="340">
                            <![endif]-->
                            <div style="display:inline-block; width:100%; min-width:200px; max-width:340px; vertical-align:top; overflow:hidden;" class="stack-column">
                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <tr>
                                        <td style="padding: 0px;">
                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;">
                                                <tr>
                                                    <td>
                                                        {{#if url2}}
                                                            {{>image textSize="16px" width="340" lineHeight="30px" textColor="#909090" altText=altText2 src=imageSrc2 url=url2 fluid=true }}
                                                        {{else}}
                                                            {{>image textSize="16px" width="340" lineHeight="30px" textColor="#909090" altText=altText2 src=imageSrc2 url=url fluid=true }}
                                                        {{/if}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--[if mso]>
                            </td>
                            </tr>
                            </table>
                            <![endif]-->
                        </td>
                    </tr>
                </table>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </td>
        </tr>
        <!-- 2 Even Columns : END -->
    </table>
    <!--[if mso]>
    </td>
    </tr>
    </table>
    <![endif]-->
</div>

<!-- *** -->
<!-- END : Image Blocks Stackable -->
<!-- *** -->