<!-- *** -->
<!-- START : FULL WIDTH RIBBON IMAGE -->
<!-- *** -->

<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
        <tr>
            <td class="ribbon-bg ribbon-bg-full full-width" background="ribbon-block-png.png" bgcolor="{{>_bgColor}}" valign="top" align="center">
                <!--[if gte mso 9]>
                <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="100%" style="background-color:{{>_bgColor}};">
                <tr><td>
                <![endif]-->
                <div style="max-width: 680px; margin: auto;" class="email-container">
                    <!--[if mso]>
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
                    <tr>
                    <td>
                    <![endif]-->
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr>
                            <td align="center">
                                {{> block-image margin="0px" altText=imageAlt src=image fluid="true" width="680"}}
                            </td>
                        </tr>
                    </table>
                    <!--[if mso]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                </div>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </td>
        </tr>
    </table>
    
    <!-- *** -->
    <!-- END : FULL WIDTH RIBBON IMAGE -->
    <!-- *** -->