<!-- Block Text Image : BEGIN -->

{{#if swapPosition}}
    {{#> column-wrapper fullWidth="false" }}
        {{#> column gutter="0" size="6" padding="0"}}
            {{>image fluid="true" src=src altText=altText}}
        {{/column}}
    {{/column-wrapper}}
{{/if}}

{{#> column-wrapper fullWidth="false" }}
    {{#> column textAlign="left" mobileTextAlign="center" align="left" mobileAlign="right" size="6" stack=stack padding="0"}}
        {{#if title}}
            {{>h3 textSize="28px" lineHeight="28px" _margin="10px 0 0" text=title}}
        {{/if}}
        {{>p lineHeight="28px" margin="0 0 20px" text=text }}
        {{#if buttonText}}
            {{> button textColor="#ffffff" buttonColor="#333333" text=buttonText}}
        {{/if}}
    {{/column}}
{{/column-wrapper}}

{{#unless swapPosition}}
    {{#> column-wrapper fullWidth="false" }}
        {{#> column gutter="0" size="6" padding="0"}}
            {{>image fluid="true" src=src altText=altText}}
        {{/column}}
    {{/column-wrapper}}
{{/unless}}

<!-- Block Text Image : END -->
