<!-- *** -->
<!-- START : CAMPAIGN HEADER -->
<!-- *** -->

<table role="presentation" bgcolor="#ffffff" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <td valign="top" align="center">
            <div style="max-width: 680px; margin: auto;" class="email-container">
                <!--[if mso]>
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
                <tr>
                <td>
                <![endif]-->
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                        <td style="padding: 40px 40px 0px; text-align: center;">
                            <h4 style="margin: 0; font-size: 16px; line-height: 125%; font-weight:700;"><a href="{{>_url}}" target="_blank" style="text-decoration:none; color: #ec0142; font-family: 'Montserrat', sans-serif; font-weight: 700; text-transform: uppercase; letter-spacing: 2px;">{{{escapeCharacter subTitle}}}</a></h4>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 40px 20px; text-align: center;">
                            <h1 style="margin: 0;  font-size: 40px; line-height: 130%;"><a href="{{>_url}}" target="_blank" style="text-decoration:none; color: #333333; font-family: 'Playfair Display', sans-serif; font-weight: 700;">{{{escapeCharacter title}}}</a></h1>
                        </td>
                    </tr>
                </table>
                <!--[if mso]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </div>
        </td>
    </tr>
</table>

<!-- *** -->
<!-- END : CAMPAIGN HEADER -->
<!-- *** -->