<!-- Block Image : BEGIN -->

<table class="block-image" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td class="mobile-hide" align="center" style="font-size:0; line-height:0; padding: {{margin}};" >
            <!-- Image : BEGIN -->
            {{>_urlStart fontSize="0px" lineHeight="0px"}}
            <img src="{{src}}" {{#if altText}}alt="{{altText}}"{{/if}} {{#if width}}width="{{width}}"{{else}}width="100%"{{/if}} class="center-on-narrow g-img {{#if fluid}}fluid {{/if}}" style="{{>_textColor}} {{>_textSize default="16px"}} {{>_lineHeight default="24px"}} {{>_textWeight default="400"}}">
            {{>_urlEnd}}
            <!-- Image : END -->
        </td>
        <td class="mobile-show" align="left" style="padding: 0; display: none; height: 0; font-size: 0; line-height: 0; mso-hide: all;">
            <!-- Image : BEGIN -->
            {{>_urlStart fontSize="0px" lineHeight="0px"}}
            <img src="{{srcMobile}}" {{#if altText}}alt="{{altText}}"{{/if}} {{#if width}}width="{{width}}"{{else}}width="100%"{{/if}} class="mobile-show center-on-narrow g-img {{#if fluid}}fluid {{/if}}" style="{{>_textColor}} {{>_textSize default="16px"}} {{>_lineHeight default="24px"}} {{>_textWeight default="400"}} display: none; border: none; width: 0; height: 0;">
            {{>_urlEnd}}
            <!-- Image : END -->
        </td>
    </tr>
</table>

<!-- Block Image : END -->