<!-- Block Sample Grid : BEGIN -->

{{#> column-wrapper fullWidth="true" bgColor="#ffffff" columns="4" }}
    {{#> column padding="3px 3px 3px" modifier="margin-inner-lr-0 mobile-2-col"}}
        {{#> block-image
            altText=imageAlt1
            src=imageSrc1
            width="164"
            fluid="true"
            url=url1
        }}{{/block-image }}
    {{/column}}

    {{#> column padding="3px 3px 3px" modifier="margin-inner-lr-0 mobile-2-col"}}
        {{#> block-image
            altText=imageAlt2
            src=imageSrc2
            width="164"
            fluid="true"
            url=url2
        }}{{/block-image }}
    {{/column}}

    {{#> column padding="3px 3px 3px" modifier="margin-inner-lr-0 mobile-2-col"}}
        {{#> block-image
            altText=imageAlt3
            src=imageSrc3
            width="164"
            fluid="true"
            url=url3
        }}{{/block-image }}
    {{/column}}

    {{#> column padding="3px 3px 3px" modifier="margin-inner-lr-0 mobile-2-col"}}
        {{#> block-image
            altText=imageAlt4
            src=imageSrc4
            width="164"
            fluid="true"
            url=url4
        }}{{/block-image }}
    {{/column}}
{{/column-wrapper}}

<!-- Block Sample Grid : END -->
