<!-- *** -->
<!-- START : FULL WIDTH VIDEO WITH FALLBACK IMAGE -->
<!-- *** -->

<!-- START : Video Styles -->
<style>
    /* Hide video container */
    .video-wrapper {display:none;}

    @supports (-webkit-overflow-scrolling:touch) and (color:#ffffffff) {
        div[class^=video-wrapper] { display:block!important; }
        div[class^=video-fallback] { display:none!important; }
    }
    
    /*@media (-webkit-min-device-pixel-ratio: 0) and (min-device-width:1024px) {
        .video-wrapper { display:block!important; }
        .video-fallback { display:none!important; }
    }*/
    
    #MessageViewBody .video-wrapper { display:block!important; }
    #MessageViewBody .video-fallback { display:none!important; }
</style>

<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center">
            <!-- video section initially hidden -->
            <div class="video-wrapper" style="display:none;">
                <video width="680" muted height="386" controls="controls" autoplay="autoplay" poster="{{posterImage}}" src="{{videoURL}}" style="width: 100%; max-width: 680px; font-weight: 300; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: 140%; color: #ffffff; margin: auto;" class="fluid g-img">
                    <!-- fallback 1 -->
                    <img width="680" height="386" alt="{{altText}}" src="{{posterImage}}" style="width: 100%; max-width: 680px; font-weight: 300; font-family: 'Montserrat', sans-serif; font-size: 35px; line-height: 140%; color: #ffffff; margin: auto;" class="fluid g-img" />
                </video>
            </div>
            <!-- fallback section initially displayed -->
            <div class="video-fallback">
                {{>image textSize="16px" width="680" lineHeight="30px" textColor="#909090" altText=altText src=posterImage url=url fluid=true }}
            </div>
        </td>
    </tr>
</table>

<!-- *** -->
<!-- END : FULL WIDTH VIDEO WITH FALLBACK IMAGE -->
<!-- *** -->