<!-- *** -->
<!-- START : Large Gallery -->
<!-- *** -->

<table role="presentation" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <td valign="top" align="center" style="padding: 30px 0 20px;">

            <div style="max-width: 680px; margin: auto;" class="email-container">
                <!--[if mso]>
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
                <tr>
                <td>
                <![endif]-->

                <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px; font-family: sans-serif; color: #888888; font-size: 12px; line-height: 140%;">
                    <!-- 2 Even Columns : BEGIN -->
                    <tr>
                        <td align="center" height="100%" valign="top" width="100%">
                            <!--[if mso]>
                            <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                            <tr>
                            <td align="center" valign="top" width="660">
                            <![endif]-->
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:660px;">

                                <tr>
                                    <td style="padding: 0px 0px 30px; text-align: center;">
                                        <h4 style="margin: 0; font-size: 14px; line-height: 125%; font-weight:700; color: #333333;">{{{escapeCharacter fullTitle}}}</h4>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="center" valign="top" style="font-size:0; padding: 0px;">
                                        <!--[if mso]>
                                        <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                                        <tr>
                                        <td align="left" valign="top" width="330">
                                        <![endif]-->
                                        <div style="display:inline-block; margin: 0 -2px; width:100%; min-width:200px; max-width:330px; vertical-align:top;" class="stack-column">
                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                <tr>
                                                    <td style="padding: 0px;">
                                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align:center;">
                                                            <tr>
                                                                <td>
                                                                    {{#if url1}}
                                                                        {{>image textSize="16px" width="310" lineHeight="30px" textColor="#909090" altText=altText1 src=imageSrc1 url=url1 fluid=true }}
                                                                    {{else}}
                                                                        {{>image textSize="16px" width="310" lineHeight="30px" textColor="#909090" altText=altText1 src=imageSrc1 url=url fluid=true }}
                                                                    {{/if}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 15px 20px; text-align: center;">
                                                                    <h4 style="margin: 0;  font-size: 20px; line-height: 130%; color: #464646;">{{{escapeCharacter title1}}}</h4>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--[if mso]>
                                        </td>
                                        <td align="left" valign="top" width="330">
                                        <![endif]-->
                                        <div style="display:inline-block; margin: 0 -2px; width:100%; min-width:200px; max-width:330px; vertical-align:top;" class="stack-column">
                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                <tr>
                                                    <td style="padding: 0px;">
                                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: center;">
                                                            <tr>
                                                                <td>
                                                                    {{#if url2}}
                                                                        {{>image textSize="16px" width="310" lineHeight="30px" textColor="#909090" altText=altText2 src=imageSrc2 url=url2 fluid=true }}
                                                                    {{else}}
                                                                        {{>image textSize="16px" width="310" lineHeight="30px" textColor="#909090" altText=altText2 src=imageSrc2 url=url fluid=true }}
                                                                    {{/if}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 15px 20px; text-align: center;">
                                                                    <h4 style="margin: 0;  font-size: 20px; line-height: 130%; color: #464646;">{{{escapeCharacter title2}}}</h4>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--[if mso]>
                                        </td>
                                        </tr>
                                        </table>
                                        <![endif]-->
                                    </td>
                                </tr>

                                <tr>
                                    <td align="center" valign="top" style="font-size:0; padding: 10px 0;">
                                        <!--[if mso]>
                                        <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                                        <tr>
                                        <td align="left" valign="top" width="330">
                                        <![endif]-->
                                        <div style="display:inline-block; margin: 0 -2px; width:100%; min-width:200px; max-width:330px; vertical-align:top;" class="stack-column">
                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                <tr>
                                                    <td style="padding: 0px;">
                                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align:center;">
                                                            <tr>
                                                                <td>
                                                                    {{#if url3}}
                                                                        {{>image textSize="16px" width="310" lineHeight="30px" textColor="#909090" altText=altText3 src=imageSrc3 url=url3 fluid=true }}
                                                                    {{else}}
                                                                        {{>image textSize="16px" width="310" lineHeight="30px" textColor="#909090" altText=altText3 src=imageSrc3 url=url fluid=true }}
                                                                    {{/if}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 15px 20px; text-align: center;">
                                                                    <h4 style="margin: 0;  font-size: 20px; line-height: 130%; color: #464646;">{{{escapeCharacter title3}}}</h4>
                                                                </td>
                                                            </tr>

                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--[if mso]>
                                        </td>
                                        <td align="left" valign="top" width="330">
                                        <![endif]-->
                                        <div style="display:inline-block; margin: 0 -2px; width:100%; min-width:200px; max-width:330px; vertical-align:top;" class="stack-column">
                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                <tr>
                                                    <td style="padding: 0px;">
                                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: center;">
                                                            <tr>
                                                                <td>
                                                                    {{#if url4}}
                                                                        {{>image textSize="16px" width="310" lineHeight="30px" textColor="#909090" altText=altText4 src=imageSrc4 url=url4 fluid=true }}
                                                                    {{else}}
                                                                        {{>image textSize="16px" width="310" lineHeight="30px" textColor="#909090" altText=altText4 src=imageSrc4 url=url fluid=true }}
                                                                    {{/if}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 15px 20px; text-align: center;">
                                                                    <h4 style="margin: 0;  font-size: 20px; line-height: 130%; color: #464646;">{{{escapeCharacter title4}}}</h4>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--[if mso]>
                                        </td>
                                        </tr>
                                        </table>
                                        <![endif]-->
                                    </td>
                                </tr>
                            </table>
                            <!--[if mso]>
                            </td>
                            </tr>
                            </table>
                            <![endif]-->
                        </td>
                    </tr>
                    <!-- 2 Even Columns : END -->
                </table>

                <!--[if mso]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </div>
        </td>
    </tr>
</table>

<!-- *** -->
<!-- END : Large Gallery -->
<!-- *** -->