{{#> column-wrapper fullWidth="true" bgColor=bgColor }}
    {{#> column padding="40px 0px 28px" modifier="margin-inner-lr-0 mobile-nobreak social-hashtag"}}
        {{#if whiteIcon}}
            {{#> block-image
                altText="Instagram"
                src="instagramLink.png"
                width="55"
                fluid="true"
                url="Instagram"
            }}{{/block-image }}
        {{else}}
            {{#> block-image
                altText="Instagram"
                src="instagramLinkBlack.png"
                width="55"
                fluid="true"
                url="Instagram"
            }}{{/block-image }}
        {{/if}}
        {{#> block-text textAlign="center"}}
            {{>h2 margin="0px 0 20px" text=hashtag textAlign="center" textColor=textColor lineHeight="36px" textSize="36px" textWeight="700"}}
            {{>p margin="0 60px 20px" text=text textAlign="center" textColor=textColor lineHeight="30px" textSize="16px"}}
        {{/block-text}}
    {{/column}}
{{/column-wrapper}}