<!-- Block Column Wrapper : BEGIN -->
{{#>wrapper}}
<table class="fluid" role="presentation" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
    <tr>
        <td align="center" height="100%" valign="{{>_valign default='middle'}}" width="100%">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:680px;">
                <tr>
                    <td align="center" valign="{{>_valign default='middle'}}" style="font-size:0; padding: 0px;">
                        {{> @partial-block }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{/wrapper}}
<!-- Block Column Wrapper : END -->