<style>
[class="x_hotspot_fb"] {
    display:block !important;
    max-height:none !important;
    overflow:visible !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0),
@-moz-document url-prefix() {
    .hotspot_fb {
        display:none;
    }

    .hotspot {
        display:block !important;
        max-height:none !important;
    }

    .hotspot-cont {
        background-image:url({{ imageSrc}});
        width:680px;
        height:600px;
    }
    .pulse-button {
        background-image:url(http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hotspots_03.png);
        background-size:cover;
        width:30px;
        height:30px;
        cursor:pointer;
        border-radius:50%;
        box-shadow:0 0 0 0 rgba(255, 255, 255, 0.9);
        -webkit-animation:pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -moz-animation:pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -ms-animation:pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        animation:pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    }
    .pulse-button-1 {
        position:absolute;
        top:144px;
        left:415px;
    }
    .pulse-button-2 {
        position:absolute;
        top:265px;
        left:82px;
    }
    .hotspot-text-1,
    .hotspot-text-2 {
        display:none;
    }
    .text-pos,
    .text-2-pos {
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
    }
    #hotspot-1:checked ~ .hotspot-cont .hotspot-text-1,
    #hotspot-2:checked ~ .hotspot-cont .hotspot-text-2 {
        display:block;
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        margin-left:auto;
        margin-right:auto;
        background:rgba(0, 0, 0, 0.6);
        z-index:99;
    }
    .close-hotspot {
        background-image:url(http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hotspots_04.png);
        position:absolute;
        top:30px;
        right:30px;
        width:20px;
        height:20px;
        display:block;
        cursor:pointer;
    }
    #hotspot-close:checked ~ .hotspot-cont .hotspot-text-1,
    #hotspot-close:checked ~ .hotspot-cont .hotspot-text-2 {
        display:none;
    }
    .hotspot-inst {
        padding:15px 0;
    }
    @-webkit-keyframes pulse {
        to {
            box-shadow:0 0 0 25px rgba(0, 174, 214, 0);
        }
    }
    @-moz-keyframes pulse {
        to {
            box-shadow:0 0 0 25px rgba(0, 174, 214, 0);
        }
    }
    @-ms-keyframes pulse {
        to {
            box-shadow:0 0 0 25px rgba(0, 174, 214, 0);
        }
    }
    @keyframes pulse {
        to {
            box-shadow:0 0 0 25px rgba(0, 174, 214, 0);
        }
    }
}

@media only screen and (max-width:659px) {
    .hotspot {
        width:100% !important;
    }
    .hotspot-cont {
        background-image:url({{ imageSrcMobile}}) !important;
        background-size:cover !important;
        width:100% !important;
        height:150vw !important;
    }
    .pulse-button-1 {
        top:30vw !important;
        left:75vw !important;
    }
    .pulse-button-2 {
        top:60vw !important;
        left:15vw !important;
    }
}
</style>

<table width="680" border="0" cellspacing="0" cellpadding="0" style="width:680px;" class="fluid">
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" bgcolor="#f3f3f4">
                        <!--[if !mso]><!-->
                        <div class="hotspot" style="display:none; max-height:0; overflow:hidden; width:680px;">
                            <input name="hotspot" type="radio" id="hotspot-1" style="display:none !important;">
                            <input name="hotspot" type="radio" id="hotspot-2" style="display:none !important;">
                            <input name="hotspot" type="radio" id="hotspot-close" style="display:none !important;">
                            <div class="hotspot-cont" style="position:relative;">
                                {{#if hotspot1Image}}
                                <label for="hotspot-1">
                                    <div class="pulse-button pulse-button-1"></div>
                                    <div class="hotspot-text-1">
                                        <div class="text-pos">
                                            <table width="640" border="0" cellspacing="0" cellpadding="0" style="width:640px;" class="fluid">
                                                <tr>
                                                    <td bgcolor="#ffffff" style="padding:30px; border-radius:3px;">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td class="hide">
                                                                    <table width="270" border="0" cellspacing="0" cellpadding="0" style="width:270px;">
                                                                        <tr>
                                                                            <td align="center"><img src="{{ hotspot1Image}}" alt="{{ hotspot1Alt}}" width="270" height="280" style="display:block;" border="0" /></td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td width="40" style="width:40px;" class="hide">&nbsp;</td>
                                                                <td>
                                                                    <table width="270" border="0" cellspacing="0" cellpadding="0" style="width:270px;" class="fluid">
                                                                        <tr>
                                                                            <td>
                                                                                <label for="hotspot-close" class="close-hotspot"></label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:22px; color:#2e2c2c; padding:0 0 25px 0;" class="center padt25">
                                                                            <strong style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:22px;">{{ hotspot1Title}}</strong>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:16px; line-height:26px; color:#686058; padding:0 0 25px 0;" class="center">
                                                                            {{ hotspot1Text}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left">
                                                                                <table border="0" cellspacing="0" cellpadding="0" class="fluid" style="margin: 0 !important;">
                                                                                    <tr>
                                                                                        <td align="center">
                                                                                            <table width="220" border="0" cellspacing="0" cellpadding="0" style="width:220px; margin: 0 !important;">
                                                                                                <tr>
                                                                                                    <td align="center" bgcolor="#e90f46" height="45" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:15px; color:#ffffff; height:45px; border-radius:3px;">
                                                                                                        <a href="https://www.hillarys.co.uk/" target="_blank" style="color:#ffffff; text-decoration:none; line-height:45px; display:block;">
                                                                                                        <strong>Request an appointment</strong>
                                                                                                        </a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </label>
                                {{/if}}
                                {{#if hotspot2Image}}
                                <label for="hotspot-2">
                                    <div class="pulse-button pulse-button-2"></div>
                                    <div class="hotspot-text-2">
                                        <div class="text-pos">
                                            <table width="640" border="0" cellspacing="0" cellpadding="0" style="width:640px;" class="fluid">
                                                <tr>
                                                    <td bgcolor="#ffffff" style="padding:30px; border-radius:3px;">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td class="hide">
                                                                    <table width="270" border="0" cellspacing="0" cellpadding="0" style="width:270px;">
                                                                        <tr>
                                                                            <td align="center"><img src="{{ hotspot2Image}}" alt="{{ hotspot2Alt}}" width="270" height="280" style="display:block;" border="0" /></td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td width="40" style="width:40px;" class="hide">&nbsp;</td>
                                                                <td>
                                                                    <table width="270" border="0" cellspacing="0" cellpadding="0" style="width:270px;" class="fluid">
                                                                        <tr>
                                                                            <td>
                                                                                <label for="hotspot-close" class="close-hotspot"></label>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:22px; color:#2e2c2c; padding:0 0 25px 0;" class="center padt25">
                                                                            <strong style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:22px;">{{ hotspot2Title}}</strong>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:16px; line-height:26px; color:#686058; padding:0 0 25px 0;" class="center">
                                                                            {{ hotspot2Text}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left">
                                                                                <table border="0" cellspacing="0" cellpadding="0" class="fluid" style="margin: 0 !important;">
                                                                                    <tr>
                                                                                        <td align="center">
                                                                                            <table width="220" border="0" cellspacing="0" cellpadding="0" style="width:220px; margin: 0 !important;">
                                                                                                <tr>
                                                                                                    <td align="center" bgcolor="#e90f46" height="45" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:15px; color:#ffffff; height:45px; border-radius:3px;">
                                                                                                        <a href="https://www.hillarys.co.uk/" target="_blank" style="color:#ffffff; text-decoration:none; line-height:45px; display:block;">
                                                                                                        <strong>Request an appointment</strong>
                                                                                                        </a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </label>
                                {{/if}}
                            </div>
                            <div class="hotspot-inst">
                                <table width="350" border="0" cellspacing="0" cellpadding="0" style="width:350px;" class="fluid padlr20">
                                    <tr>
                                        <td align="center" bgcolor="#ffffff" style="padding:10px 0; border-radius:20px;">
                                            <table border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:14px; color:#686058;">
                                                        Click on a hotspot
                                                    </td>
                                                    <td style="padding:0 10px !important;" class="padlr5">
                                                        <img src="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hotspots_05.png" alt="" width="23" height="23" style="display:block;" border="0" />
                                                    </td>
                                                    <td style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:14px; color:#686058;">
                                                        to view more info
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!--<![endif]-->
                        <div class="hotspot_fb">
                            <table width="680" border="0" cellspacing="0" cellpadding="0">
                                <tr class="hide">
                                    <td>
                                        <img src="{{ imageSrc}}" alt="{{ imageAlt}}" width="700" height="500" style="display:block;" border="0" />
                                    </td>
                                </tr>
                                <!--[if !mso]><!-->
                                <tr>
                                    <td class="mobile" style="display:none; max-height:0; overflow:hidden;">
                                        <img src="{{ imageSrcMobile}}" role="presentation" width="320" style="display:block;" border="0" class="scale" />
                                    </td>
                                </tr>
                                <!--<![endif]-->
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>