<style>
[class="x_carousel_fb"] {
    display:block !important;
    max-height:none !important;
    overflow:visible !important;
}

 @media screen and (-webkit-min-device-pixel-ratio:0),
@-moz-document url-prefix() {
    .carousel_4_fb {
        display:none;
    }

    .carousel_4 {
        display:block !important;
        max-height:none !important;
    }

    #MessageViewBody .carousel_4_fb,
    body.MsgBody .carousel_4_fb { 
        display:block !important; 
    }

    #MessageViewBody .carousel_4,
    body.MsgBody .carousel_4 { 
        display:none !important;
        max-height:0 !important;
    }

    .carousel_4 span {
        width:680px;
        display:block;
        overflow:hidden;
    }

    .carousel_4 .car-frames img {
        display:inline-block;
        width:680px;
    }

    .carousel_4 .car-frames span:first-child {
        background-image:url({{{ imageSrc1}}});
    }

    .carousel_4 .car-frames span:nth-child(2) {
        background-image:url({{{ imageSrc2}}});
    }

    .carousel_4 .car-frames span:nth-child(3) {
        background-image:url({{{ imageSrc3}}});
    }

    .carousel_4 .car-frames span:last-child {
        background-image:url({{{ imageSrc4}}});
    }

    .carousel_4.slide span {
        position:absolute;
        top:0;
        left:0;
        opacity:1;
        width:100%;
    }

    .carousel_4.slide span:nth-child(1) {
        position:relative;
        z-index:1;
    }

    .carousel_4.slide .car-radio ~ .car-cont .car-frames {
        left:0;
        top:0;
    }

    .carousel_4.slide .car-radio:checked ~ .car-cont .car-frames {
        position:relative;
        left:0;
        top:0;
        width:400% !important;
        transition:left 1s;
    }

    .carousel_4.slide .car-radio2:checked ~ .car-cont .car-frames {
        left:-100%;
    }

    .carousel_4.slide .car-radio3:checked ~ .car-cont .car-frames {
        left:-200%;
    }

    .carousel_4.slide .car-radio4:checked ~ .car-cont .car-frames {
        left:-300%;
    }

    .carousel_4.slide .car-radio:checked ~ .car-cont span {
        width:25%;
    }

    .carousel_4.slide .car-radio:checked ~ .car-cont span:nth-child(2) {
        position:absolute;
        left:25%;
        top:0;
    }

    .carousel_4.slide .car-radio:checked ~ .car-cont span:nth-child(3) {
        position:absolute;
        left:50%;
        top:0;
    }

    .carousel_4.slide .car-radio:checked ~ .car-cont span:nth-child(4) {
        position:absolute;
        left:75%;
        top:0;
    }

    .carousel_4 .car-ltn,
    .carousel_4 .car-rtn {
        z-index:80;
        display:none;
        height:100%;
        position:absolute;
        background-color:transparent;
        top:0;
        cursor:pointer;
    }

    .carousel_4 .car-ltn {
        left:0;
    }

    .carousel_4 .car-rtn {
        right:0;
    }

    .carousel_4 .car-ltn::after,
    .carousel_4 .car-rtn::after {
        content:'';
        width:60px;
        height:100%;
        position:absolute;
        background-repeat:no-repeat;
        background-size:60px 100px;
    }

    .carousel_4 .car-ltn::after {
        background-image:url(Carousel_arrow_left.png);
        left:0;
        background-position:left;
    }
    .carousel_4 .car-rtn::after {
        background-image:url(Carousel_arrow_right.png);
        right:0;
        background-position:right;
    }

    .carousel.carousel_4 #car-cbox-support:checked ~ .car-cont .car-nav-1 {
        display:block;
    }

    .carousel_4 .car-radio1:checked ~ .car-cont .car-controls .car-nav-2,
    .carousel_4 .car-radio1:checked ~ .car-cont .car-controls .car-nav-3,
    .carousel_4 .car-radio1:checked ~ .car-cont .car-controls .car-nav-4,
    .carousel_4 .car-radio2:checked ~ .car-cont .car-controls .car-nav-1,
    .carousel_4 .car-radio2:checked ~ .car-cont .car-controls .car-nav-3,
    .carousel_4 .car-radio2:checked ~ .car-cont .car-controls .car-nav-4,
    .carousel_4 .car-radio3:checked ~ .car-cont .car-controls .car-nav-1,
    .carousel_4 .car-radio3:checked ~ .car-cont .car-controls .car-nav-2,
    .carousel_4 .car-radio3:checked ~ .car-cont .car-controls .car-nav-4,
    .carousel_4 .car-radio4:checked ~ .car-cont .car-controls .car-nav-1,
    .carousel_4 .car-radio4:checked ~ .car-cont .car-controls .car-nav-2,
    .carousel_4 .car-radio4:checked ~ .car-cont .car-controls .car-nav-3 {
        opacity:0;
        display:none;
    }

    .carousel_4 .car-radio1:checked ~ .car-cont .car-controls .car-nav-1,
    .carousel_4 .car-radio2:checked ~ .car-cont .car-controls .car-nav-2,
    .carousel_4 .car-radio3:checked ~ .car-cont .car-controls .car-nav-3,
    .carousel_4 .car-radio4:checked ~ .car-cont .car-controls .car-nav-4 {
        opacity:1;
        display:block;
    }

    .carousel.carousel_4 #car-cbox-support:checked ~ .car-thumbnails {
        display:block !important;
        text-align:center;
        position:relative;
        background-color: #ffffff;
    }

    .carousel.carousel_4 .car-thumb {
        width:10px;
        height:10px;
        margin:20px 10px;
        z-index:81;
        cursor:pointer;
        display:inline-block;
        background-color:#a4a3a4;
        border-radius:50%;
    }

    .carousel.carousel_4 .car-thumb:nth-child(1) {
        background-color:#000000;
    }

    .carousel.carousel_4 .car-thumb img {
        width:100%;
        height:auto;
    }

    .carousel_4 .car-radio:checked ~ .car-thumbnails .car-thumb:nth-child(1) {
        background-color:#a4a3a4;
    }

    .carousel_4 .car-radio1:checked ~ .car-thumbnails .car-thumb:nth-child(1),
    .carousel_4 .car-radio2:checked ~ .car-thumbnails .car-thumb:nth-child(2),
    .carousel_4 .car-radio3:checked ~ .car-thumbnails .car-thumb:nth-child(3),
    .carousel_4 .car-radio4:checked ~ .car-thumbnails .car-thumb:nth-child(4) {
        background-color:#000000;
    }
}

@media only screen and (max-width:659px) {
    .carousel.carousel_4 {
        width:100% !important;
    }
    .carousel.carousel_4 .car-frames span:first-child {
        background-image:url({{{ imageSrc1Mobile}}}) !important;
        background-size:cover !important;
        background-position: top !important;
    }
    .carousel.carousel_4 .car-frames span:nth-child(2) {
        background-image:url({{{ imageSrc2Mobile}}}) !important;
        background-size:cover !important;
        background-position: top !important;
    }
    .carousel.carousel_4 .car-frames span:nth-child(3) {
        background-image:url({{{ imageSrc3Mobile}}}) !important;
        background-size:cover !important;
        background-position: top !important;
    }
    .carousel.carousel_4 .car-frames span:last-child {
        background-image:url({{{ imageSrc4Mobile}}}) !important;
        background-size:cover !important;
        background-position: top !important;
    }
    .carousel_4 .car-ltn::after,
    .carousel_4 .car-rtn::after {
        width:40px !important;
        background-size:40px 66px !important;
    }
}
</style>

<!--[if !mso]><!-->
<div class="interactive">
    <div class="carousel carousel_4 slide" style="display:none; max-height:none; overflow:hidden; position:relative; width:680px; text-align:center;">
        <input id="car-cbox-support" type="checkbox" checked="checked" style="display:none !important;">
        <input name="carousel" type="radio" id="car4-radio-1" class="car-radio car-radio1" style="display:none !important;">
        <input name="carousel" type="radio" id="car4-radio-2" class="car-radio car-radio2" style="display:none !important;">
        <input name="carousel" type="radio" id="car4-radio-3" class="car-radio car-radio3" style="display:none !important;">
        <input name="carousel" type="radio" id="car4-radio-4" class="car-radio car-radio4" style="display:none !important;">
        <div class="car-cont" style="position:relative;">
            <div class="car-frames">
                <span style="font-size: 0; line-height: 0;">
                    {{#if url1}}
                    <a href="{{{tracking.prefix}}}{{{ url1}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                    {{else}}
                    <a href="{{{tracking.prefix}}}{{{ url}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                    {{/if}}
                        <table class="block-image" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="mobile-hide" align="center" style="font-size:0; line-height:0; padding: {{margin}};" >
                                    <!-- Image : BEGIN -->
                                    <img src="{{imageSrc1}}" width="100%" class="center-on-narrow g-img fluid">
                                    <!-- Image : END -->
                                </td>
                                <td class="mobile-show" align="left" style="padding: 0; display: none; height: 0; font-size: 0; line-height: 0; mso-hide: all;">
                                    <!-- Image : BEGIN -->
                                    <img src="{{imageSrc1Mobile}}" role="presentation" width="100%" class="mobile-show center-on-narrow g-img fluid" style="display: none; border: none; width: 0; height: 0;">
                                    <!-- Image : END -->
                                </td>
                            </tr>
                        </table>
                    </a>
                    {{#if image1ButtonText}}
                        {{#if url1}}
                            {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image1ButtonText url=url1}}
                        {{else}}
                            {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image1ButtonText url=url}}
                        {{/if}}
                    {{/if}}
                </span>
                <span style="font-size: 0; line-height: 0;">
                    {{#if url2}}
                    <a href="{{{tracking.prefix}}}{{{ url2}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                    {{else}}
                    <a href="{{{tracking.prefix}}}{{{ url}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                    {{/if}}
                        <table class="block-image" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="mobile-hide" align="center" style="font-size:0; line-height:0; padding: {{margin}};" >
                                    <!-- Image : BEGIN -->
                                    <img src="{{imageSrc2}}" width="100%" class="center-on-narrow g-img fluid">
                                    <!-- Image : END -->
                                </td>
                                <td class="mobile-show" align="left" style="padding: 0; display: none; height: 0; font-size: 0; line-height: 0; mso-hide: all;">
                                    <!-- Image : BEGIN -->
                                    <img src="{{imageSrc2Mobile}}" role="presentation" width="100%" class="mobile-show center-on-narrow g-img fluid" style="display: none; border: none; width: 0; height: 0;">
                                    <!-- Image : END -->
                                </td>
                            </tr>
                        </table>
                    </a>
                    {{#if image2ButtonText}}
                        {{#if url2}}
                            {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image2ButtonText url=url2}}
                        {{else}}
                            {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image2ButtonText url=url}}
                        {{/if}}
                    {{/if}}
                </span>
                <span style="font-size: 0; line-height: 0;">
                    {{#if url3}}
                    <a href="{{{tracking.prefix}}}{{{ url3}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                    {{else}}
                    <a href="{{{tracking.prefix}}}{{{ url}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                    {{/if}}
                        <table class="block-image" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="mobile-hide" align="center" style="font-size:0; line-height:0; padding: {{margin}};" >
                                    <!-- Image : BEGIN -->
                                    <img src="{{imageSrc3}}" width="100%" class="center-on-narrow g-img fluid">
                                    <!-- Image : END -->
                                </td>
                                <td class="mobile-show" align="left" style="padding: 0; display: none; height: 0; font-size: 0; line-height: 0; mso-hide: all;">
                                    <!-- Image : BEGIN -->
                                    <img src="{{imageSrc3Mobile}}" role="presentation" width="100%" class="mobile-show center-on-narrow g-img fluid" style="display: none; border: none; width: 0; height: 0;">
                                    <!-- Image : END -->
                                </td>
                            </tr>
                        </table>
                    </a>
                    {{#if image3ButtonText}}
                        {{#if url3}}
                            {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image3ButtonText url=url3}}
                        {{else}}
                            {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image3ButtonText url=url}}
                        {{/if}}
                    {{/if}}
                </span>
                <span style="font-size: 0; line-height: 0;">
                    {{#if url4}}
                    <a href="{{{tracking.prefix}}}{{{ url4}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                    {{else}}
                    <a href="{{{tracking.prefix}}}{{{ url}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                    {{/if}}
                        <table class="block-image" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="mobile-hide" align="center" style="font-size:0; line-height:0; padding: {{margin}};" >
                                    <!-- Image : BEGIN -->
                                    <img src="{{imageSrc4}}" width="100%" class="center-on-narrow g-img fluid">
                                    <!-- Image : END -->
                                </td>
                                <td class="mobile-show" align="left" style="padding: 0; display: none; height: 0; font-size: 0; line-height: 0; mso-hide: all;">
                                    <!-- Image : BEGIN -->
                                    <img src="{{imageSrc4Mobile}}" role="presentation" width="100%" class="mobile-show center-on-narrow g-img fluid" style="display: none; border: none; width: 0; height: 0;">
                                    <!-- Image : END -->
                                </td>
                            </tr>
                        </table>
                    </a>
                    {{#if image4ButtonText}}
                        {{#if url4}}
                            {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image4ButtonText url=url4}}
                        {{else}}
                            {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image4ButtonText url=url}}
                        {{/if}}
                    {{/if}}
                </span>
            </div>
            <div class="car-controls">
                <label for="car4-radio-2" class="car-rtn car-nav-1"></label>
                <label for="car4-radio-1" class="car-ltn car-nav-2"></label>
                <label for="car4-radio-3" class="car-rtn car-nav-2"></label>
                <label for="car4-radio-2" class="car-ltn car-nav-3"></label>
                <label for="car4-radio-4" class="car-rtn car-nav-3"></label>
                <label for="car4-radio-3" class="car-ltn car-nav-4"></label>
            </div>
        </div>
        <div class="car-thumbnails" style="display:none;">
            <label for="car4-radio-1" class="car-thumb"></label>
            <label for="car4-radio-2" class="car-thumb"></label>
            <label for="car4-radio-3" class="car-thumb"></label>
            <label for="car4-radio-4" class="car-thumb"></label>
        </div>
    </div>
</div>
<!--<![endif]-->
<div class="carousel_fb carousel_4_fb">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr class="hide">
            <td>
                {{#if url1}}
                <a href="{{{tracking.prefix}}}{{{ url1}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{else}}
                <a href="{{{tracking.prefix}}}{{{ url}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{/if}}
                    <img src="{{{ imageSrc1}}}" alt="" width="680" style="display:block;" border="0" />
                </a>
                {{#if image1ButtonText}}
                    {{#if url1}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image1ButtonText url=url1}}
                    {{else}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image1ButtonText url=url}}
                    {{/if}}
                {{/if}}

                {{#if url2}}
                <a href="{{{tracking.prefix}}}{{{ url2}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{else}}
                <a href="{{{tracking.prefix}}}{{{ url}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{/if}}
                    <img src="{{{ imageSrc2}}}" alt="" width="680" style="display:block; margin-top: 20px;" border="0" />
                </a>
                {{#if image2ButtonText}}
                    {{#if url2}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image2ButtonText url=url2}}
                    {{else}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image2ButtonText url=url}}
                    {{/if}}
                {{/if}}

                {{#if url3}}
                <a href="{{{tracking.prefix}}}{{{ url3}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{else}}
                <a href="{{{tracking.prefix}}}{{{ url}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{/if}}
                    <img src="{{{ imageSrc3}}}" alt="" width="680" style="display:block; margin-top: 20px;" border="0" />
                </a>
                {{#if image3ButtonText}}
                    {{#if url3}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image3ButtonText url=url3}}
                    {{else}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image3ButtonText url=url}}
                    {{/if}}
                {{/if}}

                {{#if url4}}
                <a href="{{{tracking.prefix}}}{{{ url4}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{else}}
                <a href="{{{tracking.prefix}}}{{{ url}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{/if}}
                    <img src="{{{ imageSrc4}}}" alt="" width="680" style="display:block; margin-top: 20px;" border="0" />
                </a>
                {{#if image4ButtonText}}
                    {{#if url4}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image4ButtonText url=url4}}
                    {{else}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image4ButtonText url=url}}
                    {{/if}}
                {{/if}}
            </td>
        </tr>
        <!--[if !mso]><!-->
        <tr>
            <td class="mobile" style="display:none; max-height:0; overflow:hidden;">
                {{#if url1}}
                <a href="{{{tracking.prefix}}}{{{ url1}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{else}}
                <a href="{{{tracking.prefix}}}{{{ url}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{/if}}
                    <img src="{{{ imageSrc1Mobile}}}" alt="" width="680" style="display:block;" border="0" class="fluid" />
                </a>
                {{#if image1ButtonText}}
                    {{#if url1}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image1ButtonText url=url1}}
                    {{else}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image1ButtonText url=url}}
                    {{/if}}
                {{/if}}

                {{#if url2}}
                <a href="{{{tracking.prefix}}}{{{ url2}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{else}}
                <a href="{{{tracking.prefix}}}{{{ url}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{/if}}
                    <img src="{{{ imageSrc2Mobile}}}" alt="" width="680" style="display:block; margin-top: 20px;" border="0" class="fluid" />
                </a>
                {{#if image2ButtonText}}
                    {{#if url2}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image2ButtonText url=url2}}
                    {{else}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image2ButtonText url=url}}
                    {{/if}}
                {{/if}}

                {{#if url3}}
                <a href="{{{tracking.prefix}}}{{{ url3}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{else}}
                <a href="{{{tracking.prefix}}}{{{ url}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{/if}}
                    <img src="{{{ imageSrc3Mobile}}}" alt="" width="680" style="display:block; margin-top: 20px;" border="0" class="fluid" />
                </a>
                {{#if image3ButtonText}}
                    {{#if url3}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image3ButtonText url=url3}}
                    {{else}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image3ButtonText url=url}}
                    {{/if}}
                {{/if}}

                {{#if url4}}
                <a href="{{{tracking.prefix}}}{{{ url4}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{else}}
                <a href="{{{tracking.prefix}}}{{{ url}}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank">
                {{/if}}
                    <img src="{{{ imageSrc4Mobile}}}" alt="" width="680" style="display:block; margin-top: 20px;" border="0" class="fluid" />
                </a>
                {{#if image4ButtonText}}
                    {{#if url4}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image4ButtonText url=url4}}
                    {{else}}
                        {{> button-fw textColor="#ffffff" buttonColor="#EB0941" text=image4ButtonText url=url}}
                    {{/if}}
                {{/if}}
            </td>
        </tr>
        <!--<![endif]-->
    </table>
</div>