<style>
@media screen and (-webkit-min-device-pixel-ratio:0),
@-moz-document url-prefix() {
    .accordion {
        display:block !important;
        max-height:none !important;
    }
    #checkbox_acc {
        width:100%;
        display:block !important;
        background-image:url('https://hbl-marketing-static.s3.amazonaws.com/emails/email-builder/2019_07_Hillarys_Accordion_03.jpg');
        background-position:right;
        background-repeat:no-repeat;
        cursor:pointer;
    }
    #accordion1:checked ~ .controls_acc1 #checkbox_acc,
    #accordion2:checked ~ .controls_acc2 #checkbox_acc,
    #accordion3:checked ~ .controls_acc3 #checkbox_acc,
    #accordion4:checked ~ .controls_acc4 #checkbox_acc {
        background-image:url('https://hbl-marketing-static.s3.amazonaws.com/emails/email-builder/2019_07_Hillarys_Accordion_04.jpg');
    }
    .open_acc1,
    .open_acc2,
    .open_acc3,
    .open_acc4 {
        display:none;
    }
    #accordion1:checked ~ .open_acc1,
    #accordion2:checked ~ .open_acc2,
    #accordion3:checked ~ .open_acc3,
    #accordion4:checked ~ .open_acc4 {
        display:block;
    }
}
</style>

<table width="700" border="0" cellspacing="0" cellpadding="0" style="width:680px;" class="fluid">
    <tr>
        <td bgcolor="#f3f3f4">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                {{#if imageSrc}}
                <tr class="hide">
                    <td>
                        <img src="{{ imageSrc}}" alt="{{ imageAlt}}" width="700" height="360" style="display:block;" border="0" />
                    </td>
                </tr>
                <!--[if !mso]><!-->
                <tr>
                    <td class="mobile" style="display:none; max-height:0; overflow:hidden;">
                        <img src="{{ imageSrcMobile}}" role="presentation" width="320" style="display:block;" border="0" class="scale fluid" />
                    </td>
                </tr>
                <!--<![endif]-->
                {{/if}}
                <tr>
                    <td align="center" style="padding:50px;" class="padlr20">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <div class="accordion">
                                        <!--[if !mso]><!-->
                                        <input id="accordion1" name="accordion" type="radio" checked="checked" style="display:none; display:none !important;">
                                        <input id="accordion2" name="accordion" type="radio" style="display:none; display:none !important;">
                                        <input id="accordion3" name="accordion" type="radio" style="display:none; display:none !important;">
                                        <input id="accordion4" name="accordion" type="radio" style="display:none; display:none !important;">
                                        <!--<![endif]-->
                                        {{#if title1}}
                                        <div class="controls_acc1">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td style="padding:0 0 20px 0; border-bottom:1px solid #d2d2d2;">
                                                        <label id="checkbox_acc" for="accordion1">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:20px; line-height:22px; color:#2e2c2c;">{{ title1}}</td>
                                                                </tr>
                                                            </table>
                                                        </label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="open_acc1">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td style="padding:20px 0;">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <th class="drop padb20" align="center" style="padding:0; margin:0; font-weight:normal;">
                                                                    <table width="320" border="0" cellspacing="0" cellpadding="0" style="width:320px;" class="fluid">
                                                                        <tr>
                                                                            <td align="left" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:22px; color:#2e2c2c; padding:0 0 20px 0;"><strong>{{ innerTitle1}}</strong></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:16px; line-height:26px; color:#686058; padding:0 40px 0 0;" class="nopadr">{{ innerDescription1}}</td>
                                                                        </tr>
                                                                    </table>
                                                                </th>
                                                                <th class="drop" align="center" style="padding:0; margin:0; font-weight:normal;">
                                                                    <table width="280" border="0" cellspacing="0" cellpadding="0" style="width:280px;" class="fluid">
                                                                        <tr>
                                                                            <td align="center">
                                                                                <img src="{{ innerImageSrc1}}" alt="{{ innerImageAlt1}}" width="280" height="193" style="display:block;" border="0" />
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </th>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        {{/if}}
                                        {{#if title2}}
                                        <div class="controls_acc2">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td style="padding:20px 0; border-bottom:1px solid #d2d2d2;">
                                                        <label id="checkbox_acc" for="accordion2">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:20px; line-height:22px; color:#2e2c2c;">{{ title2}}</td>
                                                                </tr>
                                                            </table>
                                                        </label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="open_acc2">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td style="padding:20px 0;">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <th class="drop padb20" align="center" style="padding:0; margin:0; font-weight:normal;">
                                                                    <table width="320" border="0" cellspacing="0" cellpadding="0" style="width:320px;" class="fluid">
                                                                        <tr>
                                                                            <td align="left" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:22px; color:#2e2c2c; padding:0 0 20px 0;"><strong>{{ innerTitle2}}</strong></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:16px; line-height:26px; color:#686058; padding:0 40px 0 0;" class="nopadr">{{ innerDescription2}}</td>
                                                                        </tr>
                                                                    </table>
                                                                </th>
                                                                <th class="drop" align="center" style="padding:0; margin:0; font-weight:normal;">
                                                                    <table width="280" border="0" cellspacing="0" cellpadding="0" style="width:280px;" class="fluid">
                                                                        <tr>
                                                                            <td align="center">
                                                                                <img src="{{ innerImageSrc2}}" alt="{{ innerImageAlt2}}" width="280" height="193" style="display:block;" border="0" />
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </th>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        {{/if}}
                                        {{#if title3}}
                                        <div class="controls_acc3">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td style="padding:20px 0; border-bottom:1px solid #d2d2d2;">
                                                        <label id="checkbox_acc" for="accordion3">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:20px; line-height:22px; color:#2e2c2c;">{{ title3}}</td>
                                                                </tr>
                                                            </table>
                                                        </label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="open_acc3">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td style="padding:20px 0;">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <th class="drop padb20" align="center" style="padding:0; margin:0; font-weight:normal;">
                                                                    <table width="320" border="0" cellspacing="0" cellpadding="0" style="width:320px;" class="fluid">
                                                                        <tr>
                                                                            <td align="left" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:22px; color:#2e2c2c; padding:0 0 20px 0;"><strong>{{ innerTitle3}}</strong></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:16px; line-height:26px; color:#686058; padding:0 40px 0 0;" class="nopadr">{{ innerDescription3}}</td>
                                                                        </tr>
                                                                    </table>
                                                                </th>
                                                                <th class="drop" align="center" style="padding:0; margin:0; font-weight:normal;">
                                                                    <table width="280" border="0" cellspacing="0" cellpadding="0" style="width:280px;" class="fluid">
                                                                        <tr>
                                                                            <td align="center">
                                                                                <img src="{{ innerImageSrc3}}" alt="{{ innerImageAlt3}}" width="280" height="193" style="display:block;" border="0" />
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </th>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        {{/if}}
                                        {{#if title4}}
                                        <div class="controls_acc4">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td style="padding:20px 0; border-bottom:1px solid #d2d2d2;">
                                                        <label id="checkbox_acc" for="accordion4">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:20px; line-height:22px; color:#2e2c2c;">{{ title4}}</td>
                                                                </tr>
                                                            </table>
                                                        </label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="open_acc4">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td style="padding:20px 0;">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <th class="drop padb20" align="center" style="padding:0; margin:0; font-weight:normal;">
                                                                    <table width="320" border="0" cellspacing="0" cellpadding="0" style="width:320px;" class="fluid">
                                                                        <tr>
                                                                            <td align="left" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:22px; color:#2e2c2c; padding:0 0 20px 0;"><strong>{{ innerTitle4}}</strong></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:16px; line-height:26px; color:#686058; padding:0 40px 0 0;" class="nopadr">{{ innerDescription4}}</td>
                                                                        </tr>
                                                                    </table>
                                                                </th>
                                                                <th class="drop" align="center" style="padding:0; margin:0; font-weight:normal;">
                                                                    <table width="280" border="0" cellspacing="0" cellpadding="0" style="width:280px;" class="fluid">
                                                                        <tr>
                                                                            <td align="center">
                                                                                <img src="{{ innerImageSrc4}}" alt="{{ innerImageAlt4}}" width="280" height="193" style="display:block;" border="0" />
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </th>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        {{/if}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>