<style>
    [class="x_tapreveal_fb"] {
        display:block !important;
        max-height:none !important;
        overflow:visible !important;
    }

    .tapreveal_fb {
        display: block !important;
    }
    .tapreveal {
        display:none !important;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0),
    @-moz-document url-prefix() {
        .tapreveal_fb {
            display: none !important;
        }
        .tapreveal {
            display:block !important;
            max-height:none !important;
        }
        .reveal_frames {
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
        }
        .reveal_frames1 {
            display:block;
        }
        .reveal_frames2 {
            display:none;
        }
        #tapreveal:checked + .reveal_cont .reveal_frames1,
        #taprevealmob:checked + .reveal_cont .reveal_frames1  {
            display:none;
        }
        #tapreveal:checked + .reveal_cont .reveal_frames2,
        #taprevealmob:checked + .reveal_cont .reveal_frames2 {
            display:block;
        }
        #tapreveal:checked + .reveal_cont .reveal_frames,
        #taprevealmob:checked + .reveal_cont .reveal_frames  {
            pointer-events:none;
        }
    }

    @media only screen and (max-width:659px) {
        .mobile-hide {
            display: none !important;
        }
    }
</style>

{{#> column-wrapper}}
{{#> column}}
<!--[if !mso]><!-->
<div class="interactive">
    <div class="tapreveal mobile-hide" style="display:none; max-height:0; overflow:hidden; position:relative;">
        <input id="tapreveal" type="radio" style="display:none !important;">
        <div class="reveal_cont">
            <label class="reveal_frames" for="tapreveal"></label>
            <div class="reveal_frames1">
                <img src="{{{ imageSrc1}}}" alt="{{{ altText1}}}" border="0" class="fluid" />
            </div>
            <div class="reveal_frames2">
                {{>_urlStart fontSize="0px" lineHeight="0px"}}
                    <img src="{{{ imageSrc2}}}" alt="{{{ altText2}}}" border="0" class="fluid" />
                {{>_urlEnd}}
            </div>
        </div>
    </div>
    <div class="mobile-show fluid" style="display:none; max-height:0; overflow:hidden;">
        <div class="tapreveal" style="display:none; max-height:0; overflow:hidden; position:relative;">
            <input id="taprevealmob" type="radio" style="display:none !important;">
            <div class="reveal_cont">
                <label class="reveal_frames" for="taprevealmob"></label>
                <div class="reveal_frames1">
                    <img src="{{{ imageSrc1Mobile}}}" role="presentation" border="0" class="scale fluid" />
                </div>
                <div class="reveal_frames2">
                    {{>_urlStart fontSize="0px" lineHeight="0px"}}
                        <img src="{{{ imageSrc2Mobile}}}" role="presentation" border="0" class="scale fluid" />
                    {{>_urlEnd}}
                </div>
            </div>
        </div>
    </div>
</div>
<!--<![endif]-->
<div class="tapreveal_fb">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr class="mobile-hide">
            <td>
                {{>_urlStart fontSize="0px" lineHeight="0px"}}
                    <img src="{{{ imageSrc2}}}" alt="{{{ altText2}}}" width="700" height="708" style="display:block;" border="0" />
                {{>_urlEnd}}
            </td>
        </tr>
        <!--[if !mso]><!-->
        <tr>
            <td class="mobile-show" style="display:none; max-height:0; overflow:hidden;">
                {{>_urlStart fontSize="0px" lineHeight="0px"}}
                    <img src="{{{ imageSrc2Mobile}}}" role="presentation" width="320" style="display:block;" border="0" class="scale" />
                {{>_urlEnd}}
            </td>
        </tr>
        <!--<![endif]-->
    </table>
</div>
{{/column}}
{{/column-wrapper}}