<!-- Nav Empty : BEGIN -->
{{#> column-wrapper columns="1" bgColor="#ffffff" spacing="40px" url="https://www.google.com" }}
    {{#> column}}
        {{#if advanced.invertedNav}}
            <table class="block-image" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td align="center" style="font-size:0; line-height:0; padding: ;">
                        <!-- Image : BEGIN -->
                        <a href="{{{tracking.prefix}}}{{project.baseUrl}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" >
                            <img src="logo-inverted.png" alt="Hillarys" width="200" class="center-on-narrow g-img ">
                        </a>
                        <!-- Image : END -->
                    </td>
                </tr>
            </table>
        {{else}}
            <table class="block-image" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td align="center" style="font-size:0; line-height:0; padding: ;">
                        <!-- Image : BEGIN -->
                        <a href="{{{tracking.prefix}}}{{project.baseUrl}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" >
                            <img src="logo.png" alt="Hillarys" width="200" class="center-on-narrow g-img ">
                        </a>
                        <!-- Image : END -->
                    </td>
                </tr>
            </table>
        {{/if}}
    {{/column}}
{{/column-wrapper}}
<!-- Nav Empty : END -->
