<!-- Nav Small : BEGIN -->
{{#> column-wrapper bgColor="#ffffff" mobileAlign="center" mobileTextAlign="center" }}
    {{#> column align="center" gutter="0"}}
        {{>spacer height="20"}}

        <table class="block-image" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td align="center" style="font-size:0; line-height:0; padding: ;">
                    <!-- Image : BEGIN -->
                    <a href="{{{tracking.prefix}}}{{project.baseUrl}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" >
                        <img src="logo.png" alt="Hillarys" width="140" class="center-on-narrow g-img ">
                    </a>
                    <!-- Image : END -->
                </td>
            </tr>
        </table>
    {{/column}}
{{/column-wrapper}}

{{#> column-wrapper bgColor="#ffffff" mobileAlign="center" mobileTextAlign="center" }}
    {{#> column padding="0"}}
        {{>spacer height="5"}}

        {{#> block-text textAlign="center" }}
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                <tr>
                    <td style="text-align: center;">
                        <a href="{{{tracking.prefix}}}https://www.hillarys.co.uk/blinds-range/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" class="sans-serif" style="margin: 10px 10px 0; {{>_textColor}} {{>_textAlign}} {{>_textSize default="16px"}} {{>_lineHeight default="26px"}} display: inline-block; text-decoration:none; font-weight:400; font-family: 'proxima-nova', sans-serif;">Blinds</a>
                        <a href="{{{tracking.prefix}}}https://www.hillarys.co.uk/curtains/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" class="sans-serif" style="margin: 10px 10px 0; {{>_textColor}} {{>_textAlign}} {{>_textSize default="16px"}} {{>_lineHeight default="26px"}} display: inline-block; text-decoration:none; font-weight:400; font-family: 'proxima-nova', sans-serif;">Curtains</a>
                        <a href="{{{tracking.prefix}}}https://www.hillarys.co.uk/shutters-range/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" class="sans-serif" style="margin: 10px 10px 0; {{>_textColor}} {{>_textAlign}} {{>_textSize default="16px"}} {{>_lineHeight default="26px"}} display: inline-block; text-decoration:none; font-weight:400; font-family: 'proxima-nova', sans-serif;">Shutters</a>
                        <a href="{{{tracking.prefix}}}https://www.hillarys.co.uk/inspiration/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" class="sans-serif" style="margin: 10px 10px 0; {{>_textColor}} {{>_textAlign}} {{>_textSize default="16px"}} {{>_lineHeight default="26px"}} display: inline-block; text-decoration:none; font-weight:400; font-family: 'proxima-nova', sans-serif;">Inspiration</a>
                    </td>
                </tr>
            </table>
        {{/block-text}}

        {{>spacer height="20"}}
    {{/column}}
{{/column-wrapper}}
<!-- Nav Small : END -->