<!-- Footer : BEGIN -->
{{#> column-wrapper bgcolor="#000000" fullWidth="true" spacing="30px 0" }}
    {{#> column padding="0 20px" innerMobilePadding="px-sm-20 py-sm-50" gutter="0" size="12"}}
        {{#if project.termsConditions}}
            {{>h3 margin="0px 0px 20px" textSize="13px" textColor="#ffffff" textWeight="700" text="TERMS & CONDITIONS"}}
            {{>p textSize="13px" textColor="#ffffff" margin="0" text=project.termsConditions}}
            {{>divider color="#d2d2d2" margin="20px 0" }}
        {{/if}}
    
    {{>p textSize="13px" textColor=textColor margin="0px 0px 30px" text="Hunter Douglas UK Retail Limited is a company registered in England & Wales, trading as Hillarys Blinds. <br>Registered office: Unit 2 Churchill Park, Private Road No. 2, Colwick, Nottingham, NG4 2JR <br>Registration number: 1196432" }}

    {{/column}}
{{/column-wrapper}}

{{#> column-wrapper bgcolor="000000" fullWidth="true" textColor="#ffffff"}}
    {{#> column textColor="#ffffff" padding="0 20px" textAlign="center" gutter="0" size="12"}}
        {{#> block-text textColor="#ffffff" textAlign="center" }}
            <table class="fluid" width="380" role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:380px;">
                <tr>
                    <td align="center" valign="top" style="font-size:0; padding: 15px 0px;">
                        <!--[if mso]>
                        <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="380">
                        <tr>
                        <td align="left" valign="top" width="230">
                        <![endif]-->
                        <div style="display:inline-block; margin: 0 -2px; width:100%; min-width:200px; max-width:230px; vertical-align:top;" class="stack-column">
                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                    <td style="padding: 10px 0px;">
                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="text-align: right;">
                                            <tr>
                                                <td class="stack-column-center">
                                                    {{#>p textColor=textColor margin="0"}}<a href="{viewlink}" target="_blank" style="{{> _textColor }} font-size: 13px;">View this email in your browser</a>{{/p}}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--[if mso]>
                        </td>
                        <td align="left" valign="top" width="150">
                        <![endif]-->
                        <div style="display:inline-block; margin: 0 -2px; width:100%; min-width:150px; max-width:150px; vertical-align:top;" class="stack-column">
                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                    <td style="padding: 10px 0px;">
                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="text-align: center;">
                                            <tr>
                                                <td>
                                                    {{#>p textColor=textColor margin="0"}}<a href="{preferences}" target="_blank" style="{{> _textColor }} font-size: 13px;">Unsubscribe</a>{{/p}}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--[if mso]>
                        </td>
                        </tr>
                        </table>
                        <![endif]-->
                    </td>
                </tr>
            </table>
            {{>spacer height="30" mobileHeight="small"}}
        {{/block-text}}
    {{/column}}
{{/column-wrapper}}
<!-- Footer : END -->