<!-- Block Sponsor : BEGIN -->
{{#> column-wrapper bgColor="#000000" align="center"}}
    {{#> column padding="50px 20px" textAlign="center" gutter="0"}}
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
            <tr>
                <td align="center">
                    <table class="fluid" role="presentation" cellspacing="0" cellpadding="0" border="0" width="200">
                        <tr>
                            <td>
                                <div class="sponsor-image">
                                    {{>image url="https://www.hillarys.co.uk/" altText="Hillarys" src="logo-inverted.png" width="200"}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    {{/column}}
{{/column-wrapper}}
<!-- Block Sponsor : END -->