<!-- Block Request : BEGIN -->
{{#> column-wrapper  bgColor="#f4f4f3" fullWidth="true"}}
    {{#> column align="center" url="https://www.hillarys.co.uk/request-a-brochure/" padding="50px 0px" innerMobilePadding="px-sm-20 py-sm-30" gutter="0" size="10"}}
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 0px; line-height: 0px;">
            <tr>
                <td align="center">      
                    {{#> block-text textAlign="center" width="400" }}
                        {{>button-fw
                            textWeight="400"
                            textColor="#FFFFFF"
                            text="REQUEST A BROCHURE"
                        }}
                        {{>spacer height="10" mobileHeight="small"}}
                        {{>button-fw 
                            url="https://www.hillarys.co.uk/make-an-enquiry/"
                            margin="0" 
                            text="MAKE AN ENQUIRY"
                            textColor="#2e2c2c"
                            textAlign="center"
                            buttonColor="#ffffff"
                            textWeight="400"
                        }}
                    {{/block-text}}
                </td>
            </tr>
        </table>
    {{/column}}
{{/column-wrapper}}
<!-- Block Request : END -->