<!-- Nav Large : BEGIN -->
{{#> column-wrapper  fullWidth="true" bgColor="#081514"}}
    {{#> column url=project.baseUrl altText="Hillarys"}}
        {{>spacer height="30" mobileHeight="small"}}

        <table class="block-image" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td align="center" style="font-size:0; line-height:0; padding: ;">
                    <!-- Image : BEGIN -->
                    <a href="{{{tracking.prefix}}}{{project.baseUrl}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" >
                        <img src="logo-inverted.png" alt="Hillarys" width="200" class="center-on-narrow g-img ">
                    </a>
                    <!-- Image : END -->
                </td>
            </tr>
        </table>
    {{/column}}
{{/column-wrapper}}

{{#> column-wrapper fullWidth="true" bgColor="#081514"}}
    {{#> column}}
        {{#> block-text textAlign="center" }}
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                <tr>
                    <td style="text-align: center; padding: 10px 0 0 ">
                        <a href="{{{tracking.prefix}}}{{project.baseUrl}}/blinds-range/{{{tracking.suffix}}}" target="_blank" class="sans-serif" style="margin: 0 0 0; color:#ffffff; {{>_textAlign}} {{>_textSize default="16px"}} {{>_lineHeight default="26px"}} display: inline; text-decoration:none; font-weight:400; font-family: 'proxima-nova', sans-serif;"> &nbsp;Blinds&nbsp; </a>&nbsp;<span>&nbsp;|&nbsp;</span>&nbsp;
                        <a href="{{{tracking.prefix}}}{{project.baseUrl}}/curtains/{{{tracking.suffix}}}" target="_blank" class="sans-serif" style="margin: 0 0 0; color:#ffffff; {{>_textAlign}} {{>_textSize default="16px"}} {{>_lineHeight default="26px"}} display: inline; text-decoration:none; font-weight:400; font-family: 'proxima-nova', sans-serif;"> &nbsp;Curtains&nbsp; </a>&nbsp;<span>&nbsp;|&nbsp;</span>&nbsp;
                        <a href="{{{tracking.prefix}}}{{project.baseUrl}}/shutters-range/{{{tracking.suffix}}}" target="_blank" class="sans-serif" style="margin: 0 0 0; color:#ffffff; {{>_textAlign}} {{>_textSize default="16px"}} {{>_lineHeight default="26px"}} display: inline; text-decoration:none; font-weight:400; font-family: 'proxima-nova', sans-serif;"> &nbsp;Shutters&nbsp; </a>&nbsp;<span>&nbsp;|&nbsp;</span>&nbsp;
                        <a href="{{{tracking.prefix}}}{{project.baseUrl}}/inspiration/{{{tracking.suffix}}}" target="_blank" class="sans-serif" style="margin: 0 0 0; color:#ffffff; {{>_textAlign}} {{>_textSize default="16px"}} {{>_lineHeight default="26px"}} display: inline; text-decoration:none; font-weight:400; font-family: 'proxima-nova', sans-serif;"> &nbsp;Inspiration&nbsp; </a>
                    </td>
                </tr>
            </table>
        {{/block-text}}

        {{>spacer height="30" mobileHeight="small"}}
    {{/column}}
{{/column-wrapper}}
<!-- Nav Large : END -->
