<!-- Hashtag : BEGIN -->
{{#> column-wrapper fullWidth="true" bgColor=bgColor }}
    {{#> column padding="50px 20px" textAlign="center" innerMobilePadding="px-sm-20 py-sm-30" gutter="0" size="10"}}
        {{#> block-text textAlign="center" }}
            {{>h1 textSize="38px" margin="0 0 10px" text="#MyHillarysHome" textStyle="sans-serif"}}
            {{#>p textColor=paragraphColor margin="0 0 20px" textSize="16px" lineHeight="26px"}}
            Looking for some inspiration?<br>Search {{>span textColor=../paragraphColor textWeight="700" text="#MyHillarysHome" url="https://www.instagram.com/explore/tags/myhillaryshome"}} on instagram and see how our customers have transformed their homes with&nbsp;Hillarys.
            {{/p}}
            {{>button text="VISIT #MYHILLARYSHOME" textColor=buttonTextColor buttonColor=_buttonColor}}
        {{/block-text}}
    {{/column}}
{{/column-wrapper}}
<!-- Hashtag : END -->