<!-- Block Social : BEGIN -->
{{#> column-wrapper bgColor="#000000" }}
    {{#> column padding="40px 50px 20px" textAlign="center" innerMobilePadding="px-sm-20 py-sm-30" gutter="0" size="12"}}
        {{#> block-text textAlign="center" }}
            {{>h3 text="FOLLOW HILLARYS" textColor="#ffffff" textWeight="700"}}
            <div class="social-links" style="text-align: center;">
                {{#each social}}
                    {{>image width="80" altText=this.text url=this.url src=this.image }}
                {{/each}}
            </div>
        {{/block-text}}
    {{/column}}
{{/column-wrapper}}
<!-- Block Social : END -->