<!-- Block Request : BEGIN -->
{{#> column-wrapper  bgColor="#000000" fullWidth="true"}}
    {{#> column align="center" url="https://www.hillarys.co.uk/arrange-an-appointment/" padding="50px 0px" innerMobilePadding="px-sm-20 py-sm-30" gutter="0" size="10"}}
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 0px; line-height: 0px;">
            <tr>
                <td align="center">      
                    {{#> block-text textAlign="center" width="400" }}
                        {{>h2 textSize="26px" lineHeight="145%" textColor="#ffffff" margin="0 0 30px" padding="0 20px 0" text="Request an appointment with a local advisor"}}
                        {{>button-fw
                            textWeight="400"
                            textColor="#FFFFFF"
                            text="REQUEST AN APPOINTMENT"
                        }}
                        {{>spacer height="10" mobileHeight="small"}}
                        {{>button-fw 
                            url=(combine "tel:" project.phoneNumber)
                            margin="0" 
                            text=(combine "Call us on " project.phoneNumber)
                            textColor="#2e2c2c"
                            textAlign="center"
                            buttonColor="#ffffff"
                            textWeight="400"
                        }}
                    {{/block-text}}
                </td>
            </tr>
        </table>
    {{/column}}
{{/column-wrapper}}
<!-- Block Request : END -->