<style>
@media only screen and (max-width:659px) {
    .static_nav {
        display:none !important;
        max-height:0 !important;
        overflow:hidden !important;
    }
    .interactive_nav {
        display:block !important;
        max-height:none !important;
        overflow:visible !important;
    }
    .static_navitems td {
        font-size:14px !important;
        padding:0 7px !important;
    }
    #checkbox_nav {
        width:25px;
        height:20px;
        display:block !important;
        background-image:url('http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hamburger_08.jpg');
        background-position:center;
        background-repeat:no-repeat;
        cursor:pointer;
    }
    #interactive_nav:checked + .controls_nav #checkbox_nav {
        background-image:url('http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hamburger_09.jpg');
    }
    .menu_nav {
        display:none;
    }
    #interactive_nav:checked ~ .menu_nav {
        display:block;
        position:absolute;
        top:77px;
        right:0;
        bottom:0;
        left:0;
        margin-left:auto;
        margin-right:auto;
        background:rgba(0, 0, 0, 0.6);
        z-index:100;
    }
}
</style>

<!-- Nav Interactive : BEGIN -->
{{#> column-wrapper}}
{{#> column}}
<div class="static_nav">
    <table width="700" border="0" cellspacing="0" cellpadding="0" style="width:700px;" class="fluid">
        <tr>
            <td align="center" style="padding:30px 0 15px 0;">
                <a href="https://www.hillarys.co.uk/" target="_blank" style="color:#2e2c2c; text-decoration:none;">
                    <img src="logo.png"  alt="Hillarys" width="200" style="display:block; margin:0 auto;" border="0" class="logo" />
                </a>
            </td>
        </tr>
        <tr>
            <td align="center" class="padb30">
                <table border="0" cellspacing="0" cellpadding="0" class="static_navitems">
                    <tr>
                        <td align="center" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:16px; color:#686058; padding:0 10px; line-height: 1;">
                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}/blinds-range/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" class="sans-serif" style="margin: 0 0 0; {{>_textColor}} {{>_textAlign}} {{>_textSize default="16px"}} {{>_lineHeight default="26px"}} display: inline; text-decoration:none; font-weight:400; font-family: 'proxima-nova', sans-serif;"> &nbsp;Blinds&nbsp; </a>&nbsp;<span>&nbsp;|&nbsp;</span>&nbsp;
                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}/curtains/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" class="sans-serif" style="margin: 0 0 0; {{>_textColor}} {{>_textAlign}} {{>_textSize default="16px"}} {{>_lineHeight default="26px"}} display: inline; text-decoration:none; font-weight:400; font-family: 'proxima-nova', sans-serif;"> &nbsp;Curtains&nbsp; </a>&nbsp;<span>&nbsp;|&nbsp;</span>&nbsp;
                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}/shutters-range/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" class="sans-serif" style="margin: 0 0 0; {{>_textColor}} {{>_textAlign}} {{>_textSize default="16px"}} {{>_lineHeight default="26px"}} display: inline; text-decoration:none; font-weight:400; font-family: 'proxima-nova', sans-serif;"> &nbsp;Shutters&nbsp; </a>&nbsp;<span>&nbsp;|&nbsp;</span>&nbsp;
                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}/inspiration/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" class="sans-serif" style="margin: 0 0 0; {{>_textColor}} {{>_textAlign}} {{>_textSize default="16px"}} {{>_lineHeight default="26px"}} display: inline; text-decoration:none; font-weight:400; font-family: 'proxima-nova', sans-serif;"> &nbsp;Inspiration&nbsp; </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<!--[if !mso]><!-->
<div class="interactive_nav" style="display:none; max-height:0; overflow:hidden;">
    <input id="interactive_nav" type="checkbox" style="display:none !important;">
    <div class="controls_nav">
        <table width="700" border="0" cellspacing="0" cellpadding="0" style="width:700px;" class="fluid">
            <tr>
                <td style="padding:30px 0 20px 0; border-bottom:1px solid #d2d2d2;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="padlr20">
                        <tr>
                            <td align="left">
                                <a href="{{{tracking.prefix}}}{{project.baseUrl}}{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" style="color:#2e2c2c; text-decoration:none;">
                                    <img src="logo.png" alt="Hillarys" width="200" style="display:block;" border="0" />
                                </a>
                            </td>
                            <td align="right" width="25" style="width:25px;">
                                <label id="checkbox_nav" for="interactive_nav"></label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="menu_nav">
        <table width="700" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="width:700px;" class="fluid padlr20">
            <tr>
                <td align="center" style="padding:30px 0 20px 0;">
                    <table width="340" border="0" cellspacing="0" cellpadding="0" style="max-width:340px;" class="fluid">
                        <tr>
                            <td align="left" style="font-family: 'Proxima Nova', Helvetica, Arial, sans-serif; font-size:22px; color:#2e2c2c;">
                                Browse our site
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" style="padding:0 0 20px 0;">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="center">
                                <table width="160" border="0" cellspacing="0" cellpadding="0" style="max-width:160px;" class="fluid">
                                    <tr>
                                        <td style="padding:0 0 10px 0;">
                                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}/blinds-range/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" style="color:#2e2c2c; text-decoration:none;">
                                                <img src="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hamburger_02.jpg" alt="" width="160" height="160" style="display:block;" border="0" class="scale fluid" />
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:16px; color:#2e2c2c;">
                                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}/blinds-range/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" style="color:#2e2c2c; text-decoration:none;">
                                                Blinds&nbsp;
                                                <img src="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hamburger_10.jpg" alt="" width="6" height="9" style="display:inline-block;" border="0" />
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="20" style="width:20px;">&nbsp;</td>
                            <td>
                                <table width="160" border="0" cellspacing="0" cellpadding="0" style="max-width:160px;" class="fluid">
                                    <tr>
                                        <td style="padding:0 0 10px 0;">
                                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}/curtains/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" style="color:#2e2c2c; text-decoration:none;">
                                                <img src="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hamburger_03.jpg" alt="" width="160" height="160" style="display:block;" border="0" class="scale fluid" />
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:16px; color:#2e2c2c;">
                                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}/curtains/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" style="color:#2e2c2c; text-decoration:none;">
                                                Curtains&nbsp;
                                                <img src="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hamburger_10.jpg" alt="" width="6" height="9" style="display:inline-block;" border="0" />
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" style="padding:0 0 20px 0;">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="center">
                                <table width="160" border="0" cellspacing="0" cellpadding="0" style="max-width:160px;" class="fluid">
                                    <tr>
                                        <td style="padding:0 0 10px 0;">
                                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}/shutters-range/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" style="color:#2e2c2c; text-decoration:none;">
                                                <img src="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hamburger_04.jpg" alt="" width="160" height="160" style="display:block;" border="0" class="scale fluid" />
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:16px; color:#2e2c2c;">
                                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}/shutters-range/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" style="color:#2e2c2c; text-decoration:none;">
                                                Shutters&nbsp;
                                                <img src="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hamburger_10.jpg" alt="" width="6" height="9" style="display:inline-block;" border="0" />
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="20" style="width:20px;">&nbsp;</td>
                            <td>
                                <table width="160" border="0" cellspacing="0" cellpadding="0" style="max-width:160px;" class="fluid">
                                    <tr>
                                        <td style="padding:0 0 10px 0;">
                                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}/awnings/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" style="color:#2e2c2c; text-decoration:none;">
                                                <img src="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hamburger_05.jpg" alt="" width="160" height="160" style="display:block;" border="0" class="scale fluid" />
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:16px; color:#2e2c2c;">
                                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}/awnings/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" style="color:#2e2c2c; text-decoration:none;">
                                                Awnings&nbsp;
                                                <img src="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hamburger_10.jpg" alt="" width="6" height="9" style="display:inline-block;" border="0" />
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" style="padding:0 0 30px 0;">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="center">
                                <table width="160" border="0" cellspacing="0" cellpadding="0" style="max-width:160px;" class="fluid">
                                    <tr>
                                        <td style="padding:0 0 10px 0;">
                                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}conservatory-blinds/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" style="color:#2e2c2c; text-decoration:none;">
                                                <img src="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hamburger_06.jpg" alt="" width="160" height="160" style="display:block;" border="0" class="scale fluid" />
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:16px; color:#2e2c2c;">
                                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}/conservatory-blinds/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" style="color:#2e2c2c; text-decoration:none;">
                                                Conservatory&nbsp;
                                                <img src="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hamburger_10.jpg" alt="" width="6" height="9" style="display:inline-block;" border="0" />
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="20" style="width:20px;">&nbsp;</td>
                            <td>
                                <table width="160" border="0" cellspacing="0" cellpadding="0" style="max-width:160px;" class="fluid">
                                    <tr>
                                        <td style="padding:0 0 10px 0;">
                                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}/inspiration/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" style="color:#2e2c2c; text-decoration:none;">
                                                <img src="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hamburger_07.jpg" alt="" width="160" height="160" style="display:block;" border="0" class="scale fluid" />
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="font-family:'Proxima Nova', Helvetica, Arial, sans-serif; font-size:16px; color:#2e2c2c;">
                                            <a href="{{{tracking.prefix}}}{{project.baseUrl}}/inspiration/{{{tracking.suffix}}}{{{tracking.nameurn}}}" target="_blank" style="color:#2e2c2c; text-decoration:none;">
                                                Inspiration&nbsp;
                                                <img src="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hamburger_10.jpg" alt="" width="6" height="9" style="display:inline-block;" border="0" />
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
{{/column}}
{{/column-wrapper}}
<!--<![endif]-->
{{>spacer height="30" mobileHeight="small"}}
<!-- Nav Interactive : END -->