{{#if bgImage}}
<!--[if gte mso 9]>
<v:image src="{{bgImage}}" xmlns:v="urn:schemas-microsoft-com:vml" style="width:{{calculateColumnSize padding gutter size}}px;height:{{>_height}}px;" />
<v:rect fill="false" stroke="false" style="position:absolute;width:{{calculateColumnSize padding gutter size}}px;height:{{>_height}}px;">
<div>
<![endif]-->
{{/if}}