{{#if fullWidth}}
<table role="presentation" bgcolor="{{>_bgColor}}" cellspacing="0" cellpadding="0" border="0" align="center"
    width="100%">
    <tr>
        <td valign="top" align="center">
            {{/if}}
            {{> @partial-block }}
            {{#if fullWidth}}
        </td>
    </tr>
</table>
{{/if}}