{{#if url}}
<a {{#if class}}class="{{class}} {{>_textStyle default="serif"}}"{{/if}} href="{{>_url}}" target="_blank" style="{{>_textColor}} {{>_textSize}} {{>_textAlign}} {{>_lineHeight default="26px"}} text-decoration:none;">
{{/if}}