<!-- Column : BEGIN -->
<!--[if mso]>
<td align="left" valign="top" width="{{calculateColumnSize columns}}">
<![endif]-->
    <div style="display:inline-block; width:100%; max-width:{{calculateColumnSize columns}}px; vertical-align:top; overflow:hidden;" class="stack-column {{modifier}}">
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td {{#if padding}}style="padding: {{padding}};"{{/if}}>
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 0px; line-height: 0px;">
                        <tr>
                            <td>
                                {{> @partial-block }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
<!--[if mso]>
</td>
<![endif]-->
<!-- Column : END -->
