<!-- Wrapper : BEGIN -->
<table {{#if fullWidth}}class="full-width"{{/if}} role="presentation" {{#if fullWidth}}bgcolor="{{>_bgColor}}"{{/if}} cellspacing="0" cellpadding="0" border="0" align="{{>_align}}" width="100%" {{#if fullWidth}}style="max-width: 100%;"{{else}}style="max-width: 680px"{{/if}}>
    <tr>
        <td valign="{{>_valign}}" align="{{>_align}}" style="padding: {{spacing}} 0px">
              {{>@partial-block }}
        </td>
    </tr>
</table>
<!-- Wrapper : END -->