<!-- Image : BEGIN -->
{{>_urlStart fontSize="0px" lineHeight="0px"}}
<img src="{{src}}" {{#if altText}}alt="{{altText}}"{{/if}} {{#if width}}width="{{width}}"{{else}}width="100%"{{/if}} class="center-on-narrow g-img fluid" style="display: block;">
{{>_urlEnd}}
<!-- Image : END -->
