<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tr>
        <td>
            <hr style="padding: {{#if padding}}{{padding}}{{else}}0{{/if}}; margin:{{#if margin}}{{margin}}{{else}} 0 auto{{/if}}; border: 0; border-bottom: 1px solid #D2D2D2; height: 1px; line-height: 1px;">
        </td>
    </tr>
</table>