{{!-- Start of Email Wrapper --}}
{{#> blank }}

    {{> block-header-interactive}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/covid-19/" fullWidth="true" bgColor="#131F27" }}
        {{#> column padding="15px 0px" modifier="margin-inner-lr-0"}}
            {{#> block-text textAlign="center"}}
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                        <td style="text-align: center;">
                            <a class="sans-serif" href="{{{tracking.prefix}}}https://www.hillarys.co.uk/covid-19/{{{tracking.suffix}}}{{{tracking.nameurn}}}" style="color: #ffffff; line-height: 1; font-size: 16px; text-decoration: none; font-weight: 500;">COVID-19: We are open and making appointments. Find out more</a>
                        </td>
                    </tr>
                </table>
            {{/block-text}}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/"}}
        {{#> column padding="30px 0 30px"}}
            {{> interactive-carousel-5-buttons
                imageSrc1="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/6.jpg"
                imageSrc1Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/6.jpg"
                image1ButtonText="View Roman Blinds"
                url1="https://www.hillarys.co.uk/"
                imageSrc2="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/7.jpg"
                imageSrc2Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/7.jpg"
                image2ButtonText="View Roller Blinds"
                url2="https://www.hillarys.co.uk/"
                imageSrc3="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/8.jpg"
                imageSrc3Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/8.jpg"
                image3ButtonText="View Curtains"
                url3="https://www.hillarys.co.uk/"
                imageSrc4="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/9.jpg"
                imageSrc4Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/9.jpg"
                image4ButtonText="View Shutter"
                url4="https://www.hillarys.co.uk/"
                imageSrc5="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/10.jpg"
                imageSrc5Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/10.jpg"
                image5ButtonText="View Verticals"
                url5="https://www.hillarys.co.uk/"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/"}}
        {{#> column padding="0 0 30px"}}
            {{> interactive-carousel-4-buttons
                imageSrc1="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/6.jpg"
                imageSrc1Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/6.jpg"
                image1ButtonText="View Roman Blinds"
                url1="https://www.hillarys.co.uk/"
                imageSrc2="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/7.jpg"
                imageSrc2Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/7.jpg"
                image2ButtonText="View Roller Blinds"
                url2="https://www.hillarys.co.uk/"
                imageSrc3="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/8.jpg"
                imageSrc3Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/8.jpg"
                image3ButtonText="View Curtains"
                url3="https://www.hillarys.co.uk/"
                imageSrc4="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/9.jpg"
                imageSrc4Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/9.jpg"
                image4ButtonText="View Shutter"
                url4="https://www.hillarys.co.uk/"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/"}}
        {{#> column padding="0 0 30px"}}
            {{> interactive-carousel-buttons
                imageSrc1="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/6.jpg"
                imageSrc1Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/6.jpg"
                image1ButtonText="View Roman Blinds"
                url1="https://www.hillarys.co.uk/"
                imageSrc2="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/7.jpg"
                imageSrc2Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/7.jpg"
                image2ButtonText="View Roller Blinds"
                url2="https://www.hillarys.co.uk/"
                imageSrc3="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/8.jpg"
                imageSrc3Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/8.jpg"
                image3ButtonText="View Curtains"
                url3="https://www.hillarys.co.uk/"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper}}
        {{#> column padding="0 0 30px"}}
            {{> interactive-hotspots
                imageSrc="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hotspots_01.jpg"
                imageSrcMobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hotspots_02.jpg"
                imageAlt="#"
                hotspot1Image="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hotspots_07.jpg"
                hotspot1Alt="#"
                hotspot1Title="Clarence Denim"
                hotspot1Text="Like the look of this? Then arrange an appointment to see it in your home."
                hotspot2Image="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Hotspots_06.jpg"
                hotspot2Alt="#"
                hotspot2Title="Cadillac Noir"
                hotspot2Text="Like the look of this? Then arrange an appointment to see it in your home."
            }}
        {{/column}}
    {{/column-wrapper}}
    
    {{#> column-wrapper}}
        {{#> column padding="0 0 30px"}}
            {{> interactive-tap-reveal
                url="https://www.hillarys.co.uk/"
                imageSrc1="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Tap-To-Reveal_01.jpg"
                imageSrc1Mobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Tap-To-Reveal_03.jpg"
                altText1="Alt Text 1"
                imageSrc2="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Tap-To-Reveal_02.jpg"
                imageSrc2Mobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Tap-To-Reveal_04.jpg"
                altText2="Alt Text 2"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/"}}
        {{#> column padding="0 0 30px"}}
            {{> interactive-carousel
                imageSrc1="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_01.jpg"
                imageSrc1Mobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_04.jpg"
                url1="https://www.hillarys.co.uk/"
                imageSrc2="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_02.jpg"
                imageSrc2Mobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_05.jpg"
                url2="https://www.hillarys.co.uk/"
                imageSrc3="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_03.jpg"
                imageSrc3Mobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_06.jpg"
                url3="https://www.hillarys.co.uk/"
                imageSrcFallback="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_10.gif"
                imageSrcFallbackMobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Carousel_11.gif"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/"}}
        {{#> column padding="0 0 30px"}}
            {{> interactive-carousel-4
                imageSrc1="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00264/3/1.jpg"
                imageSrc1Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00264/3/1.jpg"
                url1="https://www.hillarys.co.uk/"
                imageSrc2="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00264/3/2.jpg"
                imageSrc2Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00264/3/2.jpg"
                url2="https://www.hillarys.co.uk/"
                imageSrc3="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00264/3/3.jpg"
                imageSrc3Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00264/3/3.jpg"
                url3="https://www.hillarys.co.uk/"
                imageSrc4="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00264/3/4.jpg"
                imageSrc4Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00264/3/4.jpg"
                url4="https://www.hillarys.co.uk/"
                imageSrcFallback="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00264/3/1.jpg"
                imageSrcFallbackMobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00264/3/1.jpg"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/"}}
        {{#> column padding="0 0 30px"}}
            {{> interactive-carousel-5
                imageSrc1="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/6.jpg"
                imageSrc1Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/6.jpg"
                imageSrc2="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/7.jpg"
                imageSrc2Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/7.jpg"
                imageSrc3="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/8.jpg"
                imageSrc3Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/8.jpg"
                imageSrc4="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/9.jpg"
                imageSrc4Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/9.jpg"
                imageSrc5="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/10.jpg"
                imageSrc5Mobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00289/10.jpg"
                imageSrcFallback="6.gif"
                imageSrcFallbackMobile="https://hbl-marketing-static.s3.amazonaws.com/emails/HB20-00264/3/1.jpg"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/"}}
        {{#> column padding="0 0 30px"}}
            {{> interactive-accordion
                imageSrc="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_01.jpg"
                imageSrcMobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_02.jpg"
                imageAlt="#"
                title1="Example Title 1"
                innerTitle1="Accordion Open"
                innerDescription1="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
                innerImageSrc1="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
                innerImageAlt1="#"
                title2="Example Title 2"
                innerTitle2="Accordion Open"
                innerDescription2="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
                innerImageSrc2="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
                innerImageAlt2="#"
                title3="Example Title 3"
                innerTitle3="Accordion Open"
                innerDescription3="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
                innerImageSrc3="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
                innerImageAlt3="#"
                title4="Example Title 4"
                innerTitle4="Accordion Open"
                innerDescription4="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
                innerImageSrc4="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
                innerImageAlt4="#"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/"}}
        {{#> column padding="0 0 30px"}}
            {{> interactive-accordion-v3
                imageSrc="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_01.jpg"
                imageSrcMobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_02.jpg"
                imageAlt="#"
                title1="Example Title 1"
                innerTitle1="Accordion Open"
                innerDescription1="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
                innerImageSrc1="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
                innerImageAlt1="#"
                title2="Example Title 2"
                innerTitle2="Accordion Open"
                innerDescription2="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
                innerImageSrc2="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
                innerImageAlt2="#"
                title3="Example Title 3"
                innerTitle3="Accordion Open"
                innerDescription3="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
                innerImageSrc3="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
                innerImageAlt3="#"
                title4="Example Title 4"
                innerTitle4="Accordion Open"
                innerDescription4="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
                innerImageSrc4="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
                innerImageAlt4="#"
                title5="Example Title 5"
                innerTitle5="Accordion Open"
                innerDescription5="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
                innerImageSrc5="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
                innerImageAlt5="#"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper url="https://www.hillarys.co.uk/"}}
        {{#> column padding="0 0 30px"}}
            {{> interactive-accordion-v2
                imageSrc="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_01.jpg"
                imageSrcMobile="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_02.jpg"
                imageAlt="#"
                title1="Example Title 1"
                innerTitle1="Accordion Open"
                innerDescription1="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
                innerImageSrc1="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
                innerImageAlt1="#"
                buttonURL1="https://www.hillarys.co.uk/"
                buttonText1="Button Text 1"
                title2="Example Title 2"
                innerTitle2="Accordion Open"
                innerDescription2="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
                innerImageSrc2="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
                innerImageAlt2="#"
                buttonURL2="https://www.hillarys.co.uk/"
                buttonText2="Button Text 2"
                title3="Example Title 3"
                innerTitle3="Accordion Open"
                innerDescription3="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
                innerImageSrc3="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
                innerImageAlt3="#"
                buttonURL3="https://www.hillarys.co.uk/"
                buttonText3="Button Text 3"
                title4="Example Title 4"
                innerTitle4="Accordion Open"
                innerDescription4="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."
                innerImageSrc4="http://wpm.ccmp.eu/wpm/100265/ContentUploads/2019_07_Hillarys_Accordion_05.jpg"
                innerImageAlt4="#"
                buttonURL4="https://www.hillarys.co.uk/"
                buttonText4="Button Text 4"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{> block-campaign-header
        subTitle="LOVE OUR"
        title="Spring Sale"
    }}
    
    {{> block-two-stackable-images
        imageSrc1="http://www.placehold.it/600x600"
        altText1="Alt Text"
        url1="https://www.hillarys.co.uk/"
        imageSrc2="http://www.placehold.it/600x600"
        altText2="Alt Text"
        url2="https://www.hillarys.co.uk/"
    }}

    {{#> column-wrapper fullWidth="true" bgColor="#ffffff" }}
        {{#> column padding="30px 0 0"}}
            {{> block-video
                url="https://www.google.com"
                videoURL="https://www.hillarys.co.uk/static/media/ts-cold-feet-2.mp4"
                posterImage="https://www.hillarys.co.uk/static/media/ts-poster.jpg"
                altText="Alt Text"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{> block-three-image-gallery
        fullTitle="MORE FROM THE COLLECTION"
        imageSrc1="http://www.placehold.it/500x600"
        altText1="Alt Text"
        url1="https://www.hillarys.co.uk/"
        title1="Title One"
        imageSrc2="http://www.placehold.it/500x600"
        altText2="Alt Text"
        url2="https://www.hillarys.co.uk/"
        title2="Title Two"
        imageSrc3="http://www.placehold.it/500x600"
        altText3="Alt Text"
        url3="https://www.hillarys.co.uk/"
        title3="Title Three"
    }}

    {{#> column-wrapper fullWidth="true" bgColor="#EC0142" }}
        {{#> column padding="20px 0"}}
            {{> block-countdown
                url="https://www.hillarys.co.uk/"
                title="HURRY! SALE ENDS IN:"
                countdownFontSize="60"
                countdownTime="20220805"
                countdownBG="EC0142"
                countdownTextColor="ffffff"
                countdownFont="ProximaNovaBold"
            }}
        {{/column}}
    {{/column-wrapper}}

    {{> block-four-image-gallery
        fullTitle="MORE FROM THE COLLECTION"
        imageSrc1="http://www.placehold.it/500x600"
        altText1="Alt Text"
        url1="https://www.hillarys.co.uk/"
        title1="Title One"
        imageSrc2="http://www.placehold.it/500x600"
        altText2="Alt Text"
        url2="https://www.hillarys.co.uk/"
        title2="Title Two"
        imageSrc3="http://www.placehold.it/500x600"
        altText3="Alt Text"
        url3="https://www.hillarys.co.uk/"
        title3="Title Three"
        imageSrc4="http://www.placehold.it/500x600"
        altText4="Alt Text"
        url4="https://www.hillarys.co.uk/"
        title4="Title Four"
    }}

    {{#> column-wrapper fullWidth="true" bgColor="#ffffff" spacing="50px" url="https://www.google.com" }}
        {{#> column}}
            {{#> block-text url="https://www.google.com"}}
                {{>h1 margin="0px 0px 30px" textColor="#000000" text="Example H1 Header"}}
                {{>h2 margin="0px 0px 30px" textColor="#000000" text="Example H2 Header"}}
                {{>h3 margin="0px 0px 30px" textColor="#000000" text="Example H3 Header"}}
                {{>h4 margin="0px 0px 30px" textColor="#000000" text="Example H4 Header"}}
                {{>p-large text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."}}
                {{>p text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat"}}
                {{>p margin="30px 0px 0px" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat"}}
                {{>button margin="30px 0px 50px" text="Example CTA" textColor="#ffffff"}}
            {{/block-text}}

            {{> block-image margin="0px 0px" bgColor="#ffffff" url="https://www.google.com" altText="Placeholder Image" src="https://placehold.it/680x400"}}
            {{>button-fw margin="0px 0px 30px" text="Example CTA" textColor="#ffffff"}}
       {{/column}}
    {{/column-wrapper}}

    {{#> column-wrapper fullWidth="true" bgColor="#ffffff" spacing="50px" url="https://www.google.com" }}
        {{#> column}}
            {{> block-image-responsive margin="0px 0px" bgColor="#ffffff" url="https://www.google.com" altText="Placeholder Image" src="https://placehold.it/680x400" srcMobile="https://placehold.it/680x680"}}
        {{/column}}
    {{/column-wrapper}}
    
    {{> block-sponsor}}
    
    {{> block-request}}
    
    {{> block-social}}

    {{#> block-footer
        bgColor="#f4f4f3"
    }}
    {{/block-footer}}

{{/blank}}
{{!-- End of Email Wrapper --}}